//#== Fonts

@font-face {
	font-family: "Trade Gothic W01";
	font-weight: normal;
	src: url("../../fonts/Trade Gothic W01 Regular.woff2") format("woff2"), url("../../fonts/Trade Gothic W01 Regular.woff") format("woff"), url("../../fonts/Trade Gothic W01 Regular.ttf") format("truetype");
	font-weight: bold;
 }
 
@font-face {
	font-family: "Trade Gothic W01";
	font-weight: bold;
	src: url("../../fonts/Trade Gothic W01 Bold.woff2") format("woff2"), url("../../fonts/Trade Gothic W01 Bold.woff") format("woff"), url("../../fonts/Trade Gothic W01 Bold.ttf") format("truetype");
	font-weight: bold;
 }