---
---

@import "variables";
@import "mixins/animation";
@import "mixins/row-framework";
@import "slick";
@import "typography";
@import "grid-rows";
@import "animation";
@import "blog";
@import "resume";
@import "printing";
@import "solar";
@import "gsc";

ul, ol {
	list-style-position: outside;
}

a.text-danger, a .text-danger {
	&:hover, &:focus {
		color: darken($state-danger-text, 15%);
	}
}

.btn-inverse {
	background-color: $text-color;
	color: white;

	&:hover, &:focus, &.focus {
		color: $gray-light;
	}
}

.show-grid {
	margin-bottom: $grid-gutter-width / 2;
}

//# BEGIN - Carousel
main > .carousel.slide:first-child {
	margin-top: -45px;
}

.carousel-control {
	visibility: hidden;
	background-image: none !important;
	filter: none !important;

	&:hover, &:focus {
		visibility: visible;
	}
}

.carousel-inner {
	.slick-slide {
		position: relative;
		background-size: contain;

		img {
			display: inline-block;
		}
	}

	&:hover, &:focus {
		+ .carousel-control, + .carousel-control + .carousel-control {
			visibility: visible;
		}
	}

	.content-fixed img {
		width: auto;
		height: 100%;
	}
}

.carousel-caption {
	top: 10%;
	left: 10%;
	right: auto;
	bottom: auto;
	text-align: left;
	text-shadow: none;
}

.carousel-indicators {
	display: flex !important;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;

	> li {
		flex: 1;
		border-radius: 0;
		border: none;
		background-color: $text-color;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.slick-active {
			background-color: $carousel-indicator-active-bg;
		}
	}
}
//# END - Carousel

.list-grid {
	display: flex;
	flex-flow: row wrap;
	padding-left: 0;
	list-style-position: inside;

	> * {
		> ol {
			padding-top: $grid-gutter-width / 3;
			border-top: solid 1px $gray-light;
			margin-top: $grid-gutter-width / 3;
		}
	}
}

section, blockquote{
	> p {
		text-indent: 1em;
	}
}

.view-perspective {
	transition-property: transform;
	transition-duration: 0.5s;


	&:hover, &:focus {
		z-index: 10;
		transform: matrix(1.1, 0, 0, 1.1, 0, 0) rotateY(0deg);
	}
}

.nav {
	font-family: $font-family-sans-serif;
}

.navbar-brand {
	letter-spacing: -6px;
	font-weight: bold;
	font-family: "Trade Gothic";
	font-size: 90px;
	color: $text-color;
}

#subNavbar {
	min-height: 30px;

	.nav > li {
		margin-top: 7px;
		margin-bottom: 7px;
		
		&.pull-right + .pull-right {
			border-right: solid 1px $body-bg;
		}

		> a {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 16px;
			font-size: 12px;
			font-style: italic;
			font-weight: bold;
			font-family: $font-family-serif;

			&:not(.text-primary) {
				color: #969789;
			}

			&:hover, &:focus {
				&:not(.text-primary) {
					color: #e4e2dd;
				}
			}
		}
	}

	+ .navbar {
		min-height: 75px;

		.navbar-brand {
			height: 75px;
			line-height: 60px;
		}

		.nav > li {
			height: 75px;

			+ li {
				border-left: dotted 1px $text-color;
			}

			.fa {
				vertical-align: top;
			}

			> a > span {
				max-width: 80px;
				margin-left: 0.5em;
				line-height: 1.2;
				color: $text-color;
			}
		}
	}
}

nav.navbar {
	margin-top: 20px;
	border-top: dotted 1px $text-color;
	border-bottom: solid 8px $text-color;
	border-left-width: 0;
	border-right-width: 0;
	font-family: $font-family-sans-serif;

	.navbar-brand > img {
		height: 30px;
		margin-top: -2px;
	}

	.navbar-toggle {
		padding-left: 0;
		padding-right: 0;

		.icon-bar {
			background-color: $text-color;
		}
	}

	.navbar-form {
		margin-top: 6px;
		margin-bottom: 6px;

		.form-control {
			padding-top: 0;
			padding-bottom: 0;
			height: 22px;
			box-shadow: 0 1px 1px $gray-darker inset;

			@media (min-width: $screen-tablet) {
				width: 126px;
			}
		}

		.input-group-btn {
			padding-left: 6px;
		}

		.btn {
			padding-top: 1px;
			padding-bottom: 1px;
		}
	}

	.nav > li {
		border-left: solid 1px #9b9893;
		font-weight: bold;

		&.open .fa-caret-down:before {
			content: "\f0d8";
		}

		> a {
			line-height: 1;
		}
	}
}

.h-listing {
	.h-entry {
		margin-bottom: $grid-gutter-width;
	}

	hr {
		margin-top: 8px;
		margin-bottom: 5px;
		border-style: dotted;
		border-color: $gray;
	}

	.col-md-3 {
		.p-name {
			margin-top: 10px;
			margin-bottom: 2px;
		}
	}

	.col-md-4 {
		.p-name {
			margin-top: 20px;
			margin-bottom: 2px;
		}
	}

	.thumbnail {
		padding: 0;
		border-width: 0; 
		box-shadow: none;

		.caption {
			padding: 0;
		}
	}

	.col-md-4 figure, figure .box-figure {
		padding: 10px;
		background-color: white;
		box-shadow: 1px 1px 2px $gray-light;
		overflow: hidden;
	}

	.p-category, .p-summary {
		margin-bottom: 0;
		font-style: italic;
		font-family: "Freight Text";
	}

	.u-url {
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
	}

	.p-rating {
		.fa {
			width: 1em;
		}

		.fa-lg {
			vertical-align: baseline;
		}

		> span:first-child {
			display: inline-block;
			margin-right: 1em;
			overflow: hidden;

			> span {
				display: inline-block;
				width: 10em;
			}
		}
	}

	.p-votes {
		vertical-align: 10%;
		font-family: $font-family-sans-serif;
	}
}

.list-preview {
	.row > hr {
		margin-left: 6px;
		margin-right: 6px;

		+ div {
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	.btn-sm {
		padding: 0 5px;
	}
}

body > * > footer {
	padding: 2em 0 4em;
	background-color: $text-color;
	color: white;

	&:before {
		content: " ";
		display: block;
		margin-top: -40px;
		margin-bottom: 30px;
		border-top: solid 5px $text-color;
	}
}

#fixedProgress {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 60px;
	height: 60px;
	visibility: visible;

	.progress-circular {
		width: 100%;
		height: 100%;
		border-top: solid 6px $brand-danger;
		border-right: solid 6px $brand-warning;
		border-bottom: solid 6px $brand-success;
		border-left: solid 6px $brand-info;
		border-radius: 50%;
		background-color: white;
	}

	.progress-label {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-origin: padding;
		text-align: center;
		line-height: 60px;
		letter-spacing: -2px;
		font-size: 24px;
		font-weight: bold;
		font-family: $font-family-sans-serif;
		color: $gray;
	}
}

.loading {
	position: relative;
	visibility: hidden;
}
	
#progressBar {
	width: 100%;
	height: 8px;
	margin-top: -28px;
	overflow: hidden;
	background-color: $text-color;
}

.modal-preview {
	.modal-footer {
		text-align: left;
	}

	.carousel-control {
		&.disabled {
			pointer-events: none;
			cursor: not-allowed;
			text-shadow: none;
			box-shadow: none;
			opacity: 0.25;
			filter: alpha(opacity=25);
			color: $gray-lighter;
		}
	}

	.loading {
		height: 10px;
		margin-top: -10px;
		margin-bottom: 0;
	}
}

.container-404 {
	margin-top: -$grid-gutter-width;
	margin-bottom: -$grid-gutter-width / 2;
	overflow: hidden;
	background-color: $text-color;
	color: white;
}

@media (min-width: $screen-desktop) {
	.list-preview {
		.col-md-3 {
			padding-left: 0;
		}
	}
}

@media (min-width: $grid-float-breakpoint) {
	#subNavbar + .navbar .nav > li > a > span {
		display: inline-block;
	}

	nav.navbar {
		.nav > li {
			margin-top: 11px;
			margin-bottom: 11px;

			> a {
				padding-top: 0;
				padding-bottom: 0;
			}

			> .dropdown-menu {
				top: 0;
				padding: 1.8em 0 0;
				margin-top: 0;
				margin-left: -2px;
				border-width: 0 0 1px 3px;
				border-color: #9b9893;
				background-color: transparent;
				box-shadow: none;
	
				> li {
					background-color: white;
				}
			}
		}
	}

	.list-preview {
		.p-name, .p-summary, {
			height: 2.4em;
			overflow: hidden;
			line-height: 1.2;
			text-overflow: ellipsis;
		}

		.col-md-4 {
			.p-name, .p-summary {
				white-space: nowrap;
				max-height: 1.2em;
			}

			.p-summary {
				padding-right: 2.1em;

				+ a {
					float: right;
					margin-top: -20px;
				}
			}
		}

		.col-md-3 {
			.thumbnail {
				margin-bottom: 0;
			}
		}
	}

	.modal-preview {
		.modal-dialog , .modal-content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		.modal-header, .modal-body, .modal-footer {
			position: absolute;
			top: 0;
			right: 0;
		}

		.modal-header {
			width: 100%;
			z-index: 1;
		}

		.modal-body {
			width: 56.25%;
			height: 100%;
			padding-top: $modal-title-padding * 2 + $line-height-base * $font-size-h4 + $grid-gutter-width / 2;
		}

		.modal-footer {
			left: 0;
			right: auto;
			width: 43.75%;
			height: 100%;
			padding-top: $modal-title-padding * 2 + $line-height-base * $font-size-h4;
			padding-bottom: 0;

			.panel {
				height: 100%;
				margin-bottom: 0;
				overflow: auto;
			}
		}

		.carousel, .carousel-inner, .carousel-inner .item {
			height: 100%;
		}

		#posterCanvas {
			height: 100%;
		}
	}

	.carousel-control {
		.glyphicon-chevron-left, .glyphicon-chevron-right, .icon-next, .icon-prev {
			height: 100px;
			margin-top: -70px;
			font-size: 100px;
		}
	}
}

@media (max-width: $grid-float-breakpoint-max) {
	#subNavbar + .navbar {
		.navbar-header {
			float: left;
		}

		.navbar-nav.navbar-right {
			float: right !important;
		}

		.nav > li {
			float: left;
		}
	}

	.navbar .navbar-collapse {
		background-color: white;

		.nav > li + li {
			border-bottom: solid 1px $gray-dark;
		}

		.nav {
			border-top: solid 8px $text-color;
			margin-top: 0;

			> li {
				border-left-width: 0;
	
				&:first-child {
					border-top: solid 1px $gray-dark;
					border-bottom: solid 1px $gray-dark;
				}
	
				> .dropdown-menu {
					padding-top: 0;
					padding-bottom: 0;
	
					> li {
						border-top: solid 1px $gray-light;
	
						> a, &.dropdown-header {
							padding: 10px 15px;
							line-height: 1;
						}
					}
				}
	
				> a > .fa {
					float: right;
				}
			}
		}
	}
}