---
layout: default
---

<article class="container">
	<h1><a href="dummy_split_002.html#filepos6914">How to Use the Holy Bible (NIV), eBook Edition</a></h1>
	<p>Following is a guide to navigating this eBook on your digital device. Although functionality and capability of digital devices vary widely, the following notes will help you find the many helpful features of this eBook no matter which device you’re using.</p>
	<section>
		<h2>Footnotes</h2>
		<p>All footnotes found in this Bible are represented as links. Use your reading device to select and activate a link.</p>
		<p>A number located inside brackets ([1]) links to a footnote.</p>
	</section>
	<section>
		<h2>Navigation</h2>
		<p>To navigate throughout this eBook edition Bible, use your reading device to access the Table of Contents. The Table of Contents provides instant access to every book of the Bible, and will point you toward all of the additional study resources contained within this eBook edition Bible.</p>
		<p>If you have further questions, we recommend that you refer to your specific eReader’s instruction manual or customer support guide.</p>
	</section>
</article>