---
layout: default
title: Blogs
permalink: /blog/
---

<section class="container-fluid">
	<h1>Blogs</h1>
	<ul class="list-unstyled">
		{% for post in site.posts %}
		<li class="media">
			<div class="media-left">
				<a href="{{ post.url | prepend: site.baseurl }}"> <img class="media-object" src="..." alt="{{ post.date | date: "%b %-d, %Y" }}"></a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ post.title }}</h4>
				...
			</div>
		</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe"> subscribe <a href="{{ " /feed.xml" | prepend:site.baseurl }}">via RSS</a> </p>
</section>
