---
layout: default
title: Design Collections
permalink: /design/
---

			<ul id="containerListing" class="clearfix list-unstyled list-grid h-listing">
			</ul>
			<div id="fixedProgress" class="loading">
				<div class="progress-circular"></div>
				<div class="progress-label">0</div>
			</div>
			<template id="tl-preview">
				<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 h-item h-review-aggregate">
					<figure class="thumbnail">
						<img class="center-block" src="" alt="" aria-hidden="true">
						<figcaption>
							<div class="caption">
								<h3 class="p-name"><strong></strong></h3>
								<p class="p-summary">
								</p>
							</div>
						</figcaption>
						<a class="u-url" role="button" href="javascript:void(0);">View more...</a>
					</figure>
				</li>
			</template>
			<template id="tl-modalPreview">
				<div id="modalPreview" class="modal fade modal-preview" tabindex="-1" role="dialog" aria-labelledby="mediaTitle">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="mediaTitle"></h4>
							</div>
							<div class="modal-body">
								<div id="carousel-modalPreview" class="carousel slide">
									<div class="carousel-inner">
										<div class="item active">
											<canvas id="posterCanvas" width="900" height="1600" class="img-responsive center-block"></canvas>
											<div class="carousel-caption">
											</div>
										</div>
									</div>
									<a class="left carousel-control" href="javascript:void(0);" role="button">
										<span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="javascript:void(0);" role="button">
										<span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
							<div class="modal-footer">
								<div class="panel">
									<div class="panel-body">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>