---
layout: withBreadcrumbs
title: Examination Papers
permalink: /examination/
---

{% assign groups = site.Examination | group_by:"title" %}
<div class="container mx-auto">
		{% for group in groups %}
		<ol class="list-group mb-3">
			{% for examination in group.items %}
			<li class="list-group-item d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fw-bold">
						<a href="{{ sub.url | prepend: examination.url }}">{{ examination.title }}</a>
					</div>
					{% if examination.courseID %}
						四川省<strong>{{ examination.period }}</strong>高等教育自学考试
					{% else %}
					<strong>{{ examination.period }}</strong>
					{% endif %}
				</div>
				{% if examination.courseID %}
				<span class="badge bg-primary rounded-pill">{{ examination.courseID }}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ol>
		{% endfor %}
</div>