<div id="containerListing" class="clearfix h-listing" style="display: flex; flex-flow: row wrap;">
	<!-- <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3 h-item h-review-aggregate" ng-repeat="preview in previews">
		<figure class="thumbnail">
			<p class="p-category">
				<span class="text-capitalize">{{preview.Type}}</span>
				<span ng-if="preview.Genre">: </span>
				<span class="text-capitalize">{{preview.Genre}}</span>
			</p>
			<hr />
			<img class="center-block" ng-src="{{preview.Poster}}" alt="Unavailable Photo">
			<figcaption>
				<div class="caption">
					<h3 class="p-name"><strong>{{preview.Title}}</strong></h3>
					<p><span class="text-muted">Director: </span><strong>{{preview.Director}}</strong></p>
					<p><span class="text-muted">Actors: </span><strong>{{preview.Actors}}</strong></p>
					<p class="p-summary"><span class="text-muted">Plot: </span>{{preview.Plot}}</p>
					<p class="p-rating">
						<span  ng-style="{width : preview.imdbRating + 'em'}"><span class="p-count text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></span>
						<span class="p-votes">
							<span class="text-success fa-lg">{{preview.imdbRating}}</span> 
							<small class="text-muted">({{preview.imdbVotes}})</small>
						</span>
					</p>
				</div>
			</figcaption>
			<a class="u-url" target="_blank" ng-href="{{imdbHost + 'title/' + preview.imdbID}}"><strong><i>Read more...</i></strong></a>
		</figure>
	</div> -->
</div>
<div id="fixedProgress" ng-class="{loading : loading}">
	<div class="progress-circular"></div>
	<div class="progress-label" ng-bind="countPreview"></div>
</div>