---
layout: default
title: Printing
permalink: /printing/
pageName: printing
---

<article class="section-printing">
	<header>
		<h1 class="container-fluid">
			Marching <small> Printing</small>
		</h1>
		<span class="arrow-top" aria-hidden="true"></span>
		<span class="arrow-bottom"></span>
		<i class="fa fa-print" aria-hidden="true"></i>
	</header>
	<div class="mb-4 clearfix d-md-none"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="text-center">
					<i class="fa fa-file-word fa-2x text-primary"><span class="visually-hidden">Word</span></i>
					<i class="fa fa-file-excel fa-2x text-primary"><span class="visually-hidden">Excel</span></i>
					<i class="fa fa-file-pdf fa-2x text-primary"><span class="visually-hidden">PDF</span></i>
					<i class="fa fa-file-image fa-2x text-primary"><span class="visually-hidden">Photo</span></i>
					<i class="fa fa-copy fa-2x text-primary"><span class="visually-hidden">Scan/Copy</span></i>
				</div>
				<div class="mb-4 clearfix"></div>
				<section class="row">
					<h2 class="container-fluid">万科天府公园城打印</h2>
					<div class="ratio ratio-1x1">
						<div id="locatorMap" class="ratio-item">
						</div>
					</div>
				</section>
				<div class="mb-5 clearfix d-md-none"></div>
			</div>
			<div class="col-md-5 offset-md-1 col-xs-12">
				<section>
					<h2 class="visually-hidden">Items Detail</h2>
					<ul class="list-unstyled">
						<li class="d-flex">
							<div class="flex-shrink-0">
								<i class="fa fa-adjust fa-3x fa-fw" aria-hidden="true"></i>
							</div>
							<div class="flex-grow-1 ms-3">
								<h4 class="fs-5">黑白打印</h4>
								<p><span class="text-primary">0.5￥</span>/1 copy</p>
							</div>
						</li>
						<li class="d-flex">
							<div class="flex-shrink-0">
								<i class="fa fa-copy fa-3x fa-fw" aria-hidden="true"></i>
							</div>
							<div class="flex-grow-1 ms-3">
								<h4 class="fs-5">复印</h4>
								<p><span class="text-primary">1.0￥</span>/1 copy</p>
							</div>
						</li>
						<li class="d-flex">
							<div class="flex-shrink-0">
								<i class="fa fa-file-image fa-3x fa-fw text-primary" aria-hidden="true"></i>
							</div>
							<div class="flex-grow-1 ms-3">
								<h4 class="fs-5">彩打</h4>
								<p><span class="text-primary">1.0￥</span>/1 copy</p>
							</div>
						</li>
						<li class="d-flex">
							<div class="flex-shrink-0">
								<i class="fa fa-image fa-3x fa-fw text-primary" aria-hidden="true"></i>
							</div>
							<div class="flex-grow-1 ms-3">
								<h4 class="fs-5">照片打印</h4>
								<p><span class="text-primary">2.0￥</span>/1 copy</p>
							</div>
						</li>
						<li class="d-flex">
							<div class="flex-shrink-0">
								<i class="fa fa-users fa-3x fa-fw text-primary" aria-hidden="true"></i>
							</div>
							<div class="flex-grow-1 ms-3">
								<h4 class="fs-5">证件照打印</h4>
								<p><span class="text-primary">5.0￥</span>/1 copy</p>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<div class="mb-5 clearfix"></div>
	<footer class="container-fluid">
		<i class="fab fa-qq fa-2x"></i>
		<hr />
		<p>
			<strong class="fa-lg">打印 QQ Account: <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2195034239&site=qq&menu=yes">2195034239</a></strong>
			<br />或者发送电子邮件至 <a href="mailto:2195034239@qq.com?subject=Marching Print">the QQ email</a>.
		</p>
	</footer>
	<div class="mb-3 clearfix"></div>
</article>
<div class="mb-4 clearfix"></div>