---
layout: withBreadcrumbs
title: Printing
permalink: /printing/
pageName: printing
---

<div class="container A4">
	<article class="row content printing">
		<!-- <header>
				<h2>Marching <small>Printing</small></h2>
				<i class="fa fa-print" aria-hidden></i>
			</header> -->
		<h1 class=""><img width="794" height="493" class="img-responsive center-block" alt="Marching Printing" src="/images/Marching-Printing.png"></h1>
		<div class="show-grid clearfix visible-xs-block"></div>
		<div class="show-grid clearfix visible-xs-block"></div>
		<div class="col-sm-4 col-xs-12">
			<div class="text-center">
				<i class="fa fa-file-word-o fa-2x text-danger"><span class="sr-only">Word</span></i>
				<i class="fa fa-file-excel-o fa-2x text-danger"><span class="sr-only">Excel</span></i>
				<i class="fa fa-file-pdf-o fa-2x text-danger"><span class="sr-only">PDF</span></i>
				<i class="fa fa-file-photo-o fa-2x text-danger"><span class="sr-only">Photo</span></i>
				<i class="fa fa-copy fa-2x text-danger"><span class="sr-only">Scan/Copy</span></i>
			</div>
			<section class="row">
				<h2 class="">Professional Printing at <img width="20" height="20" alt="" src="/images/logo-poly.png" arria-hidden="true"> Poly Community</h2>
				<div class="scalingBox squareBox">
					<div id="locatorMap" class="scalingcontent">
					</div>
				</div>
				<p class="hidden">
					<a href="http://cn.bing.com/ditu/?FORM=Z9LH4#JnE9LiUyNXU1YmNjJTI1dTUzNGUlMjV1NTM1NyUyNXU4ZGVmJTJiMTYwNiUyYiUyNXU1M2Y3JTdlc3N0LjAlN2VwZy4xJmJiPTMxLjExNzIyMDM4NDQxMDQlN2UxMDQuNzA5MDkzNjc2NzU4JTdlMzAuMjIwNjk5ODA1ODAwNiU3ZTEwMy40MzMzMDYzMjMyNDI=">
							<img class="img-responsive center-block" alt="Adress map" src="/images/map-printing.png">Click here to view the locator in Bing Map.
						</a>
				</p>
			</section>
		</div>
		<div class="clearfix show-grid visible-xs-block"></div>
		<div class="clearfix show-grid visible-xs-block"></div>
		<div class="col-sm-5 col-sm-offset-1 col-xs-12">
			<section class="row">
				<h2 class="sr-only">Items Detail</h2>
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-left">
							<i class="fa fa-adjust fa-3x fa-fw" aria-hidden="true"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Black & White Printing</h4>
							<p><span class="text-danger">0.5￥</span>/1 copy</p>
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<i class="fa fa-clipboard fa-3x fa-fw" aria-hidden="true"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Scanning (Copy)</h4>
							<p><span class="text-danger">1.0￥</span>/1 copy</p>
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<i class="fa fa-file-image-o fa-3x fa-fw text-danger" aria-hidden="true"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Colour Printing</h4>
							<p><span class="text-danger">1.0￥</span>/1 copy</p>
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<i class="fa fa-picture-o fa-3x fa-fw text-danger" aria-hidden="true"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Photo Printing</h4>
							<p><span class="text-danger">2.0￥</span>/1 copy</p>
						</div>
					</li>
					<li class="media">
						<div class="media-left">
							<i class="fa fa-users fa-3x fa-fw text-danger" aria-hidden="true"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Passport Photo Printing</h4>
							<p><span class="text-danger">5.0￥</span>/1 copy (with 9 pieces, without taking photo) 10.0￥/1 copy (with 9 pieces & taking photo)</p>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<div class="show-grid clearfix"></div>
		<div class="show-grid clearfix"></div>
		<div class="show-grid clearfix"></div>
		<footer class="col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="row">
				<i class="fa fa-qq fa-2x"></i>
				<hr />
				<p>
					<strong class="fa-lg">QQ Account for Printing : <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2195034239&site=qq&menu=yes">2195034239</a></strong>
					<br /><br />or Send a mail with a subject starting “Marching Print” to <a href="mailto:2195034239@qq.com?subject=Marching Print">the QQ email</a>.
				</p>
			</div>
		</footer>
		<div class="show-grid clearfix"></div>
		<div class="show-grid clearfix"></div>
	</article>
</div>