<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos11175973" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos15177" class="calibre9"><span class="calibre10">3 John</span></a></span></p><div class="calibre4"> </div>
<div id="filepos11176142" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos244717" class="calibre9"><span class="calibre10">3 John 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre6"><span><sup class="calibre23">1</sup>The elder,</span></p>
<br class="calibre1"/><p class="calibre6"><span>To my dear friend Gaius, whom I love in the truth.</span></p>
<br class="calibre1"/><br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">2</sup>Dear friend, I pray that you may enjoy good health and that all may go well with you, even as your soul is getting along well. <sup class="calibre23">3</sup>It gave me great joy when some believers came and testified about your faithfulness to the truth, telling how you continue to walk in it. <sup class="calibre23">4</sup>I have no greater joy than to hear that my children are walking in the truth.</span></p>
<p class="calibre6"><span><sup class="calibre23">5</sup>Dear friend, you are faithful in what you are doing for the brothers and sisters,<a id="filepos11177239" href="#filepos11179189" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a> even though they are strangers to you. <sup class="calibre23">6</sup>They have told the church about your love. Please send them on their way in a manner that honors God. <sup class="calibre23">7</sup>It was for the sake of the Name that they went out, receiving no help from the pagans. <sup class="calibre23">8</sup>We ought therefore to show hospitality to such people so that we may work together for the truth.</span></p>
<p class="calibre6"><span><sup class="calibre23">9</sup>I wrote to the church, but Diotrephes, who loves to be first, will not welcome us. <sup class="calibre23">10</sup>So when I come, I will call attention to what he is doing, spreading malicious nonsense about us. Not satisfied with that, he even refuses to welcome other believers. He also stops those who want to do so and puts them out of the church.</span></p>
<p class="calibre6"><span><sup class="calibre23">11</sup>Dear friend, do not imitate what is evil but what is good. Anyone who does what is good is from God. Anyone who does what is evil has not seen God. <sup class="calibre23">12</sup>Demetrius is well spoken of by everyone—and even by the truth itself. We also speak well of him, and you know that our testimony is true.</span></p>
<p class="calibre6"><span><sup class="calibre23">13</sup>I have much to write you, but I do not want to do so with pen and ink. <sup class="calibre23">14</sup>I hope to see you soon, and we will talk face to face.</span></p>
<br class="calibre1"/><br class="calibre1"/><p class="calibre6"><span>Peace to you. The friends here send their greetings. Greet the friends there by name.</span></p>
</div>
</div>
<div title="notes" id="fnn64" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">3 John 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos11179189" class="calibre6"><span class="calibre8"><a href="#filepos11177239" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:5</span> The Greek word for <span class="italic">brothers and sisters</span> (<span class="italic">adelphoi</span>) refers here to believers, both men and women, as part of God’s family.</span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_102"></div></body>
</html>
