<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos8890289" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos8122" class="calibre9"><span class="calibre10">Habakkuk</span></a></span></p><div class="calibre4"> </div>
<div id="filepos8890460" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos191882" class="calibre9"><span class="calibre10">Habakkuk 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre15"><span><sup class="calibre23">1</sup>The prophecy that Habakkuk the prophet received.</span></p>
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk’s Complaint</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>How long, <span><span class="calibre8">LORD</span></span>, must I call for help,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but you do not listen?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Or cry out to you, “Violence!”</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but you do not save?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>Why do you make me look at injustice?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Why do you tolerate wrongdoing?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Destruction and violence are before me;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>there is strife, and conflict abounds.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>Therefore the law is paralyzed,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and justice never prevails.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The wicked hem in the righteous,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>so that justice is perverted.</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">The <span><span class="calibre31">LORD</span></span>’s Answer</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p id="filepos8893159" class="calibre6"><span><sup class="calibre23">5</sup>“Look at the nations and watch—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and be utterly amazed.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>For I am going to do something in your days</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that you would not believe,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>even if you were told.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>I am raising up the Babylonians,<a id="filepos8894106" href="#filepos8926766" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that ruthless and impetuous people,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>who sweep across the whole earth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to seize dwellings not their own.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>They are a feared and dreaded people;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they are a law to themselves</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and promote their own honor.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Their horses are swifter than leopards,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>fiercer than wolves at dusk.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Their cavalry gallops headlong;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>their horsemen come from afar.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They fly like an eagle swooping to devour;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">9</sup>they all come intent on violence.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Their hordes<a id="filepos8896308" href="#filepos8927008" class="calibre9"><span class="calibre10"><sup class="calibre23">[2]</sup></span></a> advance like a desert wind</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and gather prisoners like sand.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>They mock kings</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and scoff at rulers.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They laugh at all fortified cities;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>by building earthen ramps they capture them.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>Then they sweep past like the wind and go on—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>guilty people, whose own strength is their god.”</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk’s Second Complaint</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup><span><span class="calibre8">LORD</span></span>, are you not from everlasting?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>My God, my Holy One, you<a id="filepos8898148" href="#filepos8927284" class="calibre9"><span class="calibre10"><sup class="calibre23">[3]</sup></span></a> will never die.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>You, <span><span class="calibre8">LORD</span></span>, have appointed them to execute judgment;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you, my Rock, have ordained them to punish.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Your eyes are too pure to look on evil;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you cannot tolerate wrongdoing.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Why then do you tolerate the treacherous?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Why are you silent while the wicked</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>swallow up those more righteous than themselves?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>You have made people like the fish in the sea,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>like the sea creatures that have no ruler.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>The wicked foe pulls all of them up with hooks,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he catches them in his net,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>he gathers them up in his dragnet;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and so he rejoices and is glad.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>Therefore he sacrifices to his net</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and burns incense to his dragnet,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for by his net he lives in luxury</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and enjoys the choicest food.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>Is he to keep on emptying his net,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>destroying nations without mercy?</span></p></blockquote>
</div>
</div>
</div>
<br class="calibre1"/><div id="filepos8901605" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos192063" class="calibre9"><span class="calibre10">Habakkuk 2</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">1</sup>I will stand at my watch</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and station myself on the ramparts;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>I will look to see what he will say to me,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and what answer I am to give to this complaint.<a id="filepos8902433" href="#filepos8927687" class="calibre9"><span class="calibre10"><sup class="calibre23">[4]</sup></span></a></span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">The <span><span class="calibre31">LORD</span></span>’s Answer</span></span></p><div class="calibre4"> </div>
<p class="calibre6"><span><sup class="calibre23">2</sup>Then the <span><span class="calibre8">LORD</span></span> replied:</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre28"><p class="calibre25"><span>“Write down the revelation</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and make it plain on tablets</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>so that a herald<a id="filepos8903344" href="#filepos8927956" class="calibre9"><span class="calibre10"><sup class="calibre23">[5]</sup></span></a> may run with it.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p id="filepos8903496" class="calibre6"><span><sup class="calibre23">3</sup>For the revelation awaits an appointed time;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>it speaks of the end</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and will not prove false.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Though it linger, wait for it;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>it<a id="filepos8904225" href="#filepos8928213" class="calibre9"><span class="calibre10"><sup class="calibre23">[6]</sup></span></a> will certainly come</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and will not delay.</span></p></blockquote>
<br class="calibre1"/><br class="calibre1"/><blockquote class="calibre26"><p id="filepos8904537" class="calibre6"><span><sup class="calibre23">4</sup>“See, the enemy is puffed up;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>his desires are not upright—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but the righteous person will live by his faithfulness<a id="filepos8905014" href="#filepos8928482" class="calibre9"><span class="calibre10"><sup class="calibre23">[7]</sup></span></a>—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>indeed, wine betrays him;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he is arrogant and never at rest.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Because he is as greedy as the grave</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and like death is never satisfied,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>he gathers to himself all the nations</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and takes captive all the peoples.</span></p></blockquote>
</div>
<br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">6</sup>“Will not all of them taunt him with ridicule and scorn, saying,</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre28"><p class="calibre25"><span>“ ‘Woe to him who piles up stolen goods</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and makes himself wealthy by extortion!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>How long must this go on?’</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>Will not your creditors suddenly arise?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Will they not wake up and make you tremble?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Then you will become their prey.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Because you have plundered many nations,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the peoples who are left will plunder you.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>For you have shed human blood;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you have destroyed lands and cities and everyone in them.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>“Woe to him who builds his house by unjust gain,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>setting his nest on high</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to escape the clutches of ruin!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>You have plotted the ruin of many peoples,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>shaming your own house and forfeiting your life.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>The stones of the wall will cry out,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the beams of the woodwork will echo it.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>“Woe to him who builds a city with bloodshed</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and establishes a town by injustice!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Has not the <span><span class="calibre8">LORD</span></span> Almighty determined</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that the people’s labor is only fuel for the fire,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that the nations exhaust themselves for nothing?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>For the earth will be filled with the knowledge of the glory of the <span><span class="calibre8">LORD</span></span></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>as the waters cover the sea.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>“Woe to him who gives drink to his neighbors,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>pouring it from the wineskin till they are drunk,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>so that he can gaze on their naked bodies!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>You will be filled with shame instead of glory.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Now it is your turn! Drink and let your nakedness be exposed<a id="filepos8911575" href="#filepos8928720" class="calibre9"><span class="calibre10"><sup class="calibre23">[8]</sup></span></a>!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The cup from the <span><span class="calibre8">LORD</span></span>’s right hand is coming around to you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and disgrace will cover your glory.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>The violence you have done to Lebanon will overwhelm you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and your destruction of animals will terrify you.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>For you have shed human blood;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you have destroyed lands and cities and everyone in them.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>“Of what value is an idol carved by a craftsman?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Or an image that teaches lies?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>For the one who makes it trusts in his own creation;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he makes idols that cannot speak.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>Woe to him who says to wood, ‘Come to life!’</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Or to lifeless stone, ‘Wake up!’</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Can it give guidance?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>It is covered with gold and silver;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>there is no breath in it.”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">20</sup>The <span><span class="calibre8">LORD</span></span> is in his holy temple;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>let all the earth be silent before him.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8914788" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos192244" class="calibre9"><span class="calibre10">Habakkuk 3</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk’s Prayer</span></span></p><div class="calibre4"> </div>
<p class="calibre15"><span><sup class="calibre23">1</sup>A prayer of Habakkuk the prophet. On <span class="italic">shigionoth</span>.<a id="filepos8915226" href="#filepos8929163" class="calibre9"><span class="calibre10"><sup class="calibre23">[9]</sup></span></a></span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup><span><span class="calibre8">LORD</span></span>, I have heard of your fame;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I stand in awe of your deeds, <span><span class="calibre8">LORD</span></span>.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Repeat them in our day,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in our time make them known;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in wrath remember mercy.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>God came from Teman,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the Holy One from Mount Paran.<a id="filepos8916528" href="#filepos8929421" class="calibre9"><span class="calibre10"><sup class="calibre23">[10]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>His glory covered the heavens</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and his praise filled the earth.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>His splendor was like the sunrise;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>rays flashed from his hand,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>where his power was hidden.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>Plague went before him;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>pestilence followed his steps.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>He stood, and shook the earth;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he looked, and made the nations tremble.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The ancient mountains crumbled</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the age-old hills collapsed—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but he marches on forever.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>I saw the tents of Cushan in distress,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the dwellings of Midian in anguish.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Were you angry with the rivers, <span><span class="calibre8">LORD</span></span>?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Was your wrath against the streams?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Did you rage against the sea</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>when you rode your horses</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and your chariots to victory?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p id="filepos8919826" class="calibre6"><span><sup class="calibre23">9</sup>You uncovered your bow,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you called for many arrows.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>You split the earth with rivers;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">10</sup>the mountains saw you and writhed.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Torrents of water swept by;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the deep roared</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and lifted its waves on high.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>Sun and moon stood still in the heavens</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>at the glint of your flying arrows,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>at the lightning of your flashing spear.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>In wrath you strode through the earth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and in anger you threshed the nations.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p id="filepos8921815" class="calibre6"><span><sup class="calibre23">13</sup>You came out to deliver your people,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to save your anointed one.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>You crushed the leader of the land of wickedness,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you stripped him from head to foot.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>With his own spear you pierced his head</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>when his warriors stormed out to scatter us,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>gloating as though about to devour</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the wretched who were in hiding.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>You trampled the sea with your horses,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>churning the great waters.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>I heard and my heart pounded,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>my lips quivered at the sound;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>decay crept into my bones,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and my legs trembled.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Yet I will wait patiently for the day of calamity</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to come on the nation invading us.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>Though the fig tree does not bud</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and there are no grapes on the vines,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>though the olive crop fails</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the fields produce no food,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>though there are no sheep in the pen</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and no cattle in the stalls,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>yet I will rejoice in the <span><span class="calibre8">LORD</span></span>,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will be joyful in God my Savior.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>The Sovereign <span><span class="calibre8">LORD</span></span> is my strength;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he makes my feet like the feet of a deer,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he enables me to tread on the heights.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre28"><p class="calibre25"><span>For the director of music. On my stringed instruments.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn35" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8926766" class="calibre6"><span class="calibre8"><a href="#filepos8894106" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:6</span> Or <span class="italic">Chaldeans</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8927008" class="calibre6"><span class="calibre8"><a href="#filepos8896308" class="calibre9"><span class="calibre10"><sup class="calibre35">[2]</sup></span></a><span class="italic">1:9</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8927284" class="calibre6"><span class="calibre8"><a href="#filepos8898148" class="calibre9"><span class="calibre10"><sup class="calibre35">[3]</sup></span></a><span class="italic">1:12</span> An ancient Hebrew scribal tradition; Masoretic Text <span class="italic">we</span></span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk 2</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8927687" class="calibre6"><span class="calibre8"><a href="#filepos8902433" class="calibre9"><span class="calibre10"><sup class="calibre35">[4]</sup></span></a><span class="italic">2:1</span> Or <span class="italic">and what to answer when I am rebuked</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8927956" class="calibre6"><span class="calibre8"><a href="#filepos8903344" class="calibre9"><span class="calibre10"><sup class="calibre35">[5]</sup></span></a><span class="italic">2:2</span> Or <span class="italic">so that whoever reads it</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8928213" class="calibre6"><span class="calibre8"><a href="#filepos8904225" class="calibre9"><span class="calibre10"><sup class="calibre35">[6]</sup></span></a><span class="italic">2:3</span> Or <span class="italic">Though he linger, wait for him; / he</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8928482" class="calibre6"><span class="calibre8"><a href="#filepos8905014" class="calibre9"><span class="calibre10"><sup class="calibre35">[7]</sup></span></a><span class="italic">2:4</span> Or <span class="italic">faith</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8928720" class="calibre6"><span class="calibre8"><a href="#filepos8911575" class="calibre9"><span class="calibre10"><sup class="calibre35">[8]</sup></span></a><span class="italic">2:16</span> Masoretic Text; Dead Sea Scrolls, Aquila, Vulgate and Syriac (see also Septuagint) <span class="italic">and stagger</span></span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Habakkuk 3</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8929163" class="calibre6"><span class="calibre8"><a href="#filepos8915226" class="calibre9"><span class="calibre10"><sup class="calibre35">[9]</sup></span></a><span class="italic">3:1</span> Probably a literary or musical term</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8929421" class="calibre6"><span class="calibre8"><a href="#filepos8916528" class="calibre9"><span class="calibre10"><sup class="calibre35">[10]</sup></span></a><span class="italic">3:3</span> The Hebrew has <span class="italic">Selah</span> (a word of uncertain meaning) here and at the middle of verse <a href="#filepos8919826" class="calibre9"><span class="calibre10">9</span></a> and at the end of verse <a href="#filepos8921815" class="calibre9"><span class="calibre10">13</span></a>.</span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_69"></div></body>
</html>
