<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos8570063" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos8122" class="calibre9"><span class="calibre10">Joel</span></a></span></p><div class="calibre4"> </div>
<div id="filepos8570230" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos185968" class="calibre9"><span class="calibre10">Joel 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre15"><span><sup class="calibre23">1</sup>The word of the <span><span class="calibre8">LORD</span></span> that came to Joel son of Pethuel.</span></p>
<p class="calibre16"><span class="calibre5"><span class="bold">An Invasion of Locusts</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>Hear this, you elders;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>listen, all who live in the land.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Has anything like this ever happened in your days</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>or in the days of your ancestors?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>Tell it to your children,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and let your children tell it to their children,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and their children to the next generation.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>What the locust swarm has left</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the great locusts have eaten;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>what the great locusts have left</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the young locusts have eaten;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>what the young locusts have left</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>other locusts<a id="filepos8572842" href="#filepos8621655" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a> have eaten.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>Wake up, you drunkards, and weep!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Wail, all you drinkers of wine;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>wail because of the new wine,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for it has been snatched from your lips.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>A nation has invaded my land,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a mighty army without number;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>it has the teeth of a lion,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the fangs of a lioness.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>It has laid waste my vines</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and ruined my fig trees.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>It has stripped off their bark</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and thrown it away,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>leaving their branches white.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Mourn like a virgin in sackcloth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>grieving for the betrothed of her youth.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Grain offerings and drink offerings</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>are cut off from the house of the <span><span class="calibre8">LORD</span></span>.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The priests are in mourning,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>those who minister before the <span><span class="calibre8">LORD</span></span>.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>The fields are ruined,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the ground is dried up;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>the grain is destroyed,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the new wine is dried up,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the olive oil fails.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>Despair, you farmers,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>wail, you vine growers;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>grieve for the wheat and the barley,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>because the harvest of the field is destroyed.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>The vine is dried up</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the fig tree is withered;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>the pomegranate, the palm and the apple<a id="filepos8578055" href="#filepos8621958" class="calibre9"><span class="calibre10"><sup class="calibre23">[2]</sup></span></a> tree—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>all the trees of the field—are dried up.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Surely the people’s joy</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>is withered away.</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">A Call to Lamentation</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Put on sackcloth, you priests, and mourn;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>wail, you who minister before the altar.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Come, spend the night in sackcloth,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you who minister before my God;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for the grain offerings and drink offerings</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>are withheld from the house of your God.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>Declare a holy fast;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>call a sacred assembly.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Summon the elders</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and all who live in the land</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>to the house of the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and cry out to the <span><span class="calibre8">LORD</span></span>.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>Alas for that day!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>For the day of the <span><span class="calibre8">LORD</span></span> is near;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>it will come like destruction from the Almighty.<a id="filepos8581345" href="#filepos8622208" class="calibre9"><span class="calibre10"><sup class="calibre23">[3]</sup></span></a></span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>Has not the food been cut off</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>before our very eyes—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>joy and gladness</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>from the house of our God?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>The seeds are shriveled</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>beneath the clods.<a id="filepos8582384" href="#filepos8622453" class="calibre9"><span class="calibre10"><sup class="calibre23">[4]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The storehouses are in ruins,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the granaries have been broken down,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the grain has dried up.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>How the cattle moan!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>The herds mill about</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>because they have no pasture;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>even the flocks of sheep are suffering.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>To you, <span><span class="calibre8">LORD</span></span>, I call,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for fire has devoured the pastures in the wilderness</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and flames have burned up all the trees of the field.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">20</sup>Even the wild animals pant for you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the streams of water have dried up</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and fire has devoured the pastures in the wilderness.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8584751" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos186145" class="calibre9"><span class="calibre10">Joel 2</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">An Army of Locusts</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">1</sup>Blow the trumpet in Zion;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>sound the alarm on my holy hill.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre28"><p class="calibre25"><span>Let all who live in the land tremble,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the day of the <span><span class="calibre8">LORD</span></span> is coming.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>It is close at hand—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">2</sup>a day of darkness and gloom,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a day of clouds and blackness.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Like dawn spreading across the mountains</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a large and mighty army comes,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>such as never was in ancient times</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>nor ever will be in ages to come.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>Before them fire devours,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>behind them a flame blazes.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Before them the land is like the garden of Eden,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>behind them, a desert waste—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>nothing escapes them.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>They have the appearance of horses;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they gallop along like cavalry.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>With a noise like that of chariots</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they leap over the mountaintops,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>like a crackling fire consuming stubble,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>like a mighty army drawn up for battle.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>At the sight of them, nations are in anguish;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>every face turns pale.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>They charge like warriors;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they scale walls like soldiers.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They all march in line,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>not swerving from their course.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>They do not jostle each other;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>each marches straight ahead.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They plunge through defenses</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>without breaking ranks.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>They rush upon the city;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they run along the wall.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They climb into the houses;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>like thieves they enter through the windows.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>Before them the earth shakes,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the heavens tremble,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>the sun and moon are darkened,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the stars no longer shine.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>The <span><span class="calibre8">LORD</span></span> thunders</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>at the head of his army;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>his forces are beyond number,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and mighty is the army that obeys his command.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The day of the <span><span class="calibre8">LORD</span></span> is great;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>it is dreadful.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Who can endure it?</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">Rend Your Heart</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>“Even now,” declares the <span><span class="calibre8">LORD</span></span>,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>“return to me with all your heart,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>with fasting and weeping and mourning.”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Rend your heart</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and not your garments.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Return to the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for he is gracious and compassionate,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>slow to anger and abounding in love,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and he relents from sending calamity.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>Who knows? He may turn and relent</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and leave behind a blessing—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>grain offerings and drink offerings</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the <span><span class="calibre8">LORD</span></span> your God.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>Blow the trumpet in Zion,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>declare a holy fast,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>call a sacred assembly.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>Gather the people,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>consecrate the assembly;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>bring together the elders,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>gather the children,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>those nursing at the breast.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Let the bridegroom leave his room</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the bride her chamber.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>Let the priests, who minister before the <span><span class="calibre8">LORD</span></span>,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>weep between the portico and the altar.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Let them say, “Spare your people, <span><span class="calibre8">LORD</span></span>.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Do not make your inheritance an object of scorn,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a byword among the nations.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Why should they say among the peoples,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>‘Where is their God?’ ”</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">The <span><span class="calibre31">LORD</span></span>’s Answer</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>Then the <span><span class="calibre8">LORD</span></span> was jealous for his land</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and took pity on his people.</span></p></blockquote>
</div>
<br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">19</sup>The <span><span class="calibre8">LORD</span></span> replied<a id="filepos8598782" href="#filepos8622844" class="calibre9"><span class="calibre10"><sup class="calibre23">[5]</sup></span></a> to them:</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre28"><p class="calibre25"><span>“I am sending you grain, new wine and olive oil,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>enough to satisfy you fully;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>never again will I make you</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>an object of scorn to the nations.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">20</sup>“I will drive the northern horde far from you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>pushing it into a parched and barren land;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>its eastern ranks will drown in the Dead Sea</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and its western ranks in the Mediterranean Sea.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>And its stench will go up;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>its smell will rise.”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre28"><p class="calibre25"><span>Surely he has done great things!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">21</sup>Do not be afraid, land of Judah;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>be glad and rejoice.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Surely the <span><span class="calibre8">LORD</span></span> has done great things!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">22</sup>Do not be afraid, you wild animals,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the pastures in the wilderness are becoming green.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The trees are bearing their fruit;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the fig tree and the vine yield their riches.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">23</sup>Be glad, people of Zion,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>rejoice in the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for he has given you the autumn rains</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>because he is faithful.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>He sends you abundant showers,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>both autumn and spring rains, as before.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">24</sup>The threshing floors will be filled with grain;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the vats will overflow with new wine and oil.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">25</sup>“I will repay you for the years the locusts have eaten—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the great locust and the young locust,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the other locusts and the locust swarm<a id="filepos8603870" href="#filepos8623241" class="calibre9"><span class="calibre10"><sup class="calibre23">[6]</sup></span></a>—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>my great army that I sent among you.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">26</sup>You will have plenty to eat, until you are full,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and you will praise the name of the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>who has worked wonders for you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>never again will my people be shamed.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">27</sup>Then you will know that I am in Israel,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that I am the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and that there is no other;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>never again will my people be shamed.</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">The Day of the <span><span class="calibre31">LORD</span></span></span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p id="filepos8605798" class="calibre6"><span><sup class="calibre23">28</sup>“And afterward,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will pour out my Spirit on all people.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Your sons and daughters will prophesy,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your old men will dream dreams,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your young men will see visions.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">29</sup>Even on my servants, both men and women,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will pour out my Spirit in those days.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">30</sup>I will show wonders in the heavens</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and on the earth,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>blood and fire and billows of smoke.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">31</sup>The sun will be turned to darkness</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the moon to blood</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>before the coming of the great and dreadful day of the <span><span class="calibre8">LORD</span></span>.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p id="filepos8608025" class="calibre6"><span><sup class="calibre23">32</sup>And everyone who calls</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>on the name of the <span><span class="calibre8">LORD</span></span> will be saved;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for on Mount Zion and in Jerusalem</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>there will be deliverance,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>as the <span><span class="calibre8">LORD</span></span> has said,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>even among the survivors</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>whom the <span><span class="calibre8">LORD</span></span> calls.<a id="filepos8609181" href="#filepos8623545" class="calibre9"><span class="calibre10"><sup class="calibre23">[7]</sup></span></a></span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8609336" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos186322" class="calibre9"><span class="calibre10">Joel 3</span></a><a id="filepos8609469" href="#filepos8623990" class="calibre9"><span class="calibre10"><sup class="calibre32">[8]</sup></span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p id="filepos8609616" class="calibre6"><span><sup class="calibre23">1</sup>“In those days and at that time,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>when I restore the fortunes of Judah and Jerusalem,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>I will gather all nations</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and bring them down to the Valley of Jehoshaphat.<a id="filepos8610283" href="#filepos8624309" class="calibre9"><span class="calibre10"><sup class="calibre23">[9]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>There I will put them on trial</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for what they did to my inheritance, my people Israel,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>because they scattered my people among the nations</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and divided up my land.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>They cast lots for my people</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and traded boys for prostitutes;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they sold girls for wine to drink.</span></p></blockquote>
</div>
<br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">4</sup>“Now what have you against me, Tyre and Sidon and all you regions of Philistia? Are you repaying me for something I have done? If you are paying me back, I will swiftly and speedily return on your own heads what you have done. <sup class="calibre23">5</sup>For you took my silver and my gold and carried off my finest treasures to your temples.<a id="filepos8612000" href="#filepos8624687" class="calibre9"><span class="calibre10"><sup class="calibre23">[10]</sup></span></a>
<sup class="calibre23">6</sup>You sold the people of Judah and Jerusalem to the Greeks, that you might send them far from their homeland.</span></p>
<p class="calibre6"><span><sup class="calibre23">7</sup>“See, I am going to rouse them out of the places to which you sold them, and I will return on your own heads what you have done. <sup class="calibre23">8</sup>I will sell your sons and daughters to the people of Judah, and they will sell them to the Sabeans, a nation far away.” The <span><span class="calibre8">LORD</span></span> has spoken.</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Proclaim this among the nations:</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Prepare for war!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Rouse the warriors!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Let all the fighting men draw near and attack.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>Beat your plowshares into swords</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and your pruning hooks into spears.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Let the weakling say,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>“I am strong!”</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>Come quickly, all you nations from every side,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and assemble there.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre28"><p class="calibre25"><span>Bring down your warriors, <span><span class="calibre8">LORD</span></span>!</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p id="filepos8614546" class="calibre6"><span><sup class="calibre23">12</sup>“Let the nations be roused;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>let them advance into the Valley of Jehoshaphat,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for there I will sit</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to judge all the nations on every side.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Swing the sickle,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the harvest is ripe.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Come, trample the grapes,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for the winepress is full</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the vats overflow—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>so great is their wickedness!”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>Multitudes, multitudes</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the valley of decision!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>For the day of the <span><span class="calibre8">LORD</span></span> is near</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the valley of decision.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>The sun and moon will be darkened,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the stars no longer shine.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>The <span><span class="calibre8">LORD</span></span> will roar from Zion</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and thunder from Jerusalem;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the earth and the heavens will tremble.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>But the <span><span class="calibre8">LORD</span></span> will be a refuge for his people,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a stronghold for the people of Israel.</span></p></blockquote>
</div>
<p class="calibre16"><span class="calibre5"><span class="bold">Blessings for God’s People</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>“Then you will know that I, the <span><span class="calibre8">LORD</span></span> your God,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>dwell in Zion, my holy hill.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Jerusalem will be holy;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>never again will foreigners invade her.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>“In that day the mountains will drip new wine,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the hills will flow with milk;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>all the ravines of Judah will run with water.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>A fountain will flow out of the <span><span class="calibre8">LORD</span></span>’s house</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and will water the valley of acacias.<a id="filepos8619832" href="#filepos8624928" class="calibre9"><span class="calibre10"><sup class="calibre23">[11]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>But Egypt will be desolate,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Edom a desert waste,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>because of violence done to the people of Judah,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in whose land they shed innocent blood.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">20</sup>Judah will be inhabited forever</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and Jerusalem through all generations.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">21</sup>Shall I leave their innocent blood unavenged?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>No, I will not.”</span></p></blockquote>
</div>
<br class="calibre1"/><p class="calibre43"><span>The <span><span class="calibre8">LORD</span></span> dwells in Zion!</span></p>
</div>
</div>
<div title="notes" id="fnn29" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Joel 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8621655" class="calibre6"><span class="calibre8"><a href="#filepos8572842" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:4</span> The precise meaning of the four Hebrew words used here for locusts is uncertain.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8621958" class="calibre6"><span class="calibre8"><a href="#filepos8578055" class="calibre9"><span class="calibre10"><sup class="calibre35">[2]</sup></span></a><span class="italic">1:12</span> Or possibly <span class="italic">apricot</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8622208" class="calibre6"><span class="calibre8"><a href="#filepos8581345" class="calibre9"><span class="calibre10"><sup class="calibre35">[3]</sup></span></a><span class="italic">1:15</span> Hebrew <span class="italic">Shaddai</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8622453" class="calibre6"><span class="calibre8"><a href="#filepos8582384" class="calibre9"><span class="calibre10"><sup class="calibre35">[4]</sup></span></a><span class="italic">1:17</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Joel 2</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8622844" class="calibre6"><span class="calibre8"><a href="#filepos8598782" class="calibre9"><span class="calibre10"><sup class="calibre35">[5]</sup></span></a><span class="italic">2:18, 19</span> Or <span class="italic"><span><span class="calibre12">LORD</span></span> will be jealous … / and take pity … / <sup class="calibre35">19</sup>The <span><span class="calibre12">LORD</span></span> will reply</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8623241" class="calibre6"><span class="calibre8"><a href="#filepos8603870" class="calibre9"><span class="calibre10"><sup class="calibre35">[6]</sup></span></a><span class="italic">2:25</span> The precise meaning of the four Hebrew words used here for locusts is uncertain.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8623545" class="calibre6"><span class="calibre8"><a href="#filepos8609181" class="calibre9"><span class="calibre10"><sup class="calibre35">[7]</sup></span></a><span class="italic">2:32</span> In Hebrew texts <a href="#filepos8605798" class="calibre9"><span class="calibre10">2:28–32</span></a> is numbered 3:1–5.</span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Joel 3</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8623990" class="calibre6"><span class="calibre8"><a href="#filepos8609469" class="calibre9"><span class="calibre10"><sup class="calibre35">[8]</sup></span></a>In Hebrew texts <a href="#filepos8609616" class="calibre9"><span class="calibre10">3:1–21</span></a> is numbered 4:1–21.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8624309" class="calibre6"><span class="calibre8"><a href="#filepos8610283" class="calibre9"><span class="calibre10"><sup class="calibre35">[9]</sup></span></a><span class="italic">3:2</span>
<span class="italic">Jehoshaphat</span> means <span class="italic">the <span><span class="calibre12">LORD</span></span> judges</span>; also in verse <a href="#filepos8614546" class="calibre9"><span class="calibre10">12</span></a>.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8624687" class="calibre6"><span class="calibre8"><a href="#filepos8612000" class="calibre9"><span class="calibre10"><sup class="calibre35">[10]</sup></span></a><span class="italic">3:5</span> Or <span class="italic">palaces</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8624928" class="calibre6"><span class="calibre8"><a href="#filepos8619832" class="calibre9"><span class="calibre10"><sup class="calibre35">[11]</sup></span></a><span class="italic">3:18</span> Or <span class="italic">Valley of Shittim</span></span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_63"></div></body>
</html>
