<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos549" class="calibre1">
<div class="calibre1">
<p class="calibre2"><span class="calibre3">Holy Bible</span></p><div class="calibre4"> </div>
<p class="calibre2"><span class="calibre5">New International Version</span></p>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_1"></div></body>
</html>
