<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/container-hb.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- InstanceBeginEditable name="EditRegion3" -->
<title>Holy Bible: New International Version</title>
<!-- InstanceEndEditable -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/dist/css/marching.css">
<!-- InstanceParam name="OptionalRegionTitle" type="boolean" value="true" -->
</head>
<body>
<!-- InstanceBeginEditable name="EditRegionBody" -->
	<section class="container container-cover" style="background-image: url(cover.jpeg); background-repeat: no-repeat; background-position: bottom center; background-size: 100% auto;">
		<h1 class="text-center" style="padding-bottom: 152.332657%; color: transparent;">Holy Bible <small class="center-block" style="color: transparent;">New International Version</small></h1>
	</section>
	<div class="container">
		<hr>
		<nav>
			<ul class="pagination">
				<li> <a href="dummy_split_001.html" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
			</ul>
		</nav>
	</div>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>