<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos11172671" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos15177" class="calibre9"><span class="calibre10">2 John</span></a></span></p><div class="calibre4"> </div>
<div id="filepos11172840" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos244351" class="calibre9"><span class="calibre10">2 John 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre6"><span><sup class="calibre23">1</sup>The elder,</span></p>
<br class="calibre1"/><p class="calibre6"><span>To the lady chosen by God and to her children, whom I love in the truth—and not I only, but also all who know the truth— <sup class="calibre23">2</sup>because of the truth, which lives in us and will be with us forever:</span></p>
<br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">3</sup>Grace, mercy and peace from God the Father and from Jesus Christ, the Father’s Son, will be with us in truth and love.</span></p>
<br class="calibre1"/><br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">4</sup>It has given me great joy to find some of your children walking in the truth, just as the Father commanded us. <sup class="calibre23">5</sup>And now, dear lady, I am not writing you a new command but one we have had from the beginning. I ask that we love one another. <sup class="calibre23">6</sup>And this is love: that we walk in obedience to his commands. As you have heard from the beginning, his command is that you walk in love.</span></p>
<p class="calibre6"><span><sup class="calibre23">7</sup>I say this because many deceivers, who do not acknowledge Jesus Christ as coming in the flesh, have gone out into the world. Any such person is the deceiver and the antichrist. <sup class="calibre23">8</sup>Watch out that you do not lose what we<a id="filepos11174519" href="#filepos11175679" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a> have worked for, but that you may be rewarded fully. <sup class="calibre23">9</sup>Anyone who runs ahead and does not continue in the teaching of Christ does not have God; whoever continues in the teaching has both the Father and the Son. <sup class="calibre23">10</sup>If anyone comes to you and does not bring this teaching, do not take them into your house or welcome them. <sup class="calibre23">11</sup>Anyone who welcomes them shares in their wicked work.</span></p>
<p class="calibre6"><span><sup class="calibre23">12</sup>I have much to write to you, but I do not want to use paper and ink. Instead, I hope to visit you and talk with you face to face, so that our joy may be complete.</span></p>
<br class="calibre1"/><br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">13</sup>The children of your sister, who is chosen by God, send their greetings.</span></p>
</div>
</div>
<div title="notes" id="fnn63" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">2 John 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos11175679" class="calibre6"><span class="calibre8"><a href="#filepos11174519" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:8</span> Some manuscripts <span class="italic">you</span></span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_101"></div></body>
</html>
