<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div id="filepos6696">
<div>
<div id="calibre_pb_3"></div><p><span>Table of Contents</span></p><div> </div>
<p><span><span><a id="filepos6914" href="dummy_split_003.html#filepos20103"><span>How to Use This Bible</span></a></span></span></p>
<p><span><span><a id="filepos7110" href="dummy_split_005.html#filepos249466"><span>Alphabetical Order of the Books of the Bible</span></a></span></span></p>
<p><span><span><a id="filepos7341" href="dummy_split_006.html#filepos260614"><span>Preface</span></a></span></span></p>
<br/><p><span><a id="filepos7527" href="#filepos8122"><span>OLD TESTAMENT</span></a></span></p>
<p><span><a id="filepos7709" href="#filepos15177"><span>NEW TESTAMENT</span></a></span></p>
<br/><p><span><span><a id="filepos7901" href="dummy_split_108.html#filepos11339086"><span>Table of Weights and Measures</span></a></span></span></p>
<br/><hr/><br/><p><span><a id="filepos8122" href="#filepos7527"><span>OLD TESTAMENT</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos22015"><span>Genesis</span></a> (Ge)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos31245"><span>Exodus</span></a> (Ex)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos38623"><span>Leviticus</span></a> (Lev)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos43748"><span>Numbers</span></a> (Nu)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos50444"><span>Deuteronomy</span></a> (Dt)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos56922"><span>Joshua</span></a> (Jos)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos61420"><span>Judges</span></a> (Jdg)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos65378"><span>Ruth</span></a> (Ru)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos66269"><span>1 Samuel</span></a> (1Sa)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos72093"><span>2 Samuel</span></a> (2Sa)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos76643"><span>1 Kings</span></a> (1Ki)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos80805"><span>2 Kings</span></a> (2Ki)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos85510"><span>1 Chronicles</span></a> (1Ch)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos91094"><span>2 Chronicles</span></a> (2Ch)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos97980"><span>Ezra</span></a> (Ezr)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos99934"><span>Nehemiah</span></a> (Ne)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos102482"><span>Esther</span></a> (Est)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos104460"><span>Job</span></a> (Job)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos112066"><span>Psalms</span></a> (Ps)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos139145"><span>Proverbs</span></a> (Pr)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos144969"><span>Ecclesiastes</span></a> (Ecc)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos147391"><span>Song of Songs</span></a> (SS)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos149078"><span>Isaiah</span></a> (Isa)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos161136"><span>Jeremiah</span></a> (Jer)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos170782"><span>Lamentations</span></a> (La)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos171906"><span>Ezekiel</span></a> (Eze)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos180774"><span>Daniel</span></a> (Da)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos183112"><span>Hosea</span></a> (Hos)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos185794"><span>Joel</span></a> (Joel)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos186508"><span>Amos</span></a> (Am)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos188284"><span>Obadiah</span></a> (Ob)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos188653"><span>Jonah</span></a> (Jnh)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos189550"><span>Micah</span></a> (Mic)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos190981"><span>Nahum</span></a> (Na)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos191700"><span>Habakkuk</span></a> (Hab)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos192434"><span>Zephaniah</span></a> (Zep)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos193173"><span>Haggai</span></a> (Hag)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos193718"><span>Zechariah</span></a> (Zec)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos196464"><span>Malachi</span></a> (Mal)</span></span></p>
<br/><hr/><p><span><a id="filepos15177" href="#filepos7709"><span>NEW TESTAMENT</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos197373"><span>Matthew</span></a> (Mt)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos202621"><span>Mark</span></a> (Mk)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos205643"><span>Luke</span></a> (Lk)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos210089"><span>John</span></a> (Jn)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos214001"><span>Acts</span></a> (Ac)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos219159"><span>Romans</span></a> (Ro)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos222217"><span>1 Corinthians</span></a> (1Co)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos225401"><span>2 Corinthians</span></a> (2Co)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos228024"><span>Galatians</span></a> (Gal)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos229309"><span>Ephesians</span></a> (Eph)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos230594"><span>Philippians</span></a> (Php)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos231527"><span>Colossians</span></a> (Col)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos232454"><span>1 Thessalonians</span></a> (1Th)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos233599"><span>2 Thessalonians</span></a> (2Th)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos234368"><span>1 Timothy</span></a> (1Ti)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos235653"><span>2 Timothy</span></a> (2Ti)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos236574"><span>Titus</span></a> (Titus)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos237293"><span>Philemon</span></a> (Phm)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos237665"><span>Hebrews</span></a> (Heb)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos240198"><span>James</span></a> (Jas)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos241273"><span>1 Peter</span></a> (1Pe)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos242362"><span>2 Peter</span></a> (2Pe)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos243091"><span>1 John</span></a> (1Jn)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244173"><span>2 John</span></a> (2Jn)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244539"><span>3 John</span></a> (3Jn)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244905"><span>Jude</span></a> (Jude)</span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos245265"><span>Revelation</span></a> (Rev)</span></span></p>
</div>
</div>
<div id="calibre_pb_4"></div></body>
</html>
