<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos8853559" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos8122" class="calibre9"><span class="calibre10">Nahum</span></a></span></p><div class="calibre4"> </div>
<div id="filepos8853727" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos191157" class="calibre9"><span class="calibre10">Nahum 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre15"><span><sup class="calibre23">1</sup>A prophecy concerning Nineveh. The book of the vision of Nahum the Elkoshite.</span></p>
<p class="calibre16"><span class="calibre5"><span class="bold">The <span><span class="calibre31">LORD</span></span>’s Anger Against Nineveh</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>The <span><span class="calibre8">LORD</span></span> is a jealous and avenging God;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the <span><span class="calibre8">LORD</span></span> takes vengeance and is filled with wrath.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The <span><span class="calibre8">LORD</span></span> takes vengeance on his foes</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and vents his wrath against his enemies.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>The <span><span class="calibre8">LORD</span></span> is slow to anger but great in power;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the <span><span class="calibre8">LORD</span></span> will not leave the guilty unpunished.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>His way is in the whirlwind and the storm,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and clouds are the dust of his feet.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>He rebukes the sea and dries it up;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he makes all the rivers run dry.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Bashan and Carmel wither</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the blossoms of Lebanon fade.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>The mountains quake before him</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the hills melt away.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The earth trembles at his presence,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the world and all who live in it.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>Who can withstand his indignation?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Who can endure his fierce anger?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>His wrath is poured out like fire;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the rocks are shattered before him.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>The <span><span class="calibre8">LORD</span></span> is good,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>a refuge in times of trouble.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>He cares for those who trust in him,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span><sup class="calibre23">8</sup>but with an overwhelming flood</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>he will make an end of Nineveh;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he will pursue his foes into the realm of darkness.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Whatever they plot against the <span><span class="calibre8">LORD</span></span></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>he will bring<a id="filepos8859190" href="#filepos8887698" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a> to an end;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>trouble will not come a second time.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>They will be entangled among thorns</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and drunk from their wine;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they will be consumed like dry stubble.<a id="filepos8859954" href="#filepos8888025" class="calibre9"><span class="calibre10"><sup class="calibre23">[2]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>From you, Nineveh, has one come forth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>who plots evil against the <span><span class="calibre8">LORD</span></span></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and devises wicked plans.</span></p></blockquote>
</div>
<br class="calibre1"/><p class="calibre6"><span><sup class="calibre23">12</sup>This is what the <span><span class="calibre8">LORD</span></span> says:</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre28"><p class="calibre25"><span>“Although they have allies and are numerous,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they will be destroyed and pass away.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Although I have afflicted you, Judah,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will afflict you no more.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Now I will break their yoke from your neck</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and tear your shackles away.”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>The <span><span class="calibre8">LORD</span></span> has given a command concerning you, Nineveh:</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>“You will have no descendants to bear your name.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>I will destroy the images and idols</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that are in the temple of your gods.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>I will prepare your grave,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for you are vile.”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p id="filepos8862911" class="calibre6"><span><sup class="calibre23">15</sup>Look, there on the mountains,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the feet of one who brings good news,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>who proclaims peace!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Celebrate your festivals, Judah,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and fulfill your vows.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>No more will the wicked invade you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they will be completely destroyed.<a id="filepos8863983" href="#filepos8888303" class="calibre9"><span class="calibre10"><sup class="calibre23">[3]</sup></span></a></span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8864138" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos191335" class="calibre9"><span class="calibre10">Nahum 2</span></a><a id="filepos8864272" href="#filepos8888745" class="calibre9"><span class="calibre10"><sup class="calibre32">[4]</sup></span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p id="filepos8864419" class="calibre6"><span><sup class="calibre23">1</sup>An attacker advances against you, Nineveh.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Guard the fortress,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>watch the road,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>brace yourselves,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>marshal all your strength!</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>The <span><span class="calibre8">LORD</span></span> will restore the splendor of Jacob</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>like the splendor of Israel,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>though destroyers have laid them waste</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and have ruined their vines.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>The shields of the soldiers are red;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the warriors are clad in scarlet.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The metal on the chariots flashes</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>on the day they are made ready;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the spears of juniper are brandished.<a id="filepos8866688" href="#filepos8889064" class="calibre9"><span class="calibre10"><sup class="calibre23">[5]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>The chariots storm through the streets,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>rushing back and forth through the squares.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They look like flaming torches;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they dart about like lightning.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>Nineveh summons her picked troops,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>yet they stumble on their way.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They dash to the city wall;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the protective shield is put in place.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>The river gates are thrown open</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the palace collapses.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>It is decreed<a id="filepos8868609" href="#filepos8889362" class="calibre9"><span class="calibre10"><sup class="calibre23">[6]</sup></span></a> that Nineveh</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>be exiled and carried away.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Her female slaves moan like doves</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and beat on their breasts.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Nineveh is like a pool</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>whose water is draining away.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>“Stop! Stop!” they cry,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but no one turns back.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Plunder the silver!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Plunder the gold!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The supply is endless,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the wealth from all its treasures!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>She is pillaged, plundered, stripped!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Hearts melt, knees give way,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>bodies tremble, every face grows pale.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>Where now is the lions’ den,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the place where they fed their young,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>where the lion and lioness went,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the cubs, with nothing to fear?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>The lion killed enough for his cubs</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and strangled the prey for his mate,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>filling his lairs with the kill</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and his dens with the prey.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>“I am against you,”</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>declares the <span><span class="calibre8">LORD</span></span> Almighty.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>“I will burn up your chariots in smoke,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the sword will devour your young lions.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will leave you no prey on the earth.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The voices of your messengers</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>will no longer be heard.”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8873548" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos191513" class="calibre9"><span class="calibre10">Nahum 3</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Woe to Nineveh</span></span></p><div class="calibre4"> </div>
<div title="poetry" class="calibre1">
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">1</sup>Woe to the city of blood,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>full of lies,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>full of plunder,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>never without victims!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>The crack of whips,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the clatter of wheels,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>galloping horses</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and jolting chariots!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>Charging cavalry,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>flashing swords</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and glittering spears!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Many casualties,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>piles of dead,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>bodies without number,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>people stumbling over the corpses—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>all because of the wanton lust of a prostitute,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>alluring, the mistress of sorceries,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>who enslaved nations by her prostitution</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and peoples by her witchcraft.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>“I am against you,” declares the <span><span class="calibre8">LORD</span></span> Almighty.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>“I will lift your skirts over your face.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>I will show the nations your nakedness</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and the kingdoms your shame.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>I will pelt you with filth,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>I will treat you with contempt</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and make you a spectacle.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>All who see you will flee from you and say,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>‘Nineveh is in ruins—who will mourn for her?’</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Where can I find anyone to comfort you?”</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>Are you better than Thebes,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>situated on the Nile,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>with water around her?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The river was her defense,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the waters her wall.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Cush<a id="filepos8879492" href="#filepos8889753" class="calibre9"><span class="calibre10"><sup class="calibre23">[7]</sup></span></a> and Egypt were her boundless strength;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>Put and Libya were among her allies.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>Yet she was taken captive</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and went into exile.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Her infants were dashed to pieces</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>at every street corner.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Lots were cast for her nobles,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and all her great men were put in chains.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>You too will become drunk;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you will go into hiding</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and seek refuge from the enemy.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>All your fortresses are like fig trees</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>with their first ripe fruit;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>when they are shaken,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the figs fall into the mouth of the eater.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>Look at your troops—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they are all weaklings.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>The gates of your land</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>are wide open to your enemies;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>fire has consumed the bars of your gates.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>Draw water for the siege,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>strengthen your defenses!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Work the clay,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>tread the mortar,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>repair the brickwork!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>There the fire will consume you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the sword will cut you down—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>they will devour you like a swarm of locusts.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Multiply like grasshoppers,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>multiply like locusts!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>You have increased the number of your merchants</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>till they are more numerous than the stars in the sky,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>but like locusts they strip the land</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and then fly away.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>Your guards are like locusts,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your officials like swarms of locusts</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>that settle in the walls on a cold day—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>but when the sun appears they fly away,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and no one knows where.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>King of Assyria, your shepherds<a id="filepos8885980" href="#filepos8890006" class="calibre9"><span class="calibre10"><sup class="calibre23">[8]</sup></span></a> slumber;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your nobles lie down to rest.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Your people are scattered on the mountains</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>with no one to gather them.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>Nothing can heal you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your wound is fatal.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>All who hear the news about you</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>clap their hands at your fall,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>for who has not felt</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your endless cruelty?</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn34" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Nahum 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8887698" class="calibre6"><span class="calibre8"><a href="#filepos8859190" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:9</span> Or <span class="italic">What do you foes plot against the <span><span class="calibre12">LORD</span></span>? / He will bring it</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8888025" class="calibre6"><span class="calibre8"><a href="#filepos8859954" class="calibre9"><span class="calibre10"><sup class="calibre35">[2]</sup></span></a><span class="italic">1:10</span> The meaning of the Hebrew for this verse is uncertain.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8888303" class="calibre6"><span class="calibre8"><a href="#filepos8863983" class="calibre9"><span class="calibre10"><sup class="calibre35">[3]</sup></span></a><span class="italic">1:15</span> In Hebrew texts this verse (<a href="#filepos8862911" class="calibre9"><span class="calibre10">1:15</span></a>) is numbered 2:1.</span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Nahum 2</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8888745" class="calibre6"><span class="calibre8"><a href="#filepos8864272" class="calibre9"><span class="calibre10"><sup class="calibre35">[4]</sup></span></a>In Hebrew texts <a href="#filepos8864419" class="calibre9"><span class="calibre10">2:1–13</span></a> is numbered 2:2–14.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8889064" class="calibre6"><span class="calibre8"><a href="#filepos8866688" class="calibre9"><span class="calibre10"><sup class="calibre35">[5]</sup></span></a><span class="italic">2:3</span> Hebrew; Septuagint and Syriac <span class="italic">ready; / the horsemen rush to and fro</span>.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8889362" class="calibre6"><span class="calibre8"><a href="#filepos8868609" class="calibre9"><span class="calibre10"><sup class="calibre35">[6]</sup></span></a><span class="italic">2:7</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p class="calibre16"><span class="calibre5"><span class="bold">Nahum 3</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8889753" class="calibre6"><span class="calibre8"><a href="#filepos8879492" class="calibre9"><span class="calibre10"><sup class="calibre35">[7]</sup></span></a><span class="italic">3:9</span> That is, the upper Nile region</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8890006" class="calibre6"><span class="calibre8"><a href="#filepos8885980" class="calibre9"><span class="calibre10"><sup class="calibre35">[8]</sup></span></a><span class="italic">3:18</span> That is, rulers</span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_68"></div></body>
</html>
