<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div>
<div>
<div>
<div>
<div id="filepos4330858">
<p><span><a href="dummy_split_004.html#filepos111172"><span>Job 38</span></a></span></p><div> </div>
<div>
<p><span><span>The <span><span>LORD</span></span> Speaks</span></span></p><div> </div>
<p><span><sup>1</sup>Then the <span><span>LORD</span></span> spoke to Job out of the storm. He said:</span></p>
<br/><div title="poetry">
</div>
</div>
</div>
<blockquote><p><span><sup>2</sup>“Who is this that obscures my plans</span></p></blockquote><div> </div>
<blockquote><p><span>with words without knowledge?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Brace yourself like a man;</span></p></blockquote><div> </div>
<blockquote><p><span>I will question you,</span></p></blockquote><div> </div>
<blockquote><p><span>and you shall answer me.</span></p></blockquote>
<br/><blockquote><p><span><sup>4</sup>“Where were you when I laid the earth’s foundation?</span></p></blockquote><div> </div>
<blockquote><p><span>Tell me, if you understand.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>Who marked off its dimensions? Surely you know!</span></p></blockquote><div> </div>
<blockquote><p><span>Who stretched a measuring line across it?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>On what were its footings set,</span></p></blockquote><div> </div>
<blockquote><p><span>or who laid its cornerstone—</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>while the morning stars sang together</span></p></blockquote><div> </div>
<blockquote><p><span>and all the angels<a id="filepos4333619" href="#filepos4405897"><span><sup>[69]</sup></span></a> shouted for joy?</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>“Who shut up the sea behind doors</span></p></blockquote><div> </div>
<blockquote><p><span>when it burst forth from the womb,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>when I made the clouds its garment</span></p></blockquote><div> </div>
<blockquote><p><span>and wrapped it in thick darkness,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>when I fixed limits for it</span></p></blockquote><div> </div>
<blockquote><p><span>and set its doors and bars in place,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>when I said, ‘This far you may come and no farther;</span></p></blockquote><div> </div>
<blockquote><p><span>here is where your proud waves halt’?</span></p></blockquote>
<br/><blockquote><p><span><sup>12</sup>“Have you ever given orders to the morning,</span></p></blockquote><div> </div>
<blockquote><p><span>or shown the dawn its place,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>that it might take the earth by the edges</span></p></blockquote><div> </div>
<blockquote><p><span>and shake the wicked out of it?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>The earth takes shape like clay under a seal;</span></p></blockquote><div> </div>
<blockquote><p><span>its features stand out like those of a garment.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>The wicked are denied their light,</span></p></blockquote><div> </div>
<blockquote><p><span>and their upraised arm is broken.</span></p></blockquote>
<br/><blockquote><p><span><sup>16</sup>“Have you journeyed to the springs of the sea</span></p></blockquote><div> </div>
<blockquote><p><span>or walked in the recesses of the deep?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>Have the gates of death been shown to you?</span></p></blockquote><div> </div>
<blockquote><p><span>Have you seen the gates of the deepest darkness?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Have you comprehended the vast expanses of the earth?</span></p></blockquote><div> </div>
<blockquote><p><span>Tell me, if you know all this.</span></p></blockquote>
<br/><blockquote><p><span><sup>19</sup>“What is the way to the abode of light?</span></p></blockquote><div> </div>
<blockquote><p><span>And where does darkness reside?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>Can you take them to their places?</span></p></blockquote><div> </div>
<blockquote><p><span>Do you know the paths to their dwellings?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Surely you know, for you were already born!</span></p></blockquote><div> </div>
<blockquote><p><span>You have lived so many years!</span></p></blockquote>
<br/><blockquote><p><span><sup>22</sup>“Have you entered the storehouses of the snow</span></p></blockquote><div> </div>
<blockquote><p><span>or seen the storehouses of the hail,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>which I reserve for times of trouble,</span></p></blockquote><div> </div>
<blockquote><p><span>for days of war and battle?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>What is the way to the place where the lightning is dispersed,</span></p></blockquote><div> </div>
<blockquote><p><span>or the place where the east winds are scattered over the earth?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>25</sup>Who cuts a channel for the torrents of rain,</span></p></blockquote><div> </div>
<blockquote><p><span>and a path for the thunderstorm,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>26</sup>to water a land where no one lives,</span></p></blockquote><div> </div>
<blockquote><p><span>an uninhabited desert,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>27</sup>to satisfy a desolate wasteland</span></p></blockquote><div> </div>
<blockquote><p><span>and make it sprout with grass?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>28</sup>Does the rain have a father?</span></p></blockquote><div> </div>
<blockquote><p><span>Who fathers the drops of dew?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>29</sup>From whose womb comes the ice?</span></p></blockquote><div> </div>
<blockquote><p><span>Who gives birth to the frost from the heavens</span></p></blockquote><div> </div>
<blockquote><p><span><sup>30</sup>when the waters become hard as stone,</span></p></blockquote><div> </div>
<blockquote><p><span>when the surface of the deep is frozen?</span></p></blockquote>
<br/><blockquote><p><span><sup>31</sup>“Can you bind the chains<a id="filepos4342098" href="#filepos4406151"><span><sup>[70]</sup></span></a> of the Pleiades?</span></p></blockquote><div> </div>
<blockquote><p><span>Can you loosen Orion’s belt?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>32</sup>Can you bring forth the constellations in their seasons<a id="filepos4342568" href="#filepos4406409"><span><sup>[71]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>or lead out the Bear<a id="filepos4342801" href="#filepos4406675"><span><sup>[72]</sup></span></a> with its cubs?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>33</sup>Do you know the laws of the heavens?</span></p></blockquote><div> </div>
<blockquote><p><span>Can you set up God’s<a id="filepos4343242" href="#filepos4406918"><span><sup>[73]</sup></span></a> dominion over the earth?</span></p></blockquote>
<br/><blockquote><p><span><sup>34</sup>“Can you raise your voice to the clouds</span></p></blockquote><div> </div>
<blockquote><p><span>and cover yourself with a flood of water?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>35</sup>Do you send the lightning bolts on their way?</span></p></blockquote><div> </div>
<blockquote><p><span>Do they report to you, ‘Here we are’?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>36</sup>Who gives the ibis wisdom<a id="filepos4344270" href="#filepos4407159"><span><sup>[74]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>or gives the rooster understanding?<a id="filepos4344518" href="#filepos4407431"><span><sup>[75]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>37</sup>Who has the wisdom to count the clouds?</span></p></blockquote><div> </div>
<blockquote><p><span>Who can tip over the water jars of the heavens</span></p></blockquote><div> </div>
<blockquote><p><span><sup>38</sup>when the dust becomes hard</span></p></blockquote><div> </div>
<blockquote><p><span>and the clods of earth stick together?</span></p></blockquote>
<br/><blockquote><p><span><sup>39</sup>“Do you hunt the prey for the lioness</span></p></blockquote><div> </div>
<blockquote><p><span>and satisfy the hunger of the lions</span></p></blockquote><div> </div>
<blockquote><p><span><sup>40</sup>when they crouch in their dens</span></p></blockquote><div> </div>
<blockquote><p><span>or lie in wait in a thicket?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>41</sup>Who provides food for the raven</span></p></blockquote><div> </div>
<blockquote><p><span>when its young cry out to God</span></p></blockquote><div> </div>
<blockquote><p><span>and wander about for lack of food?</span></p></blockquote>
</div>
</div>
</div>
<br/><div id="filepos4346581">
<p><span><a href="dummy_split_004.html#filepos111349"><span>Job 39</span></a></span></p><div> </div>
<div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>“Do you know when the mountain goats give birth?</span></p></blockquote><div> </div>
<blockquote><p><span>Do you watch when the doe bears her fawn?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>Do you count the months till they bear?</span></p></blockquote><div> </div>
<blockquote><p><span>Do you know the time they give birth?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>They crouch down and bring forth their young;</span></p></blockquote><div> </div>
<blockquote><p><span>their labor pains are ended.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>Their young thrive and grow strong in the wilds;</span></p></blockquote><div> </div>
<blockquote><p><span>they leave and do not return.</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>“Who let the wild donkey go free?</span></p></blockquote><div> </div>
<blockquote><p><span>Who untied its ropes?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>I gave it the wasteland as its home,</span></p></blockquote><div> </div>
<blockquote><p><span>the salt flats as its habitat.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>It laughs at the commotion in the town;</span></p></blockquote><div> </div>
<blockquote><p><span>it does not hear a driver’s shout.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>It ranges the hills for its pasture</span></p></blockquote><div> </div>
<blockquote><p><span>and searches for any green thing.</span></p></blockquote>
<br/><blockquote><p><span><sup>9</sup>“Will the wild ox consent to serve you?</span></p></blockquote><div> </div>
<blockquote><p><span>Will it stay by your manger at night?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Can you hold it to the furrow with a harness?</span></p></blockquote><div> </div>
<blockquote><p><span>Will it till the valleys behind you?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Will you rely on it for its great strength?</span></p></blockquote><div> </div>
<blockquote><p><span>Will you leave your heavy work to it?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>Can you trust it to haul in your grain</span></p></blockquote><div> </div>
<blockquote><p><span>and bring it to your threshing floor?</span></p></blockquote>
<br/><blockquote><p><span><sup>13</sup>“The wings of the ostrich flap joyfully,</span></p></blockquote><div> </div>
<blockquote><p><span>though they cannot compare</span></p></blockquote><div> </div>
<blockquote><p><span>with the wings and feathers of the stork.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>She lays her eggs on the ground</span></p></blockquote><div> </div>
<blockquote><p><span>and lets them warm in the sand,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>unmindful that a foot may crush them,</span></p></blockquote><div> </div>
<blockquote><p><span>that some wild animal may trample them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>She treats her young harshly, as if they were not hers;</span></p></blockquote><div> </div>
<blockquote><p><span>she cares not that her labor was in vain,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>for God did not endow her with wisdom</span></p></blockquote><div> </div>
<blockquote><p><span>or give her a share of good sense.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Yet when she spreads her feathers to run,</span></p></blockquote><div> </div>
<blockquote><p><span>she laughs at horse and rider.</span></p></blockquote>
<br/><blockquote><p><span><sup>19</sup>“Do you give the horse its strength</span></p></blockquote><div> </div>
<blockquote><p><span>or clothe its neck with a flowing mane?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>Do you make it leap like a locust,</span></p></blockquote><div> </div>
<blockquote><p><span>striking terror with its proud snorting?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>It paws fiercely, rejoicing in its strength,</span></p></blockquote><div> </div>
<blockquote><p><span>and charges into the fray.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>22</sup>It laughs at fear, afraid of nothing;</span></p></blockquote><div> </div>
<blockquote><p><span>it does not shy away from the sword.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>The quiver rattles against its side,</span></p></blockquote><div> </div>
<blockquote><p><span>along with the flashing spear and lance.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>In frenzied excitement it eats up the ground;</span></p></blockquote><div> </div>
<blockquote><p><span>it cannot stand still when the trumpet sounds.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>25</sup>At the blast of the trumpet it snorts, ‘Aha!’</span></p></blockquote><div> </div>
<blockquote><p><span>It catches the scent of battle from afar,</span></p></blockquote><div> </div>
<blockquote><p><span>the shout of commanders and the battle cry.</span></p></blockquote>
<br/><blockquote><p><span><sup>26</sup>“Does the hawk take flight by your wisdom</span></p></blockquote><div> </div>
<blockquote><p><span>and spread its wings toward the south?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>27</sup>Does the eagle soar at your command</span></p></blockquote><div> </div>
<blockquote><p><span>and build its nest on high?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>28</sup>It dwells on a cliff and stays there at night;</span></p></blockquote><div> </div>
<blockquote><p><span>a rocky crag is its stronghold.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>29</sup>From there it looks for food;</span></p></blockquote><div> </div>
<blockquote><p><span>its eyes detect it from afar.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>30</sup>Its young ones feast on blood,</span></p></blockquote><div> </div>
<blockquote><p><span>and where the slain are, there it is.”</span></p></blockquote>
</div>
</div>
</div>
<br/><br/><div id="filepos4357780">
<p><span><a href="dummy_split_004.html#filepos111526"><span>Job 40</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>The <span><span>LORD</span></span> said to Job:</span></p>
<br/><br/><div title="poetry">
<blockquote><p><span><sup>2</sup>“Will the one who contends with the Almighty correct him?</span></p></blockquote><div> </div>
<blockquote><p><span>Let him who accuses God answer him!”</span></p></blockquote>
</div>
<br/><p><span><sup>3</sup>Then Job answered the <span><span>LORD</span></span>:</span></p>
<br/><div title="poetry">
<blockquote><p><span><sup>4</sup>“I am unworthy—how can I reply to you?</span></p></blockquote><div> </div>
<blockquote><p><span>I put my hand over my mouth.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>I spoke once, but I have no answer—</span></p></blockquote><div> </div>
<blockquote><p><span>twice, but I will say no more.”</span></p></blockquote>
</div>
<br/><p><span><sup>6</sup>Then the <span><span>LORD</span></span> spoke to Job out of the storm:</span></p>
<br/><div title="poetry">
<blockquote><p><span><sup>7</sup>“Brace yourself like a man;</span></p></blockquote><div> </div>
<blockquote><p><span>I will question you,</span></p></blockquote><div> </div>
<blockquote><p><span>and you shall answer me.</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>“Would you discredit my justice?</span></p></blockquote><div> </div>
<blockquote><p><span>Would you condemn me to justify yourself?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Do you have an arm like God’s,</span></p></blockquote><div> </div>
<blockquote><p><span>and can your voice thunder like his?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Then adorn yourself with glory and splendor,</span></p></blockquote><div> </div>
<blockquote><p><span>and clothe yourself in honor and majesty.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Unleash the fury of your wrath,</span></p></blockquote><div> </div>
<blockquote><p><span>look at all who are proud and bring them low,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>look at all who are proud and humble them,</span></p></blockquote><div> </div>
<blockquote><p><span>crush the wicked where they stand.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Bury them all in the dust together;</span></p></blockquote><div> </div>
<blockquote><p><span>shroud their faces in the grave.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Then I myself will admit to you</span></p></blockquote><div> </div>
<blockquote><p><span>that your own right hand can save you.</span></p></blockquote>
<br/><blockquote><p><span><sup>15</sup>“Look at Behemoth,</span></p></blockquote><div> </div>
<blockquote><p><span>which I made along with you</span></p></blockquote><div> </div>
<blockquote><p><span>and which feeds on grass like an ox.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>What strength it has in its loins,</span></p></blockquote><div> </div>
<blockquote><p><span>what power in the muscles of its belly!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>Its tail sways like a cedar;</span></p></blockquote><div> </div>
<blockquote><p><span>the sinews of its thighs are close-knit.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Its bones are tubes of bronze,</span></p></blockquote><div> </div>
<blockquote><p><span>its limbs like rods of iron.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>It ranks first among the works of God,</span></p></blockquote><div> </div>
<blockquote><p><span>yet its Maker can approach it with his sword.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>The hills bring it their produce,</span></p></blockquote><div> </div>
<blockquote><p><span>and all the wild animals play nearby.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Under the lotus plants it lies,</span></p></blockquote><div> </div>
<blockquote><p><span>hidden among the reeds in the marsh.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>22</sup>The lotuses conceal it in their shadow;</span></p></blockquote><div> </div>
<blockquote><p><span>the poplars by the stream surround it.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>A raging river does not alarm it;</span></p></blockquote><div> </div>
<blockquote><p><span>it is secure, though the Jordan should surge against its mouth.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>Can anyone capture it by the eyes,</span></p></blockquote><div> </div>
<blockquote><p><span>or trap it and pierce its nose?</span></p></blockquote>
</div>
</div>
</div>
<br/><div id="filepos4366325">
<p><span><a href="dummy_split_004.html#filepos111703"><span>Job 41</span></a><a id="filepos4366458" href="#filepos4407865"><span><sup>[76]</sup></span></a></span></p><div> </div>
<div>
<div title="poetry">
<blockquote><p id="filepos4366606"><span><sup>1</sup>“Can you pull in Leviathan with a fishhook</span></p></blockquote><div> </div>
<blockquote><p><span>or tie down its tongue with a rope?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>Can you put a cord through its nose</span></p></blockquote><div> </div>
<blockquote><p><span>or pierce its jaw with a hook?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Will it keep begging you for mercy?</span></p></blockquote><div> </div>
<blockquote><p><span>Will it speak to you with gentle words?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>Will it make an agreement with you</span></p></blockquote><div> </div>
<blockquote><p><span>for you to take it as your slave for life?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>Can you make a pet of it like a bird</span></p></blockquote><div> </div>
<blockquote><p><span>or put it on a leash for the young women in your house?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>Will traders barter for it?</span></p></blockquote><div> </div>
<blockquote><p><span>Will they divide it up among the merchants?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>Can you fill its hide with harpoons</span></p></blockquote><div> </div>
<blockquote><p><span>or its head with fishing spears?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>If you lay a hand on it,</span></p></blockquote><div> </div>
<blockquote><p><span>you will remember the struggle and never do it again!</span></p></blockquote><div> </div>
<blockquote><p id="filepos4369425"><span><sup>9</sup>Any hope of subduing it is false;</span></p></blockquote><div> </div>
<blockquote><p><span>the mere sight of it is overpowering.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>No one is fierce enough to rouse it.</span></p></blockquote><div> </div>
<blockquote><p><span>Who then is able to stand against me?</span></p></blockquote><div> </div>
<blockquote><p id="filepos4370123"><span><sup>11</sup>Who has a claim against me that I must pay?</span></p></blockquote><div> </div>
<blockquote><p><span>Everything under heaven belongs to me.</span></p></blockquote>
<br/><blockquote><p><span><sup>12</sup>“I will not fail to speak of Leviathan’s limbs,</span></p></blockquote><div> </div>
<blockquote><p><span>its strength and its graceful form.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Who can strip off its outer coat?</span></p></blockquote><div> </div>
<blockquote><p><span>Who can penetrate its double coat of armor<a id="filepos4371162" href="#filepos4408285"><span><sup>[77]</sup></span></a>?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Who dares open the doors of its mouth,</span></p></blockquote><div> </div>
<blockquote><p><span>ringed about with fearsome teeth?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>Its back has<a id="filepos4371761" href="#filepos4408550"><span><sup>[78]</sup></span></a> rows of shields</span></p></blockquote><div> </div>
<blockquote><p><span>tightly sealed together;</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>each is so close to the next</span></p></blockquote><div> </div>
<blockquote><p><span>that no air can pass between.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>They are joined fast to one another;</span></p></blockquote><div> </div>
<blockquote><p><span>they cling together and cannot be parted.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Its snorting throws out flashes of light;</span></p></blockquote><div> </div>
<blockquote><p><span>its eyes are like the rays of dawn.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>Flames stream from its mouth;</span></p></blockquote><div> </div>
<blockquote><p><span>sparks of fire shoot out.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>Smoke pours from its nostrils</span></p></blockquote><div> </div>
<blockquote><p><span>as from a boiling pot over burning reeds.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Its breath sets coals ablaze,</span></p></blockquote><div> </div>
<blockquote><p><span>and flames dart from its mouth.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>22</sup>Strength resides in its neck;</span></p></blockquote><div> </div>
<blockquote><p><span>dismay goes before it.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>The folds of its flesh are tightly joined;</span></p></blockquote><div> </div>
<blockquote><p><span>they are firm and immovable.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>Its chest is hard as rock,</span></p></blockquote><div> </div>
<blockquote><p><span>hard as a lower millstone.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>25</sup>When it rises up, the mighty are terrified;</span></p></blockquote><div> </div>
<blockquote><p><span>they retreat before its thrashing.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>26</sup>The sword that reaches it has no effect,</span></p></blockquote><div> </div>
<blockquote><p><span>nor does the spear or the dart or the javelin.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>27</sup>Iron it treats like straw</span></p></blockquote><div> </div>
<blockquote><p><span>and bronze like rotten wood.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>28</sup>Arrows do not make it flee;</span></p></blockquote><div> </div>
<blockquote><p><span>slingstones are like chaff to it.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>29</sup>A club seems to it but a piece of straw;</span></p></blockquote><div> </div>
<blockquote><p><span>it laughs at the rattling of the lance.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>30</sup>Its undersides are jagged potsherds,</span></p></blockquote><div> </div>
<blockquote><p><span>leaving a trail in the mud like a threshing sledge.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>31</sup>It makes the depths churn like a boiling caldron</span></p></blockquote><div> </div>
<blockquote><p><span>and stirs up the sea like a pot of ointment.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>32</sup>It leaves a glistening wake behind it;</span></p></blockquote><div> </div>
<blockquote><p><span>one would think the deep had white hair.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>33</sup>Nothing on earth is its equal—</span></p></blockquote><div> </div>
<blockquote><p><span>a creature without fear.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>34</sup>It looks down on all that are haughty;</span></p></blockquote><div> </div>
<blockquote><p><span>it is king over all that are proud.”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos4378685">
<p><span><a href="dummy_split_004.html#filepos111880"><span>Job 42</span></a></span></p><div> </div>
<div>
<p><span><span>Job</span></span></p><div> </div>
<p><span><sup>1</sup>Then Job replied to the <span><span>LORD</span></span>:</span></p>
<br/><br/><div title="poetry">
<blockquote><p><span><sup>2</sup>“I know that you can do all things;</span></p></blockquote><div> </div>
<blockquote><p><span>no purpose of yours can be thwarted.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>You asked, ‘Who is this that obscures my plans without knowledge?’</span></p></blockquote><div> </div>
<blockquote><p><span>Surely I spoke of things I did not understand,</span></p></blockquote><div> </div>
<blockquote><p><span>things too wonderful for me to know.</span></p></blockquote>
<br/><blockquote><p><span><sup>4</sup>“You said, ‘Listen now, and I will speak;</span></p></blockquote><div> </div>
<blockquote><p><span>I will question you,</span></p></blockquote><div> </div>
<blockquote><p><span>and you shall answer me.’</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>My ears had heard of you</span></p></blockquote><div> </div>
<blockquote><p><span>but now my eyes have seen you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>Therefore I despise myself</span></p></blockquote><div> </div>
<blockquote><p><span>and repent in dust and ashes.”</span></p></blockquote>
</div>
<p><span><span>Epilogue</span></span></p><div> </div>
<p><span><sup>7</sup>After the <span><span>LORD</span></span> had said these things to Job, he said to Eliphaz the Temanite, “I am angry with you and your two friends, because you have not spoken the truth about me, as my servant Job has. <sup>8</sup>So now take seven bulls and seven rams and go to my servant Job and sacrifice a burnt offering for yourselves. My servant Job will pray for you, and I will accept his prayer and not deal with you according to your folly. You have not spoken the truth about me, as my servant Job has.” <sup>9</sup>So Eliphaz the Temanite, Bildad the Shuhite and Zophar the Naamathite did what the <span><span>LORD</span></span> told them; and the <span><span>LORD</span></span> accepted Job’s prayer.</span></p>
<p><span><sup>10</sup>After Job had prayed for his friends, the <span><span>LORD</span></span> restored his fortunes and gave him twice as much as he had before. <sup>11</sup>All his brothers and sisters and everyone who had known him before came and ate with him in his house. They comforted and consoled him over all the trouble the <span><span>LORD</span></span> had brought on him, and each one gave him a piece of silver<a id="filepos4382772" href="#filepos4408916"><span><sup>[79]</sup></span></a> and a gold ring.</span></p>
<p><span><sup>12</sup>The <span><span>LORD</span></span> blessed the latter part of Job’s life more than the former part. He had fourteen thousand sheep, six thousand camels, a thousand yoke of oxen and a thousand donkeys. <sup>13</sup>And he also had seven sons and three daughters. <sup>14</sup>The first daughter he named Jemimah, the second Keziah and the third Keren-Happuch. <sup>15</sup>Nowhere in all the land were there found women as beautiful as Job’s daughters, and their father granted them an inheritance along with their brothers.</span></p>
<p><span><sup>16</sup>After this, Job lived a hundred and forty years; he saw his children and their children to the fourth generation. <sup>17</sup>And so Job died, an old man and full of years.</span></p>
</div>
</div>
<div title="notes" id="fnn18">
<p><span><span>Job 1</span></span></p><div> </div>
<blockquote><p id="filepos4384011"><span><a href="dummy_split_036.html#filepos3978979"><span><sup>[1]</sup></span></a><span>1:6</span> Hebrew <span>the sons of God</span></span></p></blockquote>
<blockquote><p id="filepos4384263"><span><a href="dummy_split_036.html#filepos3979154"><span><sup>[2]</sup></span></a><span>1:6</span> Hebrew <span>satan</span> means <span>adversary.</span></span></p></blockquote>
<blockquote><p id="filepos4384529"><span><a href="dummy_split_036.html#filepos3983126"><span><sup>[3]</sup></span></a><span>1:21</span> Or <span>will return there</span></span></p></blockquote>
<p><span><span>Job 2</span></span></p><div> </div>
<blockquote><p id="filepos4384893"><span><a href="dummy_split_036.html#filepos3984185"><span><sup>[4]</sup></span></a><span>2:1</span> Hebrew <span>the sons of God</span></span></p></blockquote>
<blockquote><p id="filepos4385145"><span><a href="dummy_split_036.html#filepos3986532"><span><sup>[5]</sup></span></a><span>2:10</span> The Hebrew word rendered <span>foolish</span> denotes moral deficiency.</span></p></blockquote>
<p><span><span>Job 3</span></span></p><div> </div>
<blockquote><p id="filepos4385547"><span><a href="dummy_split_036.html#filepos3990462"><span><sup>[6]</sup></span></a><span>3:8</span> Or <span>curse the sea</span></span></p></blockquote>
<p><span><span>Job 5</span></span></p><div> </div>
<blockquote><p id="filepos4385906"><span><a href="dummy_split_036.html#filepos4011792"><span><sup>[7]</sup></span></a><span>5:17</span> Hebrew <span>Shaddai</span>; here and throughout Job</span></p></blockquote>
<p><span><span>Job 6</span></span></p><div> </div>
<blockquote><p id="filepos4386289"><span><a href="dummy_split_036.html#filepos4017941"><span><sup>[8]</sup></span></a><span>6:6</span> The meaning of the Hebrew for this phrase is uncertain.</span></p></blockquote>
<blockquote><p id="filepos4386567"><span><a href="dummy_split_036.html#filepos4026364"><span><sup>[9]</sup></span></a><span>6:29</span> Or <span>my righteousness still stands</span></span></p></blockquote>
<p><span><span>Job 7</span></span></p><div> </div>
<blockquote><p id="filepos4386943"><span><a href="dummy_split_036.html#filepos4034680"><span><sup>[10]</sup></span></a><span>7:20</span> A few manuscripts of the Masoretic Text, an ancient Hebrew scribal tradition and Septuagint; most manuscripts of the Masoretic Text <span>I have become a burden to myself.</span></span></p></blockquote>
<p><span><span>Job 8</span></span></p><div> </div>
<blockquote><p id="filepos4387453"><span><a href="dummy_split_036.html#filepos4040509"><span><sup>[11]</sup></span></a><span>8:14</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos4387731"><span><a href="dummy_split_036.html#filepos4042532"><span><sup>[12]</sup></span></a><span>8:19</span> Or <span>Surely all the joy it has / is that</span></span></p></blockquote>
<p><span><span>Job 9</span></span></p><div> </div>
<blockquote><p id="filepos4388114"><span><a href="dummy_split_036.html#filepos4046887"><span><sup>[13]</sup></span></a><span>9:9</span> Or <span>of Leo</span></span></p></blockquote>
<blockquote><p id="filepos4388354"><span><a href="dummy_split_036.html#filepos4050753"><span><sup>[14]</sup></span></a><span>9:19</span> See Septuagint; Hebrew <span>me.</span></span></p></blockquote>
<p><span><span>Job 10</span></span></p><div> </div>
<blockquote><p id="filepos4388726"><span><a href="dummy_split_036.html#filepos4063023"><span><sup>[15]</sup></span></a><span>10:15</span> Or <span>and aware of</span></span></p></blockquote>
<p><span><span>Job 11</span></span></p><div> </div>
<blockquote><p id="filepos4389088"><span><a href="dummy_split_036.html#filepos4070619"><span><sup>[16]</sup></span></a><span>11:12</span> Or <span>wild donkey can be born tame</span></span></p></blockquote>
<p><span><span>Job 12</span></span></p><div> </div>
<blockquote><p id="filepos4389466"><span><a href="dummy_split_036.html#filepos4076496"><span><sup>[17]</sup></span></a><span>12:6</span> Or <span>those whose god is in their own hand</span></span></p></blockquote>
<blockquote><p id="filepos4389737"><span><a href="dummy_split_036.html#filepos4080840"><span><sup>[18]</sup></span></a><span>12:18</span> Or <span>shackles of kings / and ties a belt</span></span></p></blockquote>
<p><span><span>Job 13</span></span></p><div> </div>
<blockquote><p id="filepos4390122"><span><a href="dummy_split_036.html#filepos4088825"><span><sup>[19]</sup></span></a><span>13:15</span> Or <span>He will surely slay me; I have no hope — / yet I will</span></span></p></blockquote>
<p><span><span>Job 14</span></span></p><div> </div>
<blockquote><p id="filepos4390531"><span><a href="dummy_split_036.html#filepos4094903"><span><sup>[20]</sup></span></a><span>14:3</span> Septuagint, Vulgate and Syriac; Hebrew <span>me</span></span></p></blockquote>
<blockquote><p id="filepos4390804"><span><a href="dummy_split_036.html#filepos4099828"><span><sup>[21]</sup></span></a><span>14:14</span> Or <span>release</span></span></p></blockquote>
<p><span><span>Job 16</span></span></p><div> </div>
<blockquote><p id="filepos4391161"><span><a href="dummy_split_036.html#filepos4123796"><span><sup>[22]</sup></span></a><span>16:20</span> Or <span>My friends treat me with scorn</span></span></p></blockquote>
<p><span><span>Job 18</span></span></p><div> </div>
<blockquote><p id="filepos4391541"><span><a href="dummy_split_036.html#filepos4136106"><span><sup>[23]</sup></span></a><span>18:15</span> Or <span>Nothing he had remains</span></span></p></blockquote>
<p><span><span>Job 19</span></span></p><div> </div>
<blockquote><p id="filepos4391913"><span><a href="dummy_split_036.html#filepos4145792"><span><sup>[24]</sup></span></a><span>19:20</span> Or <span>only by my gums</span></span></p></blockquote>
<blockquote><p id="filepos4392164"><span><a href="dummy_split_036.html#filepos4147143"><span><sup>[25]</sup></span></a><span>19:24</span> Or <span>and</span></span></p></blockquote>
<blockquote><p id="filepos4392403"><span><a href="dummy_split_036.html#filepos4147564"><span><sup>[26]</sup></span></a><span>19:25</span> Or <span>vindicator</span></span></p></blockquote>
<blockquote><p id="filepos4392649"><span><a href="dummy_split_036.html#filepos4147831"><span><sup>[27]</sup></span></a><span>19:25</span> Or <span>on my grave</span></span></p></blockquote>
<blockquote><p id="filepos4392896"><span><a href="dummy_split_036.html#filepos4148235"><span><sup>[28]</sup></span></a><span>19:26</span> Or <span>And after I awake, / though this body has been destroyed, / then</span></span></p></blockquote>
<blockquote><p id="filepos4393196"><span><a href="dummy_split_036.html#filepos4148324"><span><sup>[29]</sup></span></a><span>19:26</span> Or <span>destroyed, / apart from</span></span></p></blockquote>
<blockquote><p id="filepos4393455"><span><a href="dummy_split_036.html#filepos4149306"><span><sup>[30]</sup></span></a><span>19:28</span> Many Hebrew manuscripts, Septuagint and Vulgate; most Hebrew manuscripts <span>me</span></span></p></blockquote>
<blockquote><p id="filepos4393763"><span><a href="dummy_split_036.html#filepos4149932"><span><sup>[31]</sup></span></a><span>19:29</span> Or <span>sword, / that you may come to know the Almighty</span></span></p></blockquote>
<p><span><span>Job 20</span></span></p><div> </div>
<blockquote><p id="filepos4394160"><span><a href="dummy_split_036.html#filepos4151570"><span><sup>[32]</sup></span></a><span>20:4</span> Or <span>Adam</span></span></p></blockquote>
<blockquote><p id="filepos4394399"><span><a href="dummy_split_037.html#filepos4160705"><span><sup>[33]</sup></span></a><span>20:28</span> Or <span>The possessions in his house will be carried off, / washed away</span></span></p></blockquote>
<p><span><span>Job 21</span></span></p><div> </div>
<blockquote><p id="filepos4394812"><span><a href="dummy_split_037.html#filepos4165832"><span><sup>[34]</sup></span></a><span>21:13</span> Or <span>in an instant</span></span></p></blockquote>
<blockquote><p id="filepos4395061"><span><a href="dummy_split_037.html#filepos4169964"><span><sup>[35]</sup></span></a><span>21:24</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos4395340"><span><a href="dummy_split_037.html#filepos4172352"><span><sup>[36]</sup></span></a><span>21:30</span> Or <span>wicked are reserved for the day of calamity, / that they are brought forth to</span></span></p></blockquote>
<blockquote><p id="filepos4395653"><span><a href="dummy_split_037.html#filepos4173659"><span><sup>[37]</sup></span></a><span>21:33</span> Or <span>them, / as a countless throng went</span></span></p></blockquote>
<p><span><span>Job 23</span></span></p><div> </div>
<blockquote><p id="filepos4396037"><span><a href="dummy_split_037.html#filepos4185823"><span><sup>[38]</sup></span></a><span>23:2</span> Septuagint and Syriac; Hebrew /<span> the hand on me</span></span></p></blockquote>
<blockquote><p id="filepos4396315"><span><a href="dummy_split_037.html#filepos4185930"><span><sup>[39]</sup></span></a><span>23:2</span> Or <span>heavy on me in</span></span></p></blockquote>
<p><span><span>Job 24</span></span></p><div> </div>
<blockquote><p id="filepos4396678"><span><a href="dummy_split_037.html#filepos4195639"><span><sup>[40]</sup></span></a><span>24:11</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Job 26</span></span></p><div> </div>
<blockquote><p id="filepos4397071"><span><a href="dummy_split_037.html#filepos4206938"><span><sup>[41]</sup></span></a><span>26:6</span> Hebrew <span>Abaddon</span></span></p></blockquote>
<p><span><span>Job 28</span></span></p><div> </div>
<blockquote><p id="filepos4397431"><span><a href="dummy_split_037.html#filepos4222746"><span><sup>[42]</sup></span></a><span>28:11</span> Septuagint, Aquila and Vulgate; Hebrew <span>They dam up</span></span></p></blockquote>
<blockquote><p id="filepos4397714"><span><a href="dummy_split_037.html#filepos4226753"><span><sup>[43]</sup></span></a><span>28:22</span> Hebrew <span>Abaddon</span></span></p></blockquote>
<p><span><span>Job 29</span></span></p><div> </div>
<blockquote><p id="filepos4398075"><span><a href="dummy_split_037.html#filepos4237948"><span><sup>[44]</sup></span></a><span>29:24</span> The meaning of the Hebrew for this clause is uncertain.</span></p></blockquote>
<p><span><span>Job 30</span></span></p><div> </div>
<blockquote><p id="filepos4398470"><span><a href="dummy_split_037.html#filepos4240101"><span><sup>[45]</sup></span></a><span>30:3</span> Or <span>gnawed</span></span></p></blockquote>
<blockquote><p id="filepos4398711"><span><a href="dummy_split_037.html#filepos4240692"><span><sup>[46]</sup></span></a><span>30:4</span> Or <span>fuel</span></span></p></blockquote>
<blockquote><p id="filepos4398950"><span><a href="dummy_split_037.html#filepos4243460"><span><sup>[47]</sup></span></a><span>30:12</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos4399229"><span><a href="dummy_split_037.html#filepos4246103"><span><sup>[48]</sup></span></a><span>30:18</span> Hebrew; Septuagint <span>power he grasps my clothing</span></span></p></blockquote>
<p><span><span>Job 31</span></span></p><div> </div>
<blockquote><p id="filepos4399622"><span><a href="dummy_split_037.html#filepos4255337"><span><sup>[49]</sup></span></a><span>31:12</span> Hebrew <span>Abaddon</span></span></p></blockquote>
<blockquote><p id="filepos4399869"><span><a href="dummy_split_037.html#filepos4263247"><span><sup>[50]</sup></span></a><span>31:33</span> Or <span>as Adam did</span></span></p></blockquote>
<p><span><span>Job 32</span></span></p><div> </div>
<blockquote><p id="filepos4400230"><span><a href="dummy_split_037.html#filepos4267269"><span><sup>[51]</sup></span></a><span>32:3</span> Masoretic Text; an ancient Hebrew scribal tradition <span>Job, and so had condemned God</span></span></p></blockquote>
<blockquote><p id="filepos4400543"><span><a href="dummy_split_037.html#filepos4268839"><span><sup>[52]</sup></span></a><span>32:8</span> Or <span>Spirit</span>; also in verse <a href="dummy_split_037.html#filepos4272734"><span>18</span></a></span></p></blockquote>
<blockquote><p id="filepos4400855"><span><a href="dummy_split_037.html#filepos4269295"><span><sup>[53]</sup></span></a><span>32:9</span> Or <span>many</span>; or <span>great</span></span></p></blockquote>
<p><span><span>Job 33</span></span></p><div> </div>
<blockquote><p id="filepos4401225"><span><a href="dummy_split_037.html#filepos4279120"><span><sup>[54]</sup></span></a><span>33:13</span> Or <span>that he does not answer for any of his actions</span></span></p></blockquote>
<blockquote><p id="filepos4401507"><span><a href="dummy_split_037.html#filepos4281085"><span><sup>[55]</sup></span></a><span>33:18</span> Or <span>from crossing the river</span></span></p></blockquote>
<blockquote><p id="filepos4401766"><span><a href="dummy_split_037.html#filepos4282604"><span><sup>[56]</sup></span></a><span>33:22</span> Or <span>to the place of the dead</span></span></p></blockquote>
<p><span><span>Job 34</span></span></p><div> </div>
<blockquote><p id="filepos4402140"><span><a href="dummy_split_037.html#filepos4292687"><span><sup>[57]</sup></span></a><span>34:14</span> Or <span>Spirit</span></span></p></blockquote>
<p><span><span>Job 35</span></span></p><div> </div>
<blockquote><p id="filepos4402496"><span><a href="dummy_split_037.html#filepos4302848"><span><sup>[58]</sup></span></a><span>35:3</span> Or <span>you</span></span></p></blockquote>
<blockquote><p id="filepos4402734"><span><a href="dummy_split_037.html#filepos4305806"><span><sup>[59]</sup></span></a><span>35:10, 11</span> Or <span>night, / <sup>11</sup>who teaches us by</span></span></p></blockquote>
<blockquote><p id="filepos4403013"><span><a href="dummy_split_037.html#filepos4306066"><span><sup>[60]</sup></span></a><span>35:11</span> Or <span>us wise by</span></span></p></blockquote>
<blockquote><p id="filepos4403259"><span><a href="dummy_split_037.html#filepos4307929"><span><sup>[61]</sup></span></a><span>35:15</span> Symmachus, Theodotion and Vulgate; the meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Job 36</span></span></p><div> </div>
<blockquote><p id="filepos4403687"><span><a href="dummy_split_037.html#filepos4312930"><span><sup>[62]</sup></span></a><span>36:12</span> Or <span>will cross the river</span></span></p></blockquote>
<blockquote><p id="filepos4403943"><span><a href="dummy_split_037.html#filepos4316263"><span><sup>[63]</sup></span></a><span>36:20</span> The meaning of the Hebrew for verses <a href="dummy_split_037.html#filepos4315238"><span>18–20</span></a> is uncertain.</span></p></blockquote>
<blockquote><p id="filepos4404284"><span><a href="dummy_split_037.html#filepos4318798"><span><sup>[64]</sup></span></a><span>36:27</span> Or <span>distill from the mist as rain</span></span></p></blockquote>
<blockquote><p id="filepos4404549"><span><a href="dummy_split_037.html#filepos4320125"><span><sup>[65]</sup></span></a><span>36:31</span> Or <span>nourishes</span></span></p></blockquote>
<blockquote><p id="filepos4404794"><span><a href="dummy_split_037.html#filepos4321084"><span><sup>[66]</sup></span></a><span>36:33</span> Or <span>announces his coming— / the One zealous against evil</span></span></p></blockquote>
<p><span><span>Job 37</span></span></p><div> </div>
<blockquote><p id="filepos4405202"><span><a href="dummy_split_037.html#filepos4324218"><span><sup>[67]</sup></span></a><span>37:7</span> Or <span>work, / he fills all people with fear by his power</span></span></p></blockquote>
<blockquote><p id="filepos4405487"><span><a href="dummy_split_037.html#filepos4330634"><span><sup>[68]</sup></span></a><span>37:24</span> Or <span>for he does not have regard for any who think they are wise.</span></span></p></blockquote>
<p><span><span>Job 38</span></span></p><div> </div>
<blockquote><p id="filepos4405897"><span><a href="#filepos4333619"><span><sup>[69]</sup></span></a><span>38:7</span> Hebrew <span>the sons of God</span></span></p></blockquote>
<blockquote><p id="filepos4406151"><span><a href="#filepos4342098"><span><sup>[70]</sup></span></a><span>38:31</span> Septuagint; Hebrew <span>beauty</span></span></p></blockquote>
<blockquote><p id="filepos4406409"><span><a href="#filepos4342568"><span><sup>[71]</sup></span></a><span>38:32</span> Or <span>the morning star in its season</span></span></p></blockquote>
<blockquote><p id="filepos4406675"><span><a href="#filepos4342801"><span><sup>[72]</sup></span></a><span>38:32</span> Or <span>out Leo</span></span></p></blockquote>
<blockquote><p id="filepos4406918"><span><a href="#filepos4343242"><span><sup>[73]</sup></span></a><span>38:33</span> Or <span>their</span></span></p></blockquote>
<blockquote><p id="filepos4407159"><span><a href="#filepos4344270"><span><sup>[74]</sup></span></a><span>38:36</span> That is, wisdom about the flooding of the Nile</span></p></blockquote>
<blockquote><p id="filepos4407431"><span><a href="#filepos4344518"><span><sup>[75]</sup></span></a><span>38:36</span> That is, understanding of when to crow; the meaning of the Hebrew for this verse is uncertain.</span></p></blockquote>
<p><span><span>Job 41</span></span></p><div> </div>
<blockquote><p id="filepos4407865"><span><a href="#filepos4366458"><span><sup>[76]</sup></span></a>In Hebrew texts <a href="#filepos4366606"><span>41:1–8</span></a> is numbered 40:25–32, and <a href="#filepos4369425"><span>41:9–34</span></a> is numbered 41:1–26.</span></p></blockquote>
<blockquote><p id="filepos4408285"><span><a href="#filepos4371162"><span><sup>[77]</sup></span></a><span>41:13</span> Septuagint; Hebrew <span>double bridle</span></span></p></blockquote>
<blockquote><p id="filepos4408550"><span><a href="#filepos4371761"><span><sup>[78]</sup></span></a><span>41:15</span> Or <span>Its pride is its</span></span></p></blockquote>
<p><span><span>Job 42</span></span></p><div> </div>
<blockquote><p id="filepos4408916"><span><a href="#filepos4382772"><span><sup>[79]</sup></span></a><span>42:11</span> Hebrew <span>him a kesitah</span>; a kesitah was a unit of money of unknown weight and value.</span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_42"></div></body>
</html>
