<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div id="filepos8929914">
<p><span><a href="dummy_split_002.html#filepos8122"><span>Zephaniah</span></a></span></p><div> </div>
<div id="filepos8930086">
<p><span><a href="dummy_split_004.html#filepos192618"><span>Zephaniah 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>The word of the <span><span>LORD</span></span> that came to Zephaniah son of Cushi, the son of Gedaliah, the son of Amariah, the son of Hezekiah, during the reign of Josiah son of Amon king of Judah:</span></p>
<p><span><span>Judgment on the Whole Earth in the Day of the <span><span>LORD</span></span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>2</sup>“I will sweep away everything</span></p></blockquote><div> </div>
<blockquote><p><span>from the face of the earth,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span>.</span></p></blockquote>
<blockquote><p><span><sup>3</sup>“I will sweep away both man and beast;</span></p></blockquote><div> </div>
<blockquote><p><span>I will sweep away the birds in the sky</span></p></blockquote><div> </div>
<blockquote><p><span>and the fish in the sea—</span></p></blockquote><div> </div>
<blockquote><p><span>and the idols that cause the wicked to stumble.”<a id="filepos8931980" href="#filepos8975395"><span><sup>[1]</sup></span></a></span></p></blockquote>
<br/><blockquote><p><span>“When I destroy all mankind</span></p></blockquote><div> </div>
<blockquote><p><span>on the face of the earth,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span>,</span></p></blockquote>
<blockquote><p><span><sup>4</sup>“I will stretch out my hand against Judah</span></p></blockquote><div> </div>
<blockquote><p><span>and against all who live in Jerusalem.</span></p></blockquote><div> </div>
<blockquote><p><span>I will destroy every remnant of Baal worship in this place,</span></p></blockquote><div> </div>
<blockquote><p><span>the very names of the idolatrous priests—</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>those who bow down on the roofs</span></p></blockquote><div> </div>
<blockquote><p><span>to worship the starry host,</span></p></blockquote><div> </div>
<blockquote><p><span>those who bow down and swear by the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>and who also swear by Molek,<a id="filepos8933992" href="#filepos8975671"><span><sup>[2]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>those who turn back from following the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>and neither seek the <span><span>LORD</span></span> nor inquire of him.”</span></p></blockquote>
<br/><blockquote><p><span><sup>7</sup>Be silent before the Sovereign <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>for the day of the <span><span>LORD</span></span> is near.</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span> has prepared a sacrifice;</span></p></blockquote><div> </div>
<blockquote><p><span>he has consecrated those he has invited.</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>“On the day of the <span><span>LORD</span></span>’s sacrifice</span></p></blockquote><div> </div>
<blockquote><p><span>I will punish the officials</span></p></blockquote><div> </div>
<blockquote><p><span>and the king’s sons</span></p></blockquote><div> </div>
<blockquote><p><span>and all those clad</span></p></blockquote><div> </div>
<blockquote><p><span>in foreign clothes.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>On that day I will punish</span></p></blockquote><div> </div>
<blockquote><p><span>all who avoid stepping on the threshold,<a id="filepos8936484" href="#filepos8975914"><span><sup>[3]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>who fill the temple of their gods</span></p></blockquote><div> </div>
<blockquote><p><span>with violence and deceit.</span></p></blockquote>
<br/><blockquote><p><span><sup>10</sup>“On that day,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>“a cry will go up from the Fish Gate,</span></p></blockquote><div> </div>
<blockquote><p><span>wailing from the New Quarter,</span></p></blockquote><div> </div>
<blockquote><p><span>and a loud crash from the hills.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Wail, you who live in the market district<a id="filepos8937921" href="#filepos8976207"><span><sup>[4]</sup></span></a>;</span></p></blockquote><div> </div>
<blockquote><p><span>all your merchants will be wiped out,</span></p></blockquote><div> </div>
<blockquote><p><span>all who trade with<a id="filepos8938316" href="#filepos8976451"><span><sup>[5]</sup></span></a> silver will be destroyed.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>At that time I will search Jerusalem with lamps</span></p></blockquote><div> </div>
<blockquote><p><span>and punish those who are complacent,</span></p></blockquote><div> </div>
<blockquote><p><span>who are like wine left on its dregs,</span></p></blockquote><div> </div>
<blockquote><p><span>who think, ‘The <span><span>LORD</span></span> will do nothing,</span></p></blockquote><div> </div>
<blockquote><p><span>either good or bad.’</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Their wealth will be plundered,</span></p></blockquote><div> </div>
<blockquote><p><span>their houses demolished.</span></p></blockquote><div> </div>
<blockquote><p><span>Though they build houses,</span></p></blockquote><div> </div>
<blockquote><p><span>they will not live in them;</span></p></blockquote><div> </div>
<blockquote><p><span>though they plant vineyards,</span></p></blockquote><div> </div>
<blockquote><p><span>they will not drink the wine.”</span></p></blockquote>
<br/><blockquote><p><span><sup>14</sup>The great day of the <span><span>LORD</span></span> is near—</span></p></blockquote><div> </div>
<blockquote><p><span>near and coming quickly.</span></p></blockquote><div> </div>
<blockquote><p><span>The cry on the day of the <span><span>LORD</span></span> is bitter;</span></p></blockquote><div> </div>
<blockquote><p><span>the Mighty Warrior shouts his battle cry.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>That day will be a day of wrath—</span></p></blockquote><div> </div>
<blockquote><p><span>a day of distress and anguish,</span></p></blockquote><div> </div>
<blockquote><p><span>a day of trouble and ruin,</span></p></blockquote><div> </div>
<blockquote><p><span>a day of darkness and gloom,</span></p></blockquote><div> </div>
<blockquote><p><span>a day of clouds and blackness—</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>a day of trumpet and battle cry</span></p></blockquote><div> </div>
<blockquote><p><span>against the fortified cities</span></p></blockquote><div> </div>
<blockquote><p><span>and against the corner towers.</span></p></blockquote>
<br/><blockquote><p><span><sup>17</sup>“I will bring such distress on all people</span></p></blockquote><div> </div>
<blockquote><p><span>that they will grope about like those who are blind,</span></p></blockquote><div> </div>
<blockquote><p><span>because they have sinned against the <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p><span>Their blood will be poured out like dust</span></p></blockquote><div> </div>
<blockquote><p><span>and their entrails like dung.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Neither their silver nor their gold</span></p></blockquote><div> </div>
<blockquote><p><span>will be able to save them</span></p></blockquote><div> </div>
<blockquote><p><span>on the day of the <span><span>LORD</span></span>’s wrath.”</span></p></blockquote>
<br/><blockquote><p><span>In the fire of his jealousy</span></p></blockquote><div> </div>
<blockquote><p><span>the whole earth will be consumed,</span></p></blockquote><div> </div>
<blockquote><p><span>for he will make a sudden end</span></p></blockquote><div> </div>
<blockquote><p><span>of all who live on the earth.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8944500">
<p><span><a href="dummy_split_004.html#filepos192800"><span>Zephaniah 2</span></a></span></p><div> </div>
<div>
<p><span><span>Judah and Jerusalem Judged Along With the Nations</span></span></p><div> </div>
<p><span><span><span>Judah Summoned to Repent</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>Gather together, gather yourselves together,</span></p></blockquote><div> </div>
<blockquote><p><span>you shameful nation,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>before the decree takes effect</span></p></blockquote><div> </div>
<blockquote><p><span>and that day passes like windblown chaff,</span></p></blockquote><div> </div>
<blockquote><p><span>before the <span><span>LORD</span></span>’s fierce anger</span></p></blockquote><div> </div>
<blockquote><p><span>comes upon you,</span></p></blockquote><div> </div>
<blockquote><p><span>before the day of the <span><span>LORD</span></span>’s wrath</span></p></blockquote><div> </div>
<blockquote><p><span>comes upon you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Seek the <span><span>LORD</span></span>, all you humble of the land,</span></p></blockquote><div> </div>
<blockquote><p><span>you who do what he commands.</span></p></blockquote><div> </div>
<blockquote><p><span>Seek righteousness, seek humility;</span></p></blockquote><div> </div>
<blockquote><p><span>perhaps you will be sheltered</span></p></blockquote><div> </div>
<blockquote><p><span>on the day of the <span><span>LORD</span></span>’s anger.</span></p></blockquote>
</div>
<p><span><span><span>Philistia</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>4</sup>Gaza will be abandoned</span></p></blockquote><div> </div>
<blockquote><p><span>and Ashkelon left in ruins.</span></p></blockquote><div> </div>
<blockquote><p><span>At midday Ashdod will be emptied</span></p></blockquote><div> </div>
<blockquote><p><span>and Ekron uprooted.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>Woe to you who live by the sea,</span></p></blockquote><div> </div>
<blockquote><p><span>you Kerethite people;</span></p></blockquote><div> </div>
<blockquote><p><span>the word of the <span><span>LORD</span></span> is against you,</span></p></blockquote><div> </div>
<blockquote><p><span>Canaan, land of the Philistines.</span></p></blockquote><div> </div>
<blockquote><p><span>He says, “I will destroy you,</span></p></blockquote><div> </div>
<blockquote><p><span>and none will be left.”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>The land by the sea will become pastures</span></p></blockquote><div> </div>
<blockquote><p><span>having wells for shepherds</span></p></blockquote><div> </div>
<blockquote><p><span>and pens for flocks.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>That land will belong</span></p></blockquote><div> </div>
<blockquote><p><span>to the remnant of the people of Judah;</span></p></blockquote><div> </div>
<blockquote><p><span>there they will find pasture.</span></p></blockquote><div> </div>
<blockquote><p><span>In the evening they will lie down</span></p></blockquote><div> </div>
<blockquote><p><span>in the houses of Ashkelon.</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span> their God will care for them;</span></p></blockquote><div> </div>
<blockquote><p><span>he will restore their fortunes.<a id="filepos8950662" href="#filepos8976806"><span><sup>[6]</sup></span></a></span></p></blockquote>
</div>
<p><span><span><span>Moab and Ammon</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>8</sup>“I have heard the insults of Moab</span></p></blockquote><div> </div>
<blockquote><p><span>and the taunts of the Ammonites,</span></p></blockquote><div> </div>
<blockquote><p><span>who insulted my people</span></p></blockquote><div> </div>
<blockquote><p><span>and made threats against their land.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Therefore, as surely as I live,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span> Almighty,</span></p></blockquote><div> </div>
<blockquote><p><span>the God of Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>“surely Moab will become like Sodom,</span></p></blockquote><div> </div>
<blockquote><p><span>the Ammonites like Gomorrah—</span></p></blockquote><div> </div>
<blockquote><p><span>a place of weeds and salt pits,</span></p></blockquote><div> </div>
<blockquote><p><span>a wasteland forever.</span></p></blockquote><div> </div>
<blockquote><p><span>The remnant of my people will plunder them;</span></p></blockquote><div> </div>
<blockquote><p><span>the survivors of my nation will inherit their land.”</span></p></blockquote>
<br/><blockquote><p><span><sup>10</sup>This is what they will get in return for their pride,</span></p></blockquote><div> </div>
<blockquote><p><span>for insulting and mocking</span></p></blockquote><div> </div>
<blockquote><p><span>the people of the <span><span>LORD</span></span> Almighty.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>The <span><span>LORD</span></span> will be awesome to them</span></p></blockquote><div> </div>
<blockquote><p><span>when he destroys all the gods of the earth.</span></p></blockquote><div> </div>
<blockquote><p><span>Distant nations will bow down to him,</span></p></blockquote><div> </div>
<blockquote><p><span>all of them in their own lands.</span></p></blockquote>
</div>
<p><span><span><span>Cush</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>12</sup>“You Cushites,<a id="filepos8954660" href="#filepos8977069"><span><sup>[7]</sup></span></a> too,</span></p></blockquote><div> </div>
<blockquote><p><span>will be slain by my sword.”</span></p></blockquote>
</div>
<p><span><span><span>Assyria</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>13</sup>He will stretch out his hand against the north</span></p></blockquote><div> </div>
<blockquote><p><span>and destroy Assyria,</span></p></blockquote><div> </div>
<blockquote><p><span>leaving Nineveh utterly desolate</span></p></blockquote><div> </div>
<blockquote><p><span>and dry as the desert.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Flocks and herds will lie down there,</span></p></blockquote><div> </div>
<blockquote><p><span>creatures of every kind.</span></p></blockquote><div> </div>
<blockquote><p><span>The desert owl and the screech owl</span></p></blockquote><div> </div>
<blockquote><p><span>will roost on her columns.</span></p></blockquote><div> </div>
<blockquote><p><span>Their hooting will echo through the windows,</span></p></blockquote><div> </div>
<blockquote><p><span>rubble will fill the doorways,</span></p></blockquote><div> </div>
<blockquote><p><span>the beams of cedar will be exposed.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>This is the city of revelry</span></p></blockquote><div> </div>
<blockquote><p><span>that lived in safety.</span></p></blockquote><div> </div>
<blockquote><p><span>She said to herself,</span></p></blockquote><div> </div>
<blockquote><p><span>“I am the one! And there is none besides me.”</span></p></blockquote><div> </div>
<blockquote><p><span>What a ruin she has become,</span></p></blockquote><div> </div>
<blockquote><p><span>a lair for wild beasts!</span></p></blockquote><div> </div>
<blockquote><p><span>All who pass by her scoff</span></p></blockquote><div> </div>
<blockquote><p><span>and shake their fists.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8958186">
<p><span><a href="dummy_split_004.html#filepos192982"><span>Zephaniah 3</span></a></span></p><div> </div>
<div>
<p><span><span><span>Jerusalem</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>Woe to the city of oppressors,</span></p></blockquote><div> </div>
<blockquote><p><span>rebellious and defiled!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>She obeys no one,</span></p></blockquote><div> </div>
<blockquote><p><span>she accepts no correction.</span></p></blockquote><div> </div>
<blockquote><p><span>She does not trust in the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>she does not draw near to her God.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Her officials within her</span></p></blockquote><div> </div>
<blockquote><p><span>are roaring lions;</span></p></blockquote><div> </div>
<blockquote><p><span>her rulers are evening wolves,</span></p></blockquote><div> </div>
<blockquote><p><span>who leave nothing for the morning.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>Her prophets are unprincipled;</span></p></blockquote><div> </div>
<blockquote><p><span>they are treacherous people.</span></p></blockquote><div> </div>
<blockquote><p><span>Her priests profane the sanctuary</span></p></blockquote><div> </div>
<blockquote><p><span>and do violence to the law.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>The <span><span>LORD</span></span> within her is righteous;</span></p></blockquote><div> </div>
<blockquote><p><span>he does no wrong.</span></p></blockquote><div> </div>
<blockquote><p><span>Morning by morning he dispenses his justice,</span></p></blockquote><div> </div>
<blockquote><p><span>and every new day he does not fail,</span></p></blockquote><div> </div>
<blockquote><p><span>yet the unrighteous know no shame.</span></p></blockquote>
</div>
<p><span><span><span>Jerusalem Remains Unrepentant</span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>6</sup>“I have destroyed nations;</span></p></blockquote><div> </div>
<blockquote><p><span>their strongholds are demolished.</span></p></blockquote><div> </div>
<blockquote><p><span>I have left their streets deserted,</span></p></blockquote><div> </div>
<blockquote><p><span>with no one passing through.</span></p></blockquote><div> </div>
<blockquote><p><span>Their cities are laid waste;</span></p></blockquote><div> </div>
<blockquote><p><span>they are deserted and empty.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>Of Jerusalem I thought,</span></p></blockquote><div> </div>
<blockquote><p><span>‘Surely you will fear me</span></p></blockquote><div> </div>
<blockquote><p><span>and accept correction!’</span></p></blockquote><div> </div>
<blockquote><p><span>Then her place of refuge<a id="filepos8963385" href="#filepos8977454"><span><sup>[8]</sup></span></a> would not be destroyed,</span></p></blockquote><div> </div>
<blockquote><p><span>nor all my punishments come upon<a id="filepos8963653" href="#filepos8977700"><span><sup>[9]</sup></span></a> her.</span></p></blockquote><div> </div>
<blockquote><p><span>But they were still eager</span></p></blockquote><div> </div>
<blockquote><p><span>to act corruptly in all they did.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>Therefore wait for me,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>“for the day I will stand up to testify.<a id="filepos8964588" href="#filepos8977959"><span><sup>[10]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>I have decided to assemble the nations,</span></p></blockquote><div> </div>
<blockquote><p><span>to gather the kingdoms</span></p></blockquote><div> </div>
<blockquote><p><span>and to pour out my wrath on them—</span></p></blockquote><div> </div>
<blockquote><p><span>all my fierce anger.</span></p></blockquote><div> </div>
<blockquote><p><span>The whole world will be consumed</span></p></blockquote><div> </div>
<blockquote><p><span>by the fire of my jealous anger.</span></p></blockquote>
</div>
<p><span><span>Restoration of Israel’s Remnant</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>9</sup>“Then I will purify the lips of the peoples,</span></p></blockquote><div> </div>
<blockquote><p><span>that all of them may call on the name of the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>and serve him shoulder to shoulder.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>From beyond the rivers of Cush<a id="filepos8966547" href="#filepos8978243"><span><sup>[11]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>my worshipers, my scattered people,</span></p></blockquote><div> </div>
<blockquote><p><span>will bring me offerings.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>On that day you, Jerusalem, will not be put to shame</span></p></blockquote><div> </div>
<blockquote><p><span>for all the wrongs you have done to me,</span></p></blockquote><div> </div>
<blockquote><p><span>because I will remove from you</span></p></blockquote><div> </div>
<blockquote><p><span>your arrogant boasters.</span></p></blockquote><div> </div>
<blockquote><p><span>Never again will you be haughty</span></p></blockquote><div> </div>
<blockquote><p><span>on my holy hill.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>But I will leave within you</span></p></blockquote><div> </div>
<blockquote><p><span>the meek and humble.</span></p></blockquote><div> </div>
<blockquote><p><span>The remnant of Israel</span></p></blockquote><div> </div>
<blockquote><p><span>will trust in the name of the <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>They will do no wrong;</span></p></blockquote><div> </div>
<blockquote><p><span>they will tell no lies.</span></p></blockquote><div> </div>
<blockquote><p><span>A deceitful tongue</span></p></blockquote><div> </div>
<blockquote><p><span>will not be found in their mouths.</span></p></blockquote><div> </div>
<blockquote><p><span>They will eat and lie down</span></p></blockquote><div> </div>
<blockquote><p><span>and no one will make them afraid.”</span></p></blockquote>
<br/><blockquote><p><span><sup>14</sup>Sing, Daughter Zion;</span></p></blockquote><div> </div>
<blockquote><p><span>shout aloud, Israel!</span></p></blockquote><div> </div>
<blockquote><p><span>Be glad and rejoice with all your heart,</span></p></blockquote><div> </div>
<blockquote><p><span>Daughter Jerusalem!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>The <span><span>LORD</span></span> has taken away your punishment,</span></p></blockquote><div> </div>
<blockquote><p><span>he has turned back your enemy.</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span>, the King of Israel, is with you;</span></p></blockquote><div> </div>
<blockquote><p><span>never again will you fear any harm.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>On that day</span></p></blockquote><div> </div>
<blockquote><p><span>they will say to Jerusalem,</span></p></blockquote><div> </div>
<blockquote><p><span>“Do not fear, Zion;</span></p></blockquote><div> </div>
<blockquote><p><span>do not let your hands hang limp.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>The <span><span>LORD</span></span> your God is with you,</span></p></blockquote><div> </div>
<blockquote><p><span>the Mighty Warrior who saves.</span></p></blockquote><div> </div>
<blockquote><p><span>He will take great delight in you;</span></p></blockquote><div> </div>
<blockquote><p><span>in his love he will no longer rebuke you,</span></p></blockquote><div> </div>
<blockquote><p><span>but will rejoice over you with singing.”</span></p></blockquote>
<br/><blockquote><p><span><sup>18</sup>“I will remove from you</span></p></blockquote><div> </div>
<blockquote><p><span>all who mourn over the loss of your appointed festivals,</span></p></blockquote><div> </div>
<blockquote><p><span>which is a burden and reproach for you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>At that time I will deal</span></p></blockquote><div> </div>
<blockquote><p><span>with all who oppressed you.</span></p></blockquote><div> </div>
<blockquote><p><span>I will rescue the lame;</span></p></blockquote><div> </div>
<blockquote><p><span>I will gather the exiles.</span></p></blockquote><div> </div>
<blockquote><p><span>I will give them praise and honor</span></p></blockquote><div> </div>
<blockquote><p><span>in every land where they have suffered shame.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>At that time I will gather you;</span></p></blockquote><div> </div>
<blockquote><p><span>at that time I will bring you home.</span></p></blockquote><div> </div>
<blockquote><p><span>I will give you honor and praise</span></p></blockquote><div> </div>
<blockquote><p><span>among all the peoples of the earth</span></p></blockquote><div> </div>
<blockquote><p><span>when I restore your fortunes<a id="filepos8974748" href="#filepos8978498"><span><sup>[12]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>before your very eyes,”</span></p></blockquote><div> </div>
<blockquote><p><span>says the <span><span>LORD</span></span>.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn36">
<p><span><span>Zephaniah 1</span></span></p><div> </div>
<blockquote><p id="filepos8975395"><span><a href="#filepos8931980"><span><sup>[1]</sup></span></a><span>1:3</span> The meaning of the Hebrew for this line is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8975671"><span><a href="#filepos8933992"><span><sup>[2]</sup></span></a><span>1:5</span> Hebrew <span>Malkam</span></span></p></blockquote>
<blockquote><p id="filepos8975914"><span><a href="#filepos8936484"><span><sup>[3]</sup></span></a><span>1:9</span> See <a href="dummy_split_021.html#filepos2257621"><span>1 Samuel 5:5</span></a>.</span></p></blockquote>
<blockquote><p id="filepos8976207"><span><a href="#filepos8937921"><span><sup>[4]</sup></span></a><span>1:11</span> Or <span>the Mortar</span></span></p></blockquote>
<blockquote><p id="filepos8976451"><span><a href="#filepos8938316"><span><sup>[5]</sup></span></a><span>1:11</span> Or <span>in</span></span></p></blockquote>
<p><span><span>Zephaniah 2</span></span></p><div> </div>
<blockquote><p id="filepos8976806"><span><a href="#filepos8950662"><span><sup>[6]</sup></span></a><span>2:7</span> Or <span>will bring back their captives</span></span></p></blockquote>
<blockquote><p id="filepos8977069"><span><a href="#filepos8954660"><span><sup>[7]</sup></span></a><span>2:12</span> That is, people from the upper Nile region</span></p></blockquote>
<p><span><span>Zephaniah 3</span></span></p><div> </div>
<blockquote><p id="filepos8977454"><span><a href="#filepos8963385"><span><sup>[8]</sup></span></a><span>3:7</span> Or <span>her sanctuary</span></span></p></blockquote>
<blockquote><p id="filepos8977700"><span><a href="#filepos8963653"><span><sup>[9]</sup></span></a><span>3:7</span> Or <span>all those I appointed over</span></span></p></blockquote>
<blockquote><p id="filepos8977959"><span><a href="#filepos8964588"><span><sup>[10]</sup></span></a><span>3:8</span> Septuagint and Syriac; Hebrew <span>will rise up to plunder</span></span></p></blockquote>
<blockquote><p id="filepos8978243"><span><a href="#filepos8966547"><span><sup>[11]</sup></span></a><span>3:10</span> That is, the upper Nile region</span></p></blockquote>
<blockquote><p id="filepos8978498"><span><a href="#filepos8974748"><span><sup>[12]</sup></span></a><span>3:20</span> Or <span>I bring back your captives</span></span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_70"></div></body>
</html>
