<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div style="height:0pt" id="filepos20103"></div><div class="mbppagebreak" id="calibre_pb_5"></div><p class="calibre11"><span class="calibre3"><a href="dummy_split_002.html#filepos6914" class="calibre9"><span class="calibre10">How to Use the Holy Bible (NIV), eBook Edition</span></a></span></p><div class="calibre4"> </div>
<p class="calibre15"><span>Following is a guide to navigating this eBook on your digital device. Although functionality and capability of digital devices vary widely, the following notes will help you find the many helpful features of this eBook no matter which device you’re using.</span></p>
<p class="calibre16"><span class="calibre5"><span class="bold">Footnotes</span></span></p><div class="calibre4"> </div>
<p class="calibre15"><span>All footnotes found in this Bible are represented as links. Use your reading device to select and activate a link.</span></p>
<p class="calibre15"><span>A number located inside brackets ([1]) links to a footnote.</span></p>
<p class="calibre16"><span class="calibre5"><span class="bold">Navigation</span></span></p><div class="calibre4"> </div>
<p class="calibre15"><span>To navigate throughout this eBook edition Bible, use your reading device to access the Table of Contents. The Table of Contents provides instant access to every book of the Bible, and will point you toward all of the additional study resources contained within this eBook edition Bible.</span></p>
<p class="calibre15"><span>If you have further questions, we recommend that you refer to your specific eReader’s instruction manual or customer support guide.</span></p>
<div class="mbppagebreak" id="calibre_pb_6"></div></body>
</html>
