<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div id="filepos249466" class="calibre1">
<div class="mbppagebreak" id="calibre_pb_8"></div><p class="calibre11"><span class="calibre3"><a href="dummy_split_002.html#filepos7110" class="calibre9"><span class="calibre10">Alphabetical Order of the Books of the Bible</span></a></span></p><div class="calibre4"> </div>
<p class="calibre18"><span class="calibre5"><span class="italic">The books of the New Testament are indicated by italics.</span></span></p><div class="calibre17"> </div>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos214001" class="calibre9"><span class="calibre10">Acts</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos186508" class="calibre9"><span class="calibre10">Amos</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos85510" class="calibre9"><span class="calibre10">1 Chronicles</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos91094" class="calibre9"><span class="calibre10">2 Chronicles</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos231527" class="calibre9"><span class="calibre10">Colossians</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos222217" class="calibre9"><span class="calibre10">1 Corinthians</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos225401" class="calibre9"><span class="calibre10">2 Corinthians</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos180774" class="calibre9"><span class="calibre10">Daniel</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos50444" class="calibre9"><span class="calibre10">Deuteronomy</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos144969" class="calibre9"><span class="calibre10">Ecclesiastes</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos229309" class="calibre9"><span class="calibre10">Ephesians</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos102482" class="calibre9"><span class="calibre10">Esther</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos31245" class="calibre9"><span class="calibre10">Exodus</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos171906" class="calibre9"><span class="calibre10">Ezekiel</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos97980" class="calibre9"><span class="calibre10">Ezra</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos228024" class="calibre9"><span class="calibre10">Galatians</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos22015" class="calibre9"><span class="calibre10">Genesis</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos191700" class="calibre9"><span class="calibre10">Habakkuk</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos193173" class="calibre9"><span class="calibre10">Haggai</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos237665" class="calibre9"><span class="calibre10">Hebrews</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos183112" class="calibre9"><span class="calibre10">Hosea</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos149078" class="calibre9"><span class="calibre10">Isaiah</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos240198" class="calibre9"><span class="calibre10">James</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos161136" class="calibre9"><span class="calibre10">Jeremiah</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos104460" class="calibre9"><span class="calibre10">Job</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos185794" class="calibre9"><span class="calibre10">Joel</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos210089" class="calibre9"><span class="calibre10">John</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos243091" class="calibre9"><span class="calibre10">1 John</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos244173" class="calibre9"><span class="calibre10">2 John</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos244539" class="calibre9"><span class="calibre10">3 John</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos188653" class="calibre9"><span class="calibre10">Jonah</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos56922" class="calibre9"><span class="calibre10">Joshua</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos244905" class="calibre9"><span class="calibre10">Jude</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos61420" class="calibre9"><span class="calibre10">Judges</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos76643" class="calibre9"><span class="calibre10">1 Kings</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos80805" class="calibre9"><span class="calibre10">2 Kings</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos170782" class="calibre9"><span class="calibre10">Lamentations</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos38623" class="calibre9"><span class="calibre10">Leviticus</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos205643" class="calibre9"><span class="calibre10">Luke</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos196464" class="calibre9"><span class="calibre10">Malachi</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos202621" class="calibre9"><span class="calibre10">Mark</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos197373" class="calibre9"><span class="calibre10">Matthew</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos189550" class="calibre9"><span class="calibre10">Micah</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos190981" class="calibre9"><span class="calibre10">Nahum</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos99934" class="calibre9"><span class="calibre10">Nehemiah</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos43748" class="calibre9"><span class="calibre10">Numbers</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos188284" class="calibre9"><span class="calibre10">Obadiah</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos241273" class="calibre9"><span class="calibre10">1 Peter</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos242362" class="calibre9"><span class="calibre10">2 Peter</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos237293" class="calibre9"><span class="calibre10">Philemon</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos230594" class="calibre9"><span class="calibre10">Philippians</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos139145" class="calibre9"><span class="calibre10">Proverbs</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos112066" class="calibre9"><span class="calibre10">Psalms</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos245265" class="calibre9"><span class="calibre10">Revelation</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos219159" class="calibre9"><span class="calibre10">Romans</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos65378" class="calibre9"><span class="calibre10">Ruth</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos66269" class="calibre9"><span class="calibre10">1 Samuel</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos72093" class="calibre9"><span class="calibre10">2 Samuel</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos147391" class="calibre9"><span class="calibre10">Song of Songs</span></a></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos232454" class="calibre9"><span class="calibre10">1 Thessalonians</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos233599" class="calibre9"><span class="calibre10">2 Thessalonians</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos234368" class="calibre9"><span class="calibre10">1 Timothy</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos235653" class="calibre9"><span class="calibre10">2 Timothy</span></a></span></span></p>
<p class="calibre6"><span><span class="italic"><a href="dummy_split_004.html#filepos236574" class="calibre9"><span class="calibre10">Titus</span></a></span></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos193718" class="calibre9"><span class="calibre10">Zechariah</span></a></span></p>
<p class="calibre6"><span><a href="dummy_split_004.html#filepos192434" class="calibre9"><span class="calibre10">Zephaniah</span></a></span></p>
</div>
<hr class="calibre14"/><div class="mbppagebreak" id="calibre_pb_9"></div></body>
</html>
