<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div id="filepos8766857">
<p><span><a href="dummy_split_002.html#filepos8122"><span>Micah</span></a></span></p><div> </div>
<div id="filepos8767025">
<p><span><a href="dummy_split_004.html#filepos189726"><span>Micah 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>The word of the <span><span>LORD</span></span> that came to Micah of Moresheth during the reigns of Jotham, Ahaz and Hezekiah, kings of Judah—the vision he saw concerning Samaria and Jerusalem.</span></p>
<br/><div title="poetry">
<blockquote><p><span><sup>2</sup>Hear, you peoples, all of you,</span></p></blockquote><div> </div>
<blockquote><p><span>listen, earth and all who live in it,</span></p></blockquote><div> </div>
<blockquote><p><span>that the Sovereign <span><span>LORD</span></span> may bear witness against you,</span></p></blockquote><div> </div>
<blockquote><p><span>the Lord from his holy temple.</span></p></blockquote>
</div>
<p><span><span>Judgment Against Samaria and Jerusalem</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>3</sup>Look! The <span><span>LORD</span></span> is coming from his dwelling place;</span></p></blockquote><div> </div>
<blockquote><p><span>he comes down and treads on the heights of the earth.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>The mountains melt beneath him</span></p></blockquote><div> </div>
<blockquote><p><span>and the valleys split apart,</span></p></blockquote><div> </div>
<blockquote><p><span>like wax before the fire,</span></p></blockquote><div> </div>
<blockquote><p><span>like water rushing down a slope.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>All this is because of Jacob’s transgression,</span></p></blockquote><div> </div>
<blockquote><p><span>because of the sins of the people of Israel.</span></p></blockquote><div> </div>
<blockquote><p><span>What is Jacob’s transgression?</span></p></blockquote><div> </div>
<blockquote><p><span>Is it not Samaria?</span></p></blockquote><div> </div>
<blockquote><p><span>What is Judah’s high place?</span></p></blockquote><div> </div>
<blockquote><p><span>Is it not Jerusalem?</span></p></blockquote>
<br/><blockquote><p><span><sup>6</sup>“Therefore I will make Samaria a heap of rubble,</span></p></blockquote><div> </div>
<blockquote><p><span>a place for planting vineyards.</span></p></blockquote><div> </div>
<blockquote><p><span>I will pour her stones into the valley</span></p></blockquote><div> </div>
<blockquote><p><span>and lay bare her foundations.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>All her idols will be broken to pieces;</span></p></blockquote><div> </div>
<blockquote><p><span>all her temple gifts will be burned with fire;</span></p></blockquote><div> </div>
<blockquote><p><span>I will destroy all her images.</span></p></blockquote><div> </div>
<blockquote><p><span>Since she gathered her gifts from the wages of prostitutes,</span></p></blockquote><div> </div>
<blockquote><p><span>as the wages of prostitutes they will again be used.”</span></p></blockquote>
</div>
<p><span><span>Weeping and Mourning</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>8</sup>Because of this I will weep and wail;</span></p></blockquote><div> </div>
<blockquote><p><span>I will go about barefoot and naked.</span></p></blockquote><div> </div>
<blockquote><p><span>I will howl like a jackal</span></p></blockquote><div> </div>
<blockquote><p><span>and moan like an owl.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>For Samaria’s plague is incurable;</span></p></blockquote><div> </div>
<blockquote><p><span>it has spread to Judah.</span></p></blockquote><div> </div>
<blockquote><p><span>It has reached the very gate of my people,</span></p></blockquote><div> </div>
<blockquote><p><span>even to Jerusalem itself.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Tell it not in Gath<a id="filepos8773648" href="#filepos8846434"><span><sup>[1]</sup></span></a>;</span></p></blockquote><div> </div>
<blockquote><p><span>weep not at all.</span></p></blockquote><div> </div>
<blockquote><p><span>In Beth Ophrah<a id="filepos8774018" href="#filepos8846709"><span><sup>[2]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>roll in the dust.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Pass by naked and in shame,</span></p></blockquote><div> </div>
<blockquote><p><span>you who live in Shaphir.<a id="filepos8774576" href="#filepos8846979"><span><sup>[3]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>Those who live in Zaanan<a id="filepos8774812" href="#filepos8847240"><span><sup>[4]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>will not come out.</span></p></blockquote><div> </div>
<blockquote><p><span>Beth Ezel is in mourning;</span></p></blockquote><div> </div>
<blockquote><p><span>it no longer protects you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>Those who live in Maroth<a id="filepos8775522" href="#filepos8847521"><span><sup>[5]</sup></span></a> writhe in pain,</span></p></blockquote><div> </div>
<blockquote><p><span>waiting for relief,</span></p></blockquote><div> </div>
<blockquote><p><span>because disaster has come from the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>even to the gate of Jerusalem.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>You who live in Lachish,</span></p></blockquote><div> </div>
<blockquote><p><span>harness fast horses to the chariot.</span></p></blockquote><div> </div>
<blockquote><p><span>You are where the sin of Daughter Zion began,</span></p></blockquote><div> </div>
<blockquote><p><span>for the transgressions of Israel were found in you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Therefore you will give parting gifts</span></p></blockquote><div> </div>
<blockquote><p><span>to Moresheth Gath.</span></p></blockquote><div> </div>
<blockquote><p><span>The town of Akzib<a id="filepos8777293" href="#filepos8847800"><span><sup>[6]</sup></span></a> will prove deceptive</span></p></blockquote><div> </div>
<blockquote><p><span>to the kings of Israel.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>I will bring a conqueror against you</span></p></blockquote><div> </div>
<blockquote><p><span>who live in Mareshah.<a id="filepos8777884" href="#filepos8848060"><span><sup>[7]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>The nobles of Israel</span></p></blockquote><div> </div>
<blockquote><p><span>will flee to Adullam.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>Shave your head in mourning</span></p></blockquote><div> </div>
<blockquote><p><span>for the children in whom you delight;</span></p></blockquote><div> </div>
<blockquote><p><span>make yourself as bald as the vulture,</span></p></blockquote><div> </div>
<blockquote><p><span>for they will go from you into exile.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8779004">
<p><span><a href="dummy_split_004.html#filepos189904"><span>Micah 2</span></a></span></p><div> </div>
<div>
<p><span><span>Human Plans and God’s Plans</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>Woe to those who plan iniquity,</span></p></blockquote><div> </div>
<blockquote><p><span>to those who plot evil on their beds!</span></p></blockquote><div> </div>
<blockquote><p><span>At morning’s light they carry it out</span></p></blockquote><div> </div>
<blockquote><p><span>because it is in their power to do it.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>They covet fields and seize them,</span></p></blockquote><div> </div>
<blockquote><p><span>and houses, and take them.</span></p></blockquote><div> </div>
<blockquote><p><span>They defraud people of their homes,</span></p></blockquote><div> </div>
<blockquote><p><span>they rob them of their inheritance.</span></p></blockquote>
</div>
<br/><p><span><sup>3</sup>Therefore, the <span><span>LORD</span></span> says:</span></p>
<br/><div title="poetry">
<blockquote><p><span>“I am planning disaster against this people,</span></p></blockquote><div> </div>
<blockquote><p><span>from which you cannot save yourselves.</span></p></blockquote><div> </div>
<blockquote><p><span>You will no longer walk proudly,</span></p></blockquote><div> </div>
<blockquote><p><span>for it will be a time of calamity.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>In that day people will ridicule you;</span></p></blockquote><div> </div>
<blockquote><p><span>they will taunt you with this mournful song:</span></p></blockquote><div> </div>
<blockquote><p><span>‘We are utterly ruined;</span></p></blockquote><div> </div>
<blockquote><p><span>my people’s possession is divided up.</span></p></blockquote><div> </div>
<blockquote><p><span>He takes it from me!</span></p></blockquote><div> </div>
<blockquote><p><span>He assigns our fields to traitors.’ ”</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>Therefore you will have no one in the assembly of the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>to divide the land by lot.</span></p></blockquote>
</div>
<p><span><span>False Prophets</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>6</sup>“Do not prophesy,” their prophets say.</span></p></blockquote><div> </div>
<blockquote><p><span>“Do not prophesy about these things;</span></p></blockquote><div> </div>
<blockquote><p><span>disgrace will not overtake us.”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>You descendants of Jacob, should it be said,</span></p></blockquote><div> </div>
<blockquote><p><span>“Does the <span><span>LORD</span></span> become<a id="filepos8783978" href="#filepos8848459"><span><sup>[8]</sup></span></a> impatient?</span></p></blockquote><div> </div>
<blockquote><p><span>Does he do such things?”</span></p></blockquote>
<br/><blockquote><p><span>“Do not my words do good</span></p></blockquote><div> </div>
<blockquote><p><span>to the one whose ways are upright?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>Lately my people have risen up</span></p></blockquote><div> </div>
<blockquote><p><span>like an enemy.</span></p></blockquote><div> </div>
<blockquote><p><span>You strip off the rich robe</span></p></blockquote><div> </div>
<blockquote><p><span>from those who pass by without a care,</span></p></blockquote><div> </div>
<blockquote><p><span>like men returning from battle.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>You drive the women of my people</span></p></blockquote><div> </div>
<blockquote><p><span>from their pleasant homes.</span></p></blockquote><div> </div>
<blockquote><p><span>You take away my blessing</span></p></blockquote><div> </div>
<blockquote><p><span>from their children forever.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Get up, go away!</span></p></blockquote><div> </div>
<blockquote><p><span>For this is not your resting place,</span></p></blockquote><div> </div>
<blockquote><p><span>because it is defiled,</span></p></blockquote><div> </div>
<blockquote><p><span>it is ruined, beyond all remedy.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>If a liar and deceiver comes and says,</span></p></blockquote><div> </div>
<blockquote><p><span>‘I will prophesy for you plenty of wine and beer,’</span></p></blockquote><div> </div>
<blockquote><p><span>that would be just the prophet for this people!</span></p></blockquote>
</div>
<p><span><span>Deliverance Promised</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>12</sup>“I will surely gather all of you, Jacob;</span></p></blockquote><div> </div>
<blockquote><p><span>I will surely bring together the remnant of Israel.</span></p></blockquote><div> </div>
<blockquote><p><span>I will bring them together like sheep in a pen,</span></p></blockquote><div> </div>
<blockquote><p><span>like a flock in its pasture;</span></p></blockquote><div> </div>
<blockquote><p><span>the place will throng with people.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>The One who breaks open the way will go up before them;</span></p></blockquote><div> </div>
<blockquote><p><span>they will break through the gate and go out.</span></p></blockquote><div> </div>
<blockquote><p><span>Their King will pass through before them,</span></p></blockquote><div> </div>
<blockquote><p><span>the <span><span>LORD</span></span> at their head.”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8789011">
<p><span><a href="dummy_split_004.html#filepos190082"><span>Micah 3</span></a></span></p><div> </div>
<div>
<p><span><span>Leaders and Prophets Rebuked</span></span></p><div> </div>
<p><span><sup>1</sup>Then I said,</span></p>
<br/><div title="poetry">
<blockquote><p><span>“Listen, you leaders of Jacob,</span></p></blockquote><div> </div>
<blockquote><p><span>you rulers of Israel.</span></p></blockquote><div> </div>
<blockquote><p><span>Should you not embrace justice,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>you who hate good and love evil;</span></p></blockquote><div> </div>
<blockquote><p><span>who tear the skin from my people</span></p></blockquote><div> </div>
<blockquote><p><span>and the flesh from their bones;</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>who eat my people’s flesh,</span></p></blockquote><div> </div>
<blockquote><p><span>strip off their skin</span></p></blockquote><div> </div>
<blockquote><p><span>and break their bones in pieces;</span></p></blockquote><div> </div>
<blockquote><p><span>who chop them up like meat for the pan,</span></p></blockquote><div> </div>
<blockquote><p><span>like flesh for the pot?”</span></p></blockquote>
<br/><blockquote><p><span><sup>4</sup>Then they will cry out to the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>but he will not answer them.</span></p></blockquote><div> </div>
<blockquote><p><span>At that time he will hide his face from them</span></p></blockquote><div> </div>
<blockquote><p><span>because of the evil they have done.</span></p></blockquote>
</div>
<br/><p><span><sup>5</sup>This is what the <span><span>LORD</span></span> says:</span></p>
<br/><div title="poetry">
<blockquote><p><span>“As for the prophets</span></p></blockquote><div> </div>
<blockquote><p><span>who lead my people astray,</span></p></blockquote><div> </div>
<blockquote><p><span>they proclaim ‘peace’</span></p></blockquote><div> </div>
<blockquote><p><span>if they have something to eat,</span></p></blockquote><div> </div>
<blockquote><p><span>but prepare to wage war against anyone</span></p></blockquote><div> </div>
<blockquote><p><span>who refuses to feed them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>Therefore night will come over you, without visions,</span></p></blockquote><div> </div>
<blockquote><p><span>and darkness, without divination.</span></p></blockquote><div> </div>
<blockquote><p><span>The sun will set for the prophets,</span></p></blockquote><div> </div>
<blockquote><p><span>and the day will go dark for them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>The seers will be ashamed</span></p></blockquote><div> </div>
<blockquote><p><span>and the diviners disgraced.</span></p></blockquote><div> </div>
<blockquote><p><span>They will all cover their faces</span></p></blockquote><div> </div>
<blockquote><p><span>because there is no answer from God.”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>But as for me, I am filled with power,</span></p></blockquote><div> </div>
<blockquote><p><span>with the Spirit of the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>and with justice and might,</span></p></blockquote><div> </div>
<blockquote><p><span>to declare to Jacob his transgression,</span></p></blockquote><div> </div>
<blockquote><p><span>to Israel his sin.</span></p></blockquote>
<br/><blockquote><p><span><sup>9</sup>Hear this, you leaders of Jacob,</span></p></blockquote><div> </div>
<blockquote><p><span>you rulers of Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>who despise justice</span></p></blockquote><div> </div>
<blockquote><p><span>and distort all that is right;</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>who build Zion with bloodshed,</span></p></blockquote><div> </div>
<blockquote><p><span>and Jerusalem with wickedness.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Her leaders judge for a bribe,</span></p></blockquote><div> </div>
<blockquote><p><span>her priests teach for a price,</span></p></blockquote><div> </div>
<blockquote><p><span>and her prophets tell fortunes for money.</span></p></blockquote><div> </div>
<blockquote><p><span>Yet they look for the <span><span>LORD</span></span>’s support and say,</span></p></blockquote><div> </div>
<blockquote><p><span>“Is not the <span><span>LORD</span></span> among us?</span></p></blockquote><div> </div>
<blockquote><p><span>No disaster will come upon us.”</span></p></blockquote><div> </div>
<blockquote><p id="filepos8797345"><span><sup>12</sup>Therefore because of you,</span></p></blockquote><div> </div>
<blockquote><p><span>Zion will be plowed like a field,</span></p></blockquote><div> </div>
<blockquote><p><span>Jerusalem will become a heap of rubble,</span></p></blockquote><div> </div>
<blockquote><p><span>the temple hill a mound overgrown with thickets.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8798042">
<p><span><a href="dummy_split_004.html#filepos190260"><span>Micah 4</span></a></span></p><div> </div>
<div>
<p><span><span>The Mountain of the <span><span>LORD</span></span></span></span></p><div> </div>
<p><span><sup>1</sup>In the last days</span></p>
<br/><div title="poetry">
<blockquote><p><span>the mountain of the <span><span>LORD</span></span>’s temple will be established</span></p></blockquote><div> </div>
<blockquote><p><span>as the highest of the mountains;</span></p></blockquote><div> </div>
<blockquote><p><span>it will be exalted above the hills,</span></p></blockquote><div> </div>
<blockquote><p><span>and peoples will stream to it.</span></p></blockquote>
</div>
<br/><p><span><sup>2</sup>Many nations will come and say,</span></p>
<br/><div title="poetry">
<blockquote><p><span>“Come, let us go up to the mountain of the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>to the temple of the God of Jacob.</span></p></blockquote><div> </div>
<blockquote><p><span>He will teach us his ways,</span></p></blockquote><div> </div>
<blockquote><p><span>so that we may walk in his paths.”</span></p></blockquote><div> </div>
<blockquote><p><span>The law will go out from Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>the word of the <span><span>LORD</span></span> from Jerusalem.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>He will judge between many peoples</span></p></blockquote><div> </div>
<blockquote><p><span>and will settle disputes for strong nations far and wide.</span></p></blockquote><div> </div>
<blockquote><p><span>They will beat their swords into plowshares</span></p></blockquote><div> </div>
<blockquote><p><span>and their spears into pruning hooks.</span></p></blockquote><div> </div>
<blockquote><p><span>Nation will not take up sword against nation,</span></p></blockquote><div> </div>
<blockquote><p><span>nor will they train for war anymore.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>Everyone will sit under their own vine</span></p></blockquote><div> </div>
<blockquote><p><span>and under their own fig tree,</span></p></blockquote><div> </div>
<blockquote><p><span>and no one will make them afraid,</span></p></blockquote><div> </div>
<blockquote><p><span>for the <span><span>LORD</span></span> Almighty has spoken.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>All the nations may walk</span></p></blockquote><div> </div>
<blockquote><p><span>in the name of their gods,</span></p></blockquote><div> </div>
<blockquote><p><span>but we will walk in the name of the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>our God for ever and ever.</span></p></blockquote>
</div>
<p><span><span>The <span><span>LORD</span></span>’s Plan</span></span></p><div> </div>
<p><span><sup>6</sup>“In that day,” declares the <span><span>LORD</span></span>,</span></p>
<br/><div title="poetry">
<blockquote><p><span>“I will gather the lame;</span></p></blockquote><div> </div>
<blockquote><p><span>I will assemble the exiles</span></p></blockquote><div> </div>
<blockquote><p><span>and those I have brought to grief.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>I will make the lame my remnant,</span></p></blockquote><div> </div>
<blockquote><p><span>those driven away a strong nation.</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span> will rule over them in Mount Zion</span></p></blockquote><div> </div>
<blockquote><p><span>from that day and forever.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>As for you, watchtower of the flock,</span></p></blockquote><div> </div>
<blockquote><p><span>stronghold<a id="filepos8804727" href="#filepos8848868"><span><sup>[9]</sup></span></a> of Daughter Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>the former dominion will be restored to you;</span></p></blockquote><div> </div>
<blockquote><p><span>kingship will come to Daughter Jerusalem.”</span></p></blockquote>
<br/><blockquote><p><span><sup>9</sup>Why do you now cry aloud—</span></p></blockquote><div> </div>
<blockquote><p><span>have you no king<a id="filepos8805505" href="#filepos8849105"><span><sup>[10]</sup></span></a>?</span></p></blockquote><div> </div>
<blockquote><p><span>Has your ruler<a id="filepos8805733" href="#filepos8849343"><span><sup>[11]</sup></span></a> perished,</span></p></blockquote><div> </div>
<blockquote><p><span>that pain seizes you like that of a woman in labor?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Writhe in agony, Daughter Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>like a woman in labor,</span></p></blockquote><div> </div>
<blockquote><p><span>for now you must leave the city</span></p></blockquote><div> </div>
<blockquote><p><span>to camp in the open field.</span></p></blockquote><div> </div>
<blockquote><p><span>You will go to Babylon;</span></p></blockquote><div> </div>
<blockquote><p><span>there you will be rescued.</span></p></blockquote><div> </div>
<blockquote><p><span>There the <span><span>LORD</span></span> will redeem you</span></p></blockquote><div> </div>
<blockquote><p><span>out of the hand of your enemies.</span></p></blockquote>
<br/><blockquote><p><span><sup>11</sup>But now many nations</span></p></blockquote><div> </div>
<blockquote><p><span>are gathered against you.</span></p></blockquote><div> </div>
<blockquote><p><span>They say, “Let her be defiled,</span></p></blockquote><div> </div>
<blockquote><p><span>let our eyes gloat over Zion!”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>But they do not know</span></p></blockquote><div> </div>
<blockquote><p><span>the thoughts of the <span><span>LORD</span></span>;</span></p></blockquote><div> </div>
<blockquote><p><span>they do not understand his plan,</span></p></blockquote><div> </div>
<blockquote><p><span>that he has gathered them like sheaves to the threshing floor.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>“Rise and thresh, Daughter Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>for I will give you horns of iron;</span></p></blockquote><div> </div>
<blockquote><p><span>I will give you hooves of bronze,</span></p></blockquote><div> </div>
<blockquote><p><span>and you will break to pieces many nations.”</span></p></blockquote><div> </div>
<blockquote><p><span>You will devote their ill-gotten gains to the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>their wealth to the Lord of all the earth.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8809804">
<p><span><a href="dummy_split_004.html#filepos190438"><span>Micah 5</span></a><a id="filepos8809938" href="#filepos8849697"><span><sup>[12]</sup></span></a></span></p><div> </div>
<div>
<div title="poetry">
<blockquote><p id="filepos8810086"><span><sup>1</sup>Marshal your troops now, city of troops,</span></p></blockquote><div> </div>
<blockquote><p><span>for a siege is laid against us.</span></p></blockquote><div> </div>
<blockquote><p><span>They will strike Israel’s ruler</span></p></blockquote><div> </div>
<blockquote><p><span>on the cheek with a rod.</span></p></blockquote>
<br/><blockquote><p id="filepos8810754"><span><sup>2</sup>“But you, Bethlehem Ephrathah,</span></p></blockquote><div> </div>
<blockquote><p><span>though you are small among the clans<a id="filepos8811053" href="#filepos8850096"><span><sup>[13]</sup></span></a> of Judah,</span></p></blockquote><div> </div>
<blockquote><p><span>out of you will come for me</span></p></blockquote><div> </div>
<blockquote><p><span>one who will be ruler over Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>whose origins are from of old,</span></p></blockquote><div> </div>
<blockquote><p><span>from ancient times.”</span></p></blockquote>
<br/><blockquote><p><span><sup>3</sup>Therefore Israel will be abandoned</span></p></blockquote><div> </div>
<blockquote><p><span>until the time when she who is in labor bears a son,</span></p></blockquote><div> </div>
<blockquote><p><span>and the rest of his brothers return</span></p></blockquote><div> </div>
<blockquote><p><span>to join the Israelites.</span></p></blockquote>
<br/><blockquote><p id="filepos8812509"><span><sup>4</sup>He will stand and shepherd his flock</span></p></blockquote><div> </div>
<blockquote><p><span>in the strength of the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>in the majesty of the name of the <span><span>LORD</span></span> his God.</span></p></blockquote><div> </div>
<blockquote><p><span>And they will live securely, for then his greatness</span></p></blockquote><div> </div>
<blockquote><p><span>will reach to the ends of the earth.</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>And he will be our peace</span></p></blockquote><div> </div>
<blockquote><p><span>when the Assyrians invade our land</span></p></blockquote><div> </div>
<blockquote><p><span>and march through our fortresses.</span></p></blockquote><div> </div>
<blockquote><p><span>We will raise against them seven shepherds,</span></p></blockquote><div> </div>
<blockquote><p><span>even eight commanders,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>who will rule<a id="filepos8814369" href="#filepos8850336"><span><sup>[14]</sup></span></a> the land of Assyria with the sword,</span></p></blockquote><div> </div>
<blockquote><p><span>the land of Nimrod with drawn sword.<a id="filepos8814654" href="#filepos8850575"><span><sup>[15]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>He will deliver us from the Assyrians</span></p></blockquote><div> </div>
<blockquote><p><span>when they invade our land</span></p></blockquote><div> </div>
<blockquote><p><span>and march across our borders.</span></p></blockquote>
<br/><blockquote><p><span><sup>7</sup>The remnant of Jacob will be</span></p></blockquote><div> </div>
<blockquote><p><span>in the midst of many peoples</span></p></blockquote><div> </div>
<blockquote><p><span>like dew from the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>like showers on the grass,</span></p></blockquote><div> </div>
<blockquote><p><span>which do not wait for anyone</span></p></blockquote><div> </div>
<blockquote><p><span>or depend on man.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>The remnant of Jacob will be among the nations,</span></p></blockquote><div> </div>
<blockquote><p><span>in the midst of many peoples,</span></p></blockquote><div> </div>
<blockquote><p><span>like a lion among the beasts of the forest,</span></p></blockquote><div> </div>
<blockquote><p><span>like a young lion among flocks of sheep,</span></p></blockquote><div> </div>
<blockquote><p><span>which mauls and mangles as it goes,</span></p></blockquote><div> </div>
<blockquote><p><span>and no one can rescue.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Your hand will be lifted up in triumph over your enemies,</span></p></blockquote><div> </div>
<blockquote><p><span>and all your foes will be destroyed.</span></p></blockquote>
</div>
<br/><p><span><sup>10</sup>“In that day,” declares the <span><span>LORD</span></span>,</span></p>
<br/><div title="poetry">
<blockquote><p><span>“I will destroy your horses from among you</span></p></blockquote><div> </div>
<blockquote><p><span>and demolish your chariots.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>I will destroy the cities of your land</span></p></blockquote><div> </div>
<blockquote><p><span>and tear down all your strongholds.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>I will destroy your witchcraft</span></p></blockquote><div> </div>
<blockquote><p><span>and you will no longer cast spells.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>I will destroy your idols</span></p></blockquote><div> </div>
<blockquote><p><span>and your sacred stones from among you;</span></p></blockquote><div> </div>
<blockquote><p><span>you will no longer bow down</span></p></blockquote><div> </div>
<blockquote><p><span>to the work of your hands.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>I will uproot from among you your Asherah poles<a id="filepos8819660" href="#filepos8850828"><span><sup>[16]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>when I demolish your cities.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>I will take vengeance in anger and wrath</span></p></blockquote><div> </div>
<blockquote><p><span>on the nations that have not obeyed me.”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8820335">
<p><span><a href="dummy_split_004.html#filepos190616"><span>Micah 6</span></a></span></p><div> </div>
<div>
<p><span><span>The <span><span>LORD</span></span>’s Case Against Israel</span></span></p><div> </div>
<p><span><sup>1</sup>Listen to what the <span><span>LORD</span></span> says:</span></p>
<br/><div title="poetry">
<blockquote><p><span>“Stand up, plead my case before the mountains;</span></p></blockquote><div> </div>
<blockquote><p><span>let the hills hear what you have to say.</span></p></blockquote>
<br/><blockquote><p><span><sup>2</sup>“Hear, you mountains, the <span><span>LORD</span></span>’s accusation;</span></p></blockquote><div> </div>
<blockquote><p><span>listen, you everlasting foundations of the earth.</span></p></blockquote><div> </div>
<blockquote><p><span>For the <span><span>LORD</span></span> has a case against his people;</span></p></blockquote><div> </div>
<blockquote><p><span>he is lodging a charge against Israel.</span></p></blockquote>
<br/><blockquote><p><span><sup>3</sup>“My people, what have I done to you?</span></p></blockquote><div> </div>
<blockquote><p><span>How have I burdened you? Answer me.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>I brought you up out of Egypt</span></p></blockquote><div> </div>
<blockquote><p><span>and redeemed you from the land of slavery.</span></p></blockquote><div> </div>
<blockquote><p><span>I sent Moses to lead you,</span></p></blockquote><div> </div>
<blockquote><p><span>also Aaron and Miriam.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>My people, remember</span></p></blockquote><div> </div>
<blockquote><p><span>what Balak king of Moab plotted</span></p></blockquote><div> </div>
<blockquote><p><span>and what Balaam son of Beor answered.</span></p></blockquote><div> </div>
<blockquote><p><span>Remember your journey from Shittim to Gilgal,</span></p></blockquote><div> </div>
<blockquote><p><span>that you may know the righteous acts of the <span><span>LORD</span></span>.”</span></p></blockquote>
<br/><blockquote><p><span><sup>6</sup>With what shall I come before the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>and bow down before the exalted God?</span></p></blockquote><div> </div>
<blockquote><p><span>Shall I come before him with burnt offerings,</span></p></blockquote><div> </div>
<blockquote><p><span>with calves a year old?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>Will the <span><span>LORD</span></span> be pleased with thousands of rams,</span></p></blockquote><div> </div>
<blockquote><p><span>with ten thousand rivers of olive oil?</span></p></blockquote><div> </div>
<blockquote><p><span>Shall I offer my firstborn for my transgression,</span></p></blockquote><div> </div>
<blockquote><p><span>the fruit of my body for the sin of my soul?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>He has shown you, O mortal, what is good.</span></p></blockquote><div> </div>
<blockquote><p><span>And what does the <span><span>LORD</span></span> require of you?</span></p></blockquote><div> </div>
<blockquote><p><span>To act justly and to love mercy</span></p></blockquote><div> </div>
<blockquote><p><span>and to walk humbly<a id="filepos8826026" href="#filepos8851214"><span><sup>[17]</sup></span></a> with your God.</span></p></blockquote>
</div>
<p><span><span>Israel’s Guilt and Punishment</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>9</sup>Listen! The <span><span>LORD</span></span> is calling to the city—</span></p></blockquote><div> </div>
<blockquote><p><span>and to fear your name is wisdom—</span></p></blockquote><div> </div>
<blockquote><p><span>“Heed the rod and the One who appointed it.<a id="filepos8826870" href="#filepos8851457"><span><sup>[18]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Am I still to forget your ill-gotten treasures, you wicked house,</span></p></blockquote><div> </div>
<blockquote><p><span>and the short ephah,<a id="filepos8827319" href="#filepos8851734"><span><sup>[19]</sup></span></a> which is accursed?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Shall I acquit someone with dishonest scales,</span></p></blockquote><div> </div>
<blockquote><p><span>with a bag of false weights?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>Your rich people are violent;</span></p></blockquote><div> </div>
<blockquote><p><span>your inhabitants are liars</span></p></blockquote><div> </div>
<blockquote><p><span>and their tongues speak deceitfully.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Therefore, I have begun to destroy you,</span></p></blockquote><div> </div>
<blockquote><p><span>to ruin<a id="filepos8828595" href="#filepos8851986"><span><sup>[20]</sup></span></a> you because of your sins.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>You will eat but not be satisfied;</span></p></blockquote><div> </div>
<blockquote><p><span>your stomach will still be empty.<a id="filepos8829052" href="#filepos8852282"><span><sup>[21]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>You will store up but save nothing,</span></p></blockquote><div> </div>
<blockquote><p><span>because what you save<a id="filepos8829448" href="#filepos8852560"><span><sup>[22]</sup></span></a> I will give to the sword.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>You will plant but not harvest;</span></p></blockquote><div> </div>
<blockquote><p><span>you will press olives but not use the oil,</span></p></blockquote><div> </div>
<blockquote><p><span>you will crush grapes but not drink the wine.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>You have observed the statutes of Omri</span></p></blockquote><div> </div>
<blockquote><p><span>and all the practices of Ahab’s house;</span></p></blockquote><div> </div>
<blockquote><p><span>you have followed their traditions.</span></p></blockquote><div> </div>
<blockquote><p><span>Therefore I will give you over to ruin</span></p></blockquote><div> </div>
<blockquote><p><span>and your people to derision;</span></p></blockquote><div> </div>
<blockquote><p><span>you will bear the scorn of the nations.<a id="filepos8831091" href="#filepos8852872"><span><sup>[23]</sup></span></a>”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8831254">
<p><span><a href="dummy_split_004.html#filepos190794"><span>Micah 7</span></a></span></p><div> </div>
<div>
<p><span><span>Israel’s Misery</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>What misery is mine!</span></p></blockquote><div> </div>
<blockquote><p><span>I am like one who gathers summer fruit</span></p></blockquote><div> </div>
<blockquote><p><span>at the gleaning of the vineyard;</span></p></blockquote><div> </div>
<blockquote><p><span>there is no cluster of grapes to eat,</span></p></blockquote><div> </div>
<blockquote><p><span>none of the early figs that I crave.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>The faithful have been swept from the land;</span></p></blockquote><div> </div>
<blockquote><p><span>not one upright person remains.</span></p></blockquote><div> </div>
<blockquote><p><span>Everyone lies in wait to shed blood;</span></p></blockquote><div> </div>
<blockquote><p><span>they hunt each other with nets.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Both hands are skilled in doing evil;</span></p></blockquote><div> </div>
<blockquote><p><span>the ruler demands gifts,</span></p></blockquote><div> </div>
<blockquote><p><span>the judge accepts bribes,</span></p></blockquote><div> </div>
<blockquote><p><span>the powerful dictate what they desire—</span></p></blockquote><div> </div>
<blockquote><p><span>they all conspire together.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>The best of them is like a brier,</span></p></blockquote><div> </div>
<blockquote><p><span>the most upright worse than a thorn hedge.</span></p></blockquote><div> </div>
<blockquote><p><span>The day God visits you has come,</span></p></blockquote><div> </div>
<blockquote><p><span>the day your watchmen sound the alarm.</span></p></blockquote><div> </div>
<blockquote><p><span>Now is the time of your confusion.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>Do not trust a neighbor;</span></p></blockquote><div> </div>
<blockquote><p><span>put no confidence in a friend.</span></p></blockquote><div> </div>
<blockquote><p><span>Even with the woman who lies in your embrace</span></p></blockquote><div> </div>
<blockquote><p><span>guard the words of your lips.</span></p></blockquote><div> </div>
<blockquote><p id="filepos8835382"><span><sup>6</sup>For a son dishonors his father,</span></p></blockquote><div> </div>
<blockquote><p><span>a daughter rises up against her mother,</span></p></blockquote><div> </div>
<blockquote><p><span>a daughter-in-law against her mother-in-law—</span></p></blockquote><div> </div>
<blockquote><p><span>a man’s enemies are the members of his own household.</span></p></blockquote>
<br/><blockquote><p><span><sup>7</sup>But as for me, I watch in hope for the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>I wait for God my Savior;</span></p></blockquote><div> </div>
<blockquote><p><span>my God will hear me.</span></p></blockquote>
</div>
<p><span><span>Israel Will Rise</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>8</sup>Do not gloat over me, my enemy!</span></p></blockquote><div> </div>
<blockquote><p><span>Though I have fallen, I will rise.</span></p></blockquote><div> </div>
<blockquote><p><span>Though I sit in darkness,</span></p></blockquote><div> </div>
<blockquote><p><span>the <span><span>LORD</span></span> will be my light.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Because I have sinned against him,</span></p></blockquote><div> </div>
<blockquote><p><span>I will bear the <span><span>LORD</span></span>’s wrath,</span></p></blockquote><div> </div>
<blockquote><p><span>until he pleads my case</span></p></blockquote><div> </div>
<blockquote><p><span>and upholds my cause.</span></p></blockquote><div> </div>
<blockquote><p><span>He will bring me out into the light;</span></p></blockquote><div> </div>
<blockquote><p><span>I will see his righteousness.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Then my enemy will see it</span></p></blockquote><div> </div>
<blockquote><p><span>and will be covered with shame,</span></p></blockquote><div> </div>
<blockquote><p><span>she who said to me,</span></p></blockquote><div> </div>
<blockquote><p><span>“Where is the <span><span>LORD</span></span> your God?”</span></p></blockquote><div> </div>
<blockquote><p><span>My eyes will see her downfall;</span></p></blockquote><div> </div>
<blockquote><p><span>even now she will be trampled underfoot</span></p></blockquote><div> </div>
<blockquote><p><span>like mire in the streets.</span></p></blockquote>
<br/><blockquote><p><span><sup>11</sup>The day for building your walls will come,</span></p></blockquote><div> </div>
<blockquote><p><span>the day for extending your boundaries.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>In that day people will come to you</span></p></blockquote><div> </div>
<blockquote><p><span>from Assyria and the cities of Egypt,</span></p></blockquote><div> </div>
<blockquote><p><span>even from Egypt to the Euphrates</span></p></blockquote><div> </div>
<blockquote><p><span>and from sea to sea</span></p></blockquote><div> </div>
<blockquote><p><span>and from mountain to mountain.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>The earth will become desolate because of its inhabitants,</span></p></blockquote><div> </div>
<blockquote><p><span>as the result of their deeds.</span></p></blockquote>
</div>
<p><span><span>Prayer and Praise</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>14</sup>Shepherd your people with your staff,</span></p></blockquote><div> </div>
<blockquote><p><span>the flock of your inheritance,</span></p></blockquote><div> </div>
<blockquote><p><span>which lives by itself in a forest,</span></p></blockquote><div> </div>
<blockquote><p><span>in fertile pasturelands.<a id="filepos8841917" href="#filepos8853257"><span><sup>[24]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>Let them feed in Bashan and Gilead</span></p></blockquote><div> </div>
<blockquote><p><span>as in days long ago.</span></p></blockquote>
<br/><blockquote><p><span><sup>15</sup>“As in the days when you came out of Egypt,</span></p></blockquote><div> </div>
<blockquote><p><span>I will show them my wonders.”</span></p></blockquote>
<br/><blockquote><p><span><sup>16</sup>Nations will see and be ashamed,</span></p></blockquote><div> </div>
<blockquote><p><span>deprived of all their power.</span></p></blockquote><div> </div>
<blockquote><p><span>They will put their hands over their mouths</span></p></blockquote><div> </div>
<blockquote><p><span>and their ears will become deaf.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>They will lick dust like a snake,</span></p></blockquote><div> </div>
<blockquote><p><span>like creatures that crawl on the ground.</span></p></blockquote><div> </div>
<blockquote><p><span>They will come trembling out of their dens;</span></p></blockquote><div> </div>
<blockquote><p><span>they will turn in fear to the <span><span>LORD</span></span> our God</span></p></blockquote><div> </div>
<blockquote><p><span>and will be afraid of you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Who is a God like you,</span></p></blockquote><div> </div>
<blockquote><p><span>who pardons sin and forgives the transgression</span></p></blockquote><div> </div>
<blockquote><p><span>of the remnant of his inheritance?</span></p></blockquote><div> </div>
<blockquote><p><span>You do not stay angry forever</span></p></blockquote><div> </div>
<blockquote><p><span>but delight to show mercy.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>You will again have compassion on us;</span></p></blockquote><div> </div>
<blockquote><p><span>you will tread our sins underfoot</span></p></blockquote><div> </div>
<blockquote><p><span>and hurl all our iniquities into the depths of the sea.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>You will be faithful to Jacob,</span></p></blockquote><div> </div>
<blockquote><p><span>and show love to Abraham,</span></p></blockquote><div> </div>
<blockquote><p><span>as you pledged on oath to our ancestors</span></p></blockquote><div> </div>
<blockquote><p><span>in days long ago.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn33">
<p><span><span>Micah 1</span></span></p><div> </div>
<blockquote><p id="filepos8846434"><span><a href="#filepos8773648"><span><sup>[1]</sup></span></a><span>1:10</span>
<span>Gath</span> sounds like the Hebrew for <span>tell.</span></span></p></blockquote>
<blockquote><p id="filepos8846709"><span><a href="#filepos8774018"><span><sup>[2]</sup></span></a><span>1:10</span>
<span>Beth Ophrah</span> means <span>house of dust.</span></span></p></blockquote>
<blockquote><p id="filepos8846979"><span><a href="#filepos8774576"><span><sup>[3]</sup></span></a><span>1:11</span>
<span>Shaphir</span> means <span>pleasant.</span></span></p></blockquote>
<blockquote><p id="filepos8847240"><span><a href="#filepos8774812"><span><sup>[4]</sup></span></a><span>1:11</span>
<span>Zaanan</span> sounds like the Hebrew for <span>come out.</span></span></p></blockquote>
<blockquote><p id="filepos8847521"><span><a href="#filepos8775522"><span><sup>[5]</sup></span></a><span>1:12</span>
<span>Maroth</span> sounds like the Hebrew for <span>bitter.</span></span></p></blockquote>
<blockquote><p id="filepos8847800"><span><a href="#filepos8777293"><span><sup>[6]</sup></span></a><span>1:14</span>
<span>Akzib</span> means <span>deception.</span></span></p></blockquote>
<blockquote><p id="filepos8848060"><span><a href="#filepos8777884"><span><sup>[7]</sup></span></a><span>1:15</span>
<span>Mareshah</span> sounds like the Hebrew for <span>conqueror.</span></span></p></blockquote>
<p><span><span>Micah 2</span></span></p><div> </div>
<blockquote><p id="filepos8848459"><span><a href="#filepos8783978"><span><sup>[8]</sup></span></a><span>2:7</span> Or <span>Is the Spirit of the <span><span>LORD</span></span></span></span></p></blockquote>
<p><span><span>Micah 4</span></span></p><div> </div>
<blockquote><p id="filepos8848868"><span><a href="#filepos8804727"><span><sup>[9]</sup></span></a><span>4:8</span> Or <span>hill</span></span></p></blockquote>
<blockquote><p id="filepos8849105"><span><a href="#filepos8805505"><span><sup>[10]</sup></span></a><span>4:9</span> Or <span>King</span></span></p></blockquote>
<blockquote><p id="filepos8849343"><span><a href="#filepos8805733"><span><sup>[11]</sup></span></a><span>4:9</span> Or <span>Ruler</span></span></p></blockquote>
<p><span><span>Micah 5</span></span></p><div> </div>
<blockquote><p id="filepos8849697"><span><a href="#filepos8809938"><span><sup>[12]</sup></span></a>In Hebrew texts <a href="#filepos8810086"><span>5:1</span></a> is numbered 4:14, and <a href="#filepos8810754"><span>5:2–15</span></a> is numbered 5:1–14.</span></p></blockquote>
<blockquote><p id="filepos8850096"><span><a href="#filepos8811053"><span><sup>[13]</sup></span></a><span>5:2</span> Or <span>rulers</span></span></p></blockquote>
<blockquote><p id="filepos8850336"><span><a href="#filepos8814369"><span><sup>[14]</sup></span></a><span>5:6</span> Or <span>crush</span></span></p></blockquote>
<blockquote><p id="filepos8850575"><span><a href="#filepos8814654"><span><sup>[15]</sup></span></a><span>5:6</span> Or <span>Nimrod in its gates</span></span></p></blockquote>
<blockquote><p id="filepos8850828"><span><a href="#filepos8819660"><span><sup>[16]</sup></span></a><span>5:14</span> That is, wooden symbols of the goddess Asherah</span></p></blockquote>
<p><span><span>Micah 6</span></span></p><div> </div>
<blockquote><p id="filepos8851214"><span><a href="#filepos8826026"><span><sup>[17]</sup></span></a><span>6:8</span> Or <span>prudently</span></span></p></blockquote>
<blockquote><p id="filepos8851457"><span><a href="#filepos8826870"><span><sup>[18]</sup></span></a><span>6:9</span> The meaning of the Hebrew for this line is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8851734"><span><a href="#filepos8827319"><span><sup>[19]</sup></span></a><span>6:10</span> An ephah was a dry measure.</span></p></blockquote>
<blockquote><p id="filepos8851986"><span><a href="#filepos8828595"><span><sup>[20]</sup></span></a><span>6:13</span> Or <span>Therefore, I will make you ill and destroy you; / I will ruin</span></span></p></blockquote>
<blockquote><p id="filepos8852282"><span><a href="#filepos8829052"><span><sup>[21]</sup></span></a><span>6:14</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8852560"><span><a href="#filepos8829448"><span><sup>[22]</sup></span></a><span>6:14</span> Or <span>You will press toward birth but not give birth, / and what you bring to birth</span></span></p></blockquote>
<blockquote><p id="filepos8852872"><span><a href="#filepos8831091"><span><sup>[23]</sup></span></a><span>6:16</span> Septuagint; Hebrew <span>scorn due my people</span></span></p></blockquote>
<p><span><span>Micah 7</span></span></p><div> </div>
<blockquote><p id="filepos8853257"><span><a href="#filepos8841917"><span><sup>[24]</sup></span></a><span>7:14</span> Or <span>in the middle of Carmel</span></span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_67"></div></body>
</html>
