<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos848" class="calibre1">
<div class="calibre1">
<p class="calibre6"><span>The Holy Bible, New International Version®, NIV®</span></p>
<p class="calibre7"><span class="calibre8">Copyright © 1973, 1978, 1984, 2011 by Biblica, Inc.™</span></p>
<p class="calibre7"><span class="calibre8">Used by Permission. All rights reserved worldwide.</span></p>
<p class="calibre7"><span class="calibre8">Published by Zondervan</span></p>
<p class="calibre7"><span class="calibre8">Grand Rapids, Michigan 49530, USA</span></p>
<p class="calibre7"><span class="calibre8"><a href="http://www.zondervan.com" class="calibre9"><span class="calibre10">www.zondervan.com</span></a></span></p>
<p class="calibre7"><span class="calibre8">“New International Version” and “NIV” are registered trademarks of Biblica, Inc.™</span></p>
<p class="calibre7"><span class="calibre8">Used by permission.</span></p>
<p class="calibre7"><span class="calibre8">ePub Format: 9780310440895</span></p>
<p class="calibre7"><span class="calibre8">Library of Congress Catalog in Publishing data is available for the print edition of this title.</span></p>
<p class="calibre7"><span class="calibre8">The NIV® text may be quoted in any form (written, visual, electronic or audio), up to and inclusive of five hundred (500) verses without the express written permission of the publisher, providing the verses quoted do not amount to a complete book of the Bible nor do the verses quoted account for twenty-five percent (25%) or more of the total text of the work in which they are quoted.</span></p>
<p class="calibre7"><span class="calibre8">Notice of copyright must appear on the title or copyright page as follows:</span></p>
<p class="calibre7"><span class="calibre8">Scripture quotations taken from The Holy Bible, New International Version® NIV® Copyright © 1973, 1978, 1984, 2011 by Biblica, Inc.™ Used by permission. All rights reserved worldwide.</span></p>
<p class="calibre7"><span class="calibre8">The “NIV” and “New International Version” are trademarks registered in the United States Patent and Trademark Office by Biblica, Inc.™</span></p>
<p class="calibre7"><span class="calibre8">When quotations from the NIV® text are used by a local church in non-saleable media such as church bulletins, orders of service, posters, overhead transparencies, or similar materials, a complete copyright notice is not required, but the initials (NIV®) must appear at the end of each quotation.</span></p>
<p class="calibre7"><span class="calibre8">Any commentary or other biblical reference work produced for commercial sale, that uses the NIV® text must obtain written permission for use of the NIV® text.</span></p>
<p class="calibre7"><span class="calibre8">Permission requests for commercial use within the USA and Canada that exceeds the above guidelines must be directed to, and approved in writing by Zondervan, 5300 Patterson Ave. SE, Grand Rapids, MI 49530, USA. <a href="http://www.zondervan.com" class="calibre9"><span class="calibre10">www.Zondervan.com</span></a></span></p>
<p class="calibre7"><span class="calibre8">Permission requests for commercial use within the UK, EU and EFTA that exceeds the above guidelines must be directed to, and approved in writing by Hodder &amp; Stoughton Limited, 338 Euston Road, London NW1 3BH, United Kingdom. <a href="http://www.Hodder.co.uk" class="calibre9"><span class="calibre10">www.Hodder.co.uk</span></a></span></p>
<p class="calibre7"><span class="calibre8">Permission requests for non-commercial use that exceeds the above guidelines must be directed to, and approved in writing by Biblica US, Inc., 1820 Jet Stream Drive, Colorado Springs, CO 80921, USA. <a href="http://www.Biblica.com" class="calibre9"><span class="calibre10">www.Biblica.com</span></a></span></p>
<p class="calibre7"><span class="calibre8">Any Internet addresses (websites, blogs, etc.) and telephone numbers printed in this Bible are offered as a resource. They are not intended in any way to be or imply an endorsement by Zondervan, nor does Zondervan vouch for the content of these sites and numbers for the life of the Bible.</span></p>
<p class="calibre7"><span class="calibre8">A portion of the purchase price of your NIV® Bible is provided to Biblica so together we support the mission of <span class="italic">Transforming lives through God’s Word</span>.</span></p>
<p class="calibre7"><span class="calibre8">Biblica provides God’s Word to people through translation, publishing and Bible engagement in Africa, Asia Pacific, Europe, Latin America, Middle East, and North America. Through its worldwide reach, Biblica engages people with God’s Word so that their lives are transformed through a relationship with Jesus Christ.</span></p>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_2"></div></body>
</html>
