<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div>
<div>
<p><span><span>Genesis 22</span></span></p><div> </div>
<blockquote><p id="filepos673230"><span><a href="dummy_split_007.html#filepos410075"><span><sup>[92]</sup></span></a><span>22:13</span> Many manuscripts of the Masoretic Text, Samaritan Pentateuch, Septuagint and Syriac; most manuscripts of the Masoretic Text <span>a ram behind </span><span>him</span></span></p></blockquote>
<blockquote><p id="filepos673610"><span><a href="dummy_split_007.html#filepos411136"><span><sup>[93]</sup></span></a><span>22:18</span> Or <span>seed</span></span></p></blockquote>
<blockquote><p id="filepos673850"><span><a href="dummy_split_007.html#filepos411260"><span><sup>[94]</sup></span></a><span>22:18</span> Or <span>and all nations on earth will use the name of your offspring in blessings</span> (see <a href="dummy_split_008.html#filepos619833"><span>48:20</span></a>)</span></p></blockquote>
<p><span><span>Genesis 23</span></span></p><div> </div>
<blockquote><p id="filepos674342"><span><a href="dummy_split_007.html#filepos413103"><span><sup>[95]</sup></span></a><span>23:3</span> Or <span>the descendants of Heth</span>; also in verses <a href="dummy_split_007.html#filepos413369"><span>5</span></a>, <a href="dummy_split_007.html#filepos413695"><span>7</span></a>, <a href="dummy_split_007.html#filepos414218"><span>10</span></a>, <a href="dummy_split_007.html#filepos415652"><span>16</span></a>, <a href="dummy_split_007.html#filepos416198"><span>18</span></a> and <a href="dummy_split_007.html#filepos416458"><span>20</span></a></span></p></blockquote>
<blockquote><p id="filepos674958"><span><a href="dummy_split_007.html#filepos414517"><span><sup>[96]</sup></span></a><span>23:11</span> Or <span>sell</span></span></p></blockquote>
<blockquote><p id="filepos675198"><span><a href="dummy_split_007.html#filepos414629"><span><sup>[97]</sup></span></a><span>23:11</span> Or <span>sell</span></span></p></blockquote>
<blockquote><p id="filepos675438"><span><a href="dummy_split_007.html#filepos414750"><span><sup>[98]</sup></span></a><span>23:11</span> Or <span>sell</span></span></p></blockquote>
<blockquote><p id="filepos675678"><span><a href="dummy_split_007.html#filepos415459"><span><sup>[99]</sup></span></a><span>23:15</span> That is, about 10 pounds or about 4.6 kilograms</span></p></blockquote>
<p><span><span>Genesis 24</span></span></p><div> </div>
<blockquote><p id="filepos676069"><span><a href="dummy_split_007.html#filepos418241"><span><sup>[100]</sup></span></a><span>24:7</span> Or <span>seed</span></span></p></blockquote>
<blockquote><p id="filepos676309"><span><a href="dummy_split_007.html#filepos418994"><span><sup>[101]</sup></span></a><span>24:10</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos676566"><span><a href="dummy_split_007.html#filepos421587"><span><sup>[102]</sup></span></a><span>24:22</span> That is, about 1/5 ounce or about 5.7 grams</span></p></blockquote>
<blockquote><p id="filepos676836"><span><a href="dummy_split_007.html#filepos421719"><span><sup>[103]</sup></span></a><span>24:22</span> That is, about 4 ounces or about 115 grams</span></p></blockquote>
<blockquote><p id="filepos677105"><span><a href="dummy_split_007.html#filepos429122"><span><sup>[104]</sup></span></a><span>24:55</span> Or <span>she</span></span></p></blockquote>
<blockquote><p id="filepos677345"><span><a href="dummy_split_007.html#filepos431375"><span><sup>[105]</sup></span></a><span>24:63</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Genesis 25</span></span></p><div> </div>
<blockquote><p id="filepos677743"><span><a href="dummy_split_007.html#filepos433826"><span><sup>[106]</sup></span></a><span>25:10</span> Or <span>the descendants of Heth</span></span></p></blockquote>
<blockquote><p id="filepos678003"><span><a href="dummy_split_007.html#filepos435211"><span><sup>[107]</sup></span></a><span>25:18</span> Or <span>lived to the east of</span></span></p></blockquote>
<blockquote><p id="filepos678260"><span><a href="dummy_split_007.html#filepos435882"><span><sup>[108]</sup></span></a><span>25:20</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos678517"><span><a href="dummy_split_007.html#filepos437701"><span><sup>[109]</sup></span></a><span>25:25</span>
<span>Esau</span> may mean <span>hairy</span>.</span></p></blockquote>
<blockquote><p id="filepos678778"><span><a href="dummy_split_007.html#filepos437900"><span><sup>[110]</sup></span></a><span>25:26</span>
<span>Jacob</span> means <span>he grasps the heel</span>, a Hebrew idiom for <span>he deceives</span>.</span></p></blockquote>
<blockquote><p id="filepos679089"><span><a href="dummy_split_007.html#filepos438723"><span><sup>[111]</sup></span></a><span>25:30</span>
<span>Edom</span> means <span>red.</span></span></p></blockquote>
<p><span><span>Genesis 26</span></span></p><div> </div>
<blockquote><p id="filepos679463"><span><a href="dummy_split_007.html#filepos440844"><span><sup>[112]</sup></span></a><span>26:4</span> Or <span>seed</span></span></p></blockquote>
<blockquote><p id="filepos679703"><span><a href="dummy_split_007.html#filepos440969"><span><sup>[113]</sup></span></a><span>26:4</span> Or <span>and all nations on earth will use the name of your offspring in blessings</span> (see <a href="dummy_split_008.html#filepos619833"><span>48:20</span></a>)</span></p></blockquote>
<blockquote><p id="filepos680077"><span><a href="dummy_split_007.html#filepos444237"><span><sup>[114]</sup></span></a><span>26:20</span>
<span>Esek</span> means <span>dispute.</span></span></p></blockquote>
<blockquote><p id="filepos680337"><span><a href="dummy_split_007.html#filepos444459"><span><sup>[115]</sup></span></a><span>26:21</span>
<span>Sitnah</span> means <span>opposition.</span></span></p></blockquote>
<blockquote><p id="filepos680602"><span><a href="dummy_split_007.html#filepos444656"><span><sup>[116]</sup></span></a><span>26:22</span>
<span>Rehoboth</span> means <span>room.</span></span></p></blockquote>
<blockquote><p id="filepos680863"><span><a href="dummy_split_007.html#filepos447052"><span><sup>[117]</sup></span></a><span>26:33</span>
<span>Shibah</span> can mean <span>oath</span> or <span>seven.</span></span></p></blockquote>
<blockquote><p id="filepos681141"><span><a href="dummy_split_007.html#filepos447196"><span><sup>[118]</sup></span></a><span>26:33</span>
<span>Beersheba</span> can mean <span>well of the oath</span> and <span>well of seven.</span></span></p></blockquote>
<p><span><span>Genesis 27</span></span></p><div> </div>
<blockquote><p id="filepos681561"><span><a href="dummy_split_007.html#filepos457024"><span><sup>[119]</sup></span></a><span>27:36</span>
<span>Jacob</span> means <span>he grasps the heel</span>, a Hebrew idiom for <span>he takes advantage of</span> or <span>he deceives</span>.</span></p></blockquote>
<p><span><span>Genesis 28</span></span></p><div> </div>
<blockquote><p id="filepos682022"><span><a href="dummy_split_007.html#filepos461067"><span><sup>[120]</sup></span></a><span>28:2</span> That is, Northwest Mesopotamia; also in verses <a href="dummy_split_007.html#filepos461716"><span>5</span></a>, <a href="dummy_split_007.html#filepos461924"><span>6</span></a> and <a href="dummy_split_007.html#filepos462197"><span>7</span></a></span></p></blockquote>
<blockquote><p id="filepos682464"><span><a href="dummy_split_007.html#filepos461331"><span><sup>[121]</sup></span></a><span>28:3</span> Hebrew <span>El-Shaddai</span></span></p></blockquote>
<blockquote><p id="filepos682714"><span><a href="dummy_split_007.html#filepos463204"><span><sup>[122]</sup></span></a><span>28:13</span> Or <span>There beside him</span></span></p></blockquote>
<blockquote><p id="filepos682967"><span><a href="dummy_split_007.html#filepos463756"><span><sup>[123]</sup></span></a><span>28:14</span> Or <span>will use your name and the name of your offspring in blessings</span> (see <a href="dummy_split_008.html#filepos619833"><span>48:20</span></a>)</span></p></blockquote>
<blockquote><p id="filepos683331"><span><a href="dummy_split_007.html#filepos464719"><span><sup>[124]</sup></span></a><span>28:19</span>
<span>Bethel</span> means <span>house of God.</span></span></p></blockquote>
<blockquote><p id="filepos683598"><span><a href="dummy_split_007.html#filepos465236"><span><sup>[125]</sup></span></a><span>28:20, 21</span> Or <span>Since God … father’s household, the <span><span>LORD</span></span></span></span></p></blockquote>
<blockquote><p id="filepos683927"><span><a href="dummy_split_007.html#filepos465355"><span><sup>[126]</sup></span></a><span>28:21, 22</span> Or <span>household, and the <span><span>LORD</span></span> will be my God, <sup>22</sup>then</span></span></p></blockquote>
<p><span><span>Genesis 29</span></span></p><div> </div>
<blockquote><p id="filepos684379"><span><a href="dummy_split_008.html#filepos469817"><span><sup>[127]</sup></span></a><span>29:17</span> Or <span>delicate</span></span></p></blockquote>
<blockquote><p id="filepos684624"><span><a href="dummy_split_008.html#filepos472630"><span><sup>[128]</sup></span></a><span>29:32</span>
<span>Reuben</span> sounds like the Hebrew for <span>he has seen my misery</span>; the name means <span>see, a son</span>.</span></p></blockquote>
<blockquote><p id="filepos684955"><span><a href="dummy_split_008.html#filepos473179"><span><sup>[129]</sup></span></a><span>29:33</span>
<span>Simeon</span> probably means <span>one who hears.</span></span></p></blockquote>
<blockquote><p id="filepos685232"><span><a href="dummy_split_008.html#filepos473565"><span><sup>[130]</sup></span></a><span>29:34</span>
<span>Levi</span> sounds like and may be derived from the Hebrew for <span>attached.</span></span></p></blockquote>
<blockquote><p id="filepos685538"><span><a href="dummy_split_008.html#filepos473935"><span><sup>[131]</sup></span></a><span>29:35</span>
<span>Judah</span> sounds like and may be derived from the Hebrew for <span>praise.</span></span></p></blockquote>
<p><span><span>Genesis 30</span></span></p><div> </div>
<blockquote><p id="filepos685961"><span><a href="dummy_split_008.html#filepos475396"><span><sup>[132]</sup></span></a><span>30:6</span>
<span>Dan</span> here means <span>he has vindicated.</span></span></p></blockquote>
<blockquote><p id="filepos686234"><span><a href="dummy_split_008.html#filepos475799"><span><sup>[133]</sup></span></a><span>30:8</span>
<span>Naphtali</span> means <span>my struggle.</span></span></p></blockquote>
<blockquote><p id="filepos686501"><span><a href="dummy_split_008.html#filepos476230"><span><sup>[134]</sup></span></a><span>30:11</span> Or <span>“A troop is coming!”</span></span></p></blockquote>
<blockquote><p id="filepos686770"><span><a href="dummy_split_008.html#filepos476339"><span><sup>[135]</sup></span></a><span>30:11</span>
<span>Gad</span> can mean <span>good fortune</span> or <span>a troop.</span></span></p></blockquote>
<blockquote><p id="filepos687055"><span><a href="dummy_split_008.html#filepos476703"><span><sup>[136]</sup></span></a><span>30:13</span>
<span>Asher</span> means <span>happy.</span></span></p></blockquote>
<blockquote><p id="filepos687314"><span><a href="dummy_split_008.html#filepos478221"><span><sup>[137]</sup></span></a><span>30:18</span>
<span>Issachar</span> sounds like the Hebrew for <span>reward.</span></span></p></blockquote>
<blockquote><p id="filepos687598"><span><a href="dummy_split_008.html#filepos478662"><span><sup>[138]</sup></span></a><span>30:20</span>
<span>Zebulun</span> probably means <span>honor.</span></span></p></blockquote>
<blockquote><p id="filepos687868"><span><a href="dummy_split_008.html#filepos479261"><span><sup>[139]</sup></span></a><span>30:24</span>
<span>Joseph</span> means <span>may he add.</span></span></p></blockquote>
<p><span><span>Genesis 31</span></span></p><div> </div>
<blockquote><p id="filepos688251"><span><a href="dummy_split_008.html#filepos486841"><span><sup>[140]</sup></span></a><span>31:18</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos688508"><span><a href="dummy_split_008.html#filepos492523"><span><sup>[141]</sup></span></a><span>31:47</span> The Aramaic <span>Jegar Sahadutha</span> and the Hebrew <span>Galeed</span> both mean <span>witness heap.</span></span></p></blockquote>
<blockquote><p id="filepos688829"><span><a href="dummy_split_008.html#filepos492870"><span><sup>[142]</sup></span></a><span>31:49</span>
<span>Mizpah</span> means <span>watchtower.</span></span></p></blockquote>
<blockquote><p id="filepos689094"><span><a href="dummy_split_008.html#filepos494348"><span><sup>[143]</sup></span></a><span>31:55</span> In Hebrew texts this verse (<a href="dummy_split_008.html#filepos494151"><span>Ge 31:55</span></a>) is numbered Ge 32:1.</span></p></blockquote>
<p><span><span>Genesis 32</span></span></p><div> </div>
<blockquote><p id="filepos689550"><span><a href="dummy_split_008.html#filepos494622"><span><sup>[144]</sup></span></a>In Hebrew texts <a href="dummy_split_008.html#filepos494750"><span>32:1–32</span></a> is numbered 32:2–33.</span></p></blockquote>
<blockquote><p id="filepos689873"><span><a href="dummy_split_008.html#filepos494996"><span><sup>[145]</sup></span></a><span>32:2</span>
<span>Mahanaim</span> means <span>two camps.</span></span></p></blockquote>
<blockquote><p id="filepos690138"><span><a href="dummy_split_008.html#filepos496116"><span><sup>[146]</sup></span></a><span>32:7</span> Or <span>camps</span></span></p></blockquote>
<blockquote><p id="filepos690379"><span><a href="dummy_split_008.html#filepos496316"><span><sup>[147]</sup></span></a><span>32:8</span> Or <span>camp</span></span></p></blockquote>
<blockquote><p id="filepos690619"><span><a href="dummy_split_008.html#filepos496413"><span><sup>[148]</sup></span></a><span>32:8</span> Or <span>camp</span></span></p></blockquote>
<blockquote><p id="filepos690859"><span><a href="dummy_split_008.html#filepos500448"><span><sup>[149]</sup></span></a><span>32:28</span>
<span>Israel</span> probably means <span>he struggles with God.</span></span></p></blockquote>
<blockquote><p id="filepos691144"><span><a href="dummy_split_008.html#filepos501100"><span><sup>[150]</sup></span></a><span>32:30</span>
<span>Peniel</span> means <span>face of God.</span></span></p></blockquote>
<blockquote><p id="filepos691410"><span><a href="dummy_split_008.html#filepos501430"><span><sup>[151]</sup></span></a><span>32:31</span> Hebrew <span>Penuel</span>, a variant of <span>Peniel</span></span></p></blockquote>
<p><span><span>Genesis 33</span></span></p><div> </div>
<blockquote><p id="filepos691803"><span><a href="dummy_split_008.html#filepos505822"><span><sup>[152]</sup></span></a><span>33:17</span>
<span>Sukkoth</span> means <span>shelters.</span></span></p></blockquote>
<blockquote><p id="filepos692067"><span><a href="dummy_split_008.html#filepos506055"><span><sup>[153]</sup></span></a><span>33:18</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos692324"><span><a href="dummy_split_008.html#filepos506275"><span><sup>[154]</sup></span></a><span>33:19</span> Hebrew <span>hundred kesitahs</span>; a kesitah was a unit of money of unknown weight and value.</span></p></blockquote>
<blockquote><p id="filepos692641"><span><a href="dummy_split_008.html#filepos506534"><span><sup>[155]</sup></span></a><span>33:20</span>
<span>El Elohe Israel</span> can mean <span>El is the God of Israel</span> or <span>mighty is the God of Israel.</span></span></p></blockquote>
<p><span><span>Genesis 34</span></span></p><div> </div>
<blockquote><p id="filepos693087"><span><a href="dummy_split_008.html#filepos508089"><span><sup>[156]</sup></span></a><span>34:7</span> Or <span>against</span></span></p></blockquote>
<blockquote><p id="filepos693330"><span><a href="dummy_split_008.html#filepos508665"><span><sup>[157]</sup></span></a><span>34:10</span> Or <span>move about freely</span>; also in verse <a href="dummy_split_008.html#filepos510465"><span>21</span></a></span></p></blockquote>
<blockquote><p id="filepos693655"><span><a href="dummy_split_008.html#filepos511730"><span><sup>[158]</sup></span></a><span>34:27</span> Or <span>because</span></span></p></blockquote>
<p><span><span>Genesis 35</span></span></p><div> </div>
<blockquote><p id="filepos694017"><span><a href="dummy_split_008.html#filepos514262"><span><sup>[159]</sup></span></a><span>35:7</span>
<span>El Bethel</span> means <span>God of Bethel.</span></span></p></blockquote>
<blockquote><p id="filepos694287"><span><a href="dummy_split_008.html#filepos514667"><span><sup>[160]</sup></span></a><span>35:8</span>
<span>Allon Bakuth</span> means <span>oak of weeping.</span></span></p></blockquote>
<blockquote><p id="filepos694561"><span><a href="dummy_split_008.html#filepos514903"><span><sup>[161]</sup></span></a><span>35:9</span> That is, Northwest Mesopotamia; also in verse <a href="dummy_split_008.html#filepos519024"><span>26</span></a></span></p></blockquote>
<blockquote><p id="filepos694888"><span><a href="dummy_split_008.html#filepos515090"><span><sup>[162]</sup></span></a><span>35:10</span>
<span>Jacob</span> means <span>he grasps the heel</span>, a Hebrew idiom for <span>he deceives</span>.</span></p></blockquote>
<blockquote><p id="filepos695199"><span><a href="dummy_split_008.html#filepos515243"><span><sup>[163]</sup></span></a><span>35:10</span>
<span>Israel</span> probably means <span>he struggles with God.</span></span></p></blockquote>
<blockquote><p id="filepos695484"><span><a href="dummy_split_008.html#filepos515518"><span><sup>[164]</sup></span></a><span>35:11</span> Hebrew <span>El-Shaddai</span></span></p></blockquote>
<blockquote><p id="filepos695735"><span><a href="dummy_split_008.html#filepos516281"><span><sup>[165]</sup></span></a><span>35:15</span>
<span>Bethel</span> means <span>house of God.</span></span></p></blockquote>
<blockquote><p id="filepos696002"><span><a href="dummy_split_008.html#filepos517000"><span><sup>[166]</sup></span></a><span>35:18</span>
<span>Ben-Oni</span> means <span>son of my trouble.</span></span></p></blockquote>
<blockquote><p id="filepos696275"><span><a href="dummy_split_008.html#filepos517122"><span><sup>[167]</sup></span></a><span>35:18</span>
<span>Benjamin</span> means <span>son of my right hand.</span></span></p></blockquote>
<p><span><span>Genesis 36</span></span></p><div> </div>
<blockquote><p id="filepos696670"><span><a href="dummy_split_008.html#filepos524138"><span><sup>[168]</sup></span></a><span>36:16</span> Masoretic Text; Samaritan Pentateuch (also verse <a href="dummy_split_008.html#filepos522380"><span>11</span></a> and <a href="dummy_split_029.html#filepos3169069"><span>1 Chron. 1:36</span></a>) does not have <span>Korah</span>.</span></p></blockquote>
<blockquote><p id="filepos697101"><span><a href="dummy_split_008.html#filepos526044"><span><sup>[169]</sup></span></a><span>36:22</span> Hebrew <span>Hemam,</span> a variant of <span>Homam</span> (see <a href="dummy_split_029.html#filepos3170442"><span>1 Chron. 1:39</span></a>)</span></p></blockquote>
<blockquote><p id="filepos697447"><span><a href="dummy_split_008.html#filepos526778"><span><sup>[170]</sup></span></a><span>36:24</span> Vulgate; Syriac <span>discovered water;</span> the meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos697768"><span><a href="dummy_split_008.html#filepos527376"><span><sup>[171]</sup></span></a><span>36:26</span> Hebrew <span>Dishan,</span> a variant of <span>Dishon</span></span></p></blockquote>
<blockquote><p id="filepos698043"><span><a href="dummy_split_008.html#filepos530405"><span><sup>[172]</sup></span></a><span>36:39</span> Many manuscripts of the Masoretic Text, Samaritan Pentateuch and Syriac (see also <a href="dummy_split_029.html#filepos3174552"><span>1 Chron. 1:50</span></a>); most manuscripts of the Masoretic Text <span>Hadar</span></span></p></blockquote>
<p><span><span>Genesis 37</span></span></p><div> </div>
<blockquote><p id="filepos698590"><span><a href="dummy_split_008.html#filepos532578"><span><sup>[173]</sup></span></a><span>37:3</span> The meaning of the Hebrew for this word is uncertain; also in verses <a href="dummy_split_008.html#filepos536989"><span>23</span></a> and <a href="dummy_split_008.html#filepos538885"><span>32</span></a>.</span></p></blockquote>
<blockquote><p id="filepos699001"><span><a href="dummy_split_008.html#filepos538227"><span><sup>[174]</sup></span></a><span>37:28</span> That is, about <a href="dummy_split_008.html#filepos533293"><span>8</span></a> ounces or about 230 grams</span></p></blockquote>
<blockquote><p id="filepos699323"><span><a href="dummy_split_008.html#filepos539846"><span><sup>[175]</sup></span></a><span>37:36</span> Samaritan Pentateuch, Septuagint, Vulgate and Syriac (see also verse <a href="dummy_split_008.html#filepos538030"><span>28</span></a>); Masoretic Text <span>Medanites</span></span></p></blockquote>
<p><span><span>Genesis 38</span></span></p><div> </div>
<blockquote><p id="filepos699826"><span><a href="dummy_split_008.html#filepos547175"><span><sup>[176]</sup></span></a><span>38:29</span>
<span>Perez</span> means <span>breaking out.</span></span></p></blockquote>
<blockquote><p id="filepos700092"><span><a href="dummy_split_008.html#filepos547368"><span><sup>[177]</sup></span></a><span>38:30</span>
<span>Zerah</span> can mean <span>scarlet</span> or <span>brightness.</span></span></p></blockquote>
<p><span><span>Genesis 40</span></span></p><div> </div>
<blockquote><p id="filepos700495"><span><a href="dummy_split_008.html#filepos555640"><span><sup>[178]</sup></span></a><span>40:16</span> Or <span>three wicker baskets</span></span></p></blockquote>
<p><span><span>Genesis 41</span></span></p><div> </div>
<blockquote><p id="filepos700870"><span><a href="dummy_split_008.html#filepos563401"><span><sup>[179]</sup></span></a><span>41:38</span> Or <span>of the gods</span></span></p></blockquote>
<blockquote><p id="filepos701118"><span><a href="dummy_split_008.html#filepos564481"><span><sup>[180]</sup></span></a><span>41:43</span> Or <span>in the chariot of his second-in-command</span>; or <span>in his second chariot</span></span></p></blockquote>
<blockquote><p id="filepos701427"><span><a href="dummy_split_008.html#filepos564615"><span><sup>[181]</sup></span></a><span>41:43</span> Or <span>Bow down</span></span></p></blockquote>
<blockquote><p id="filepos701672"><span><a href="dummy_split_008.html#filepos565115"><span><sup>[182]</sup></span></a><span>41:45</span> That is, Heliopolis; also in verse <a href="dummy_split_008.html#filepos566003"><span>50</span></a></span></p></blockquote>
<blockquote><p id="filepos701989"><span><a href="dummy_split_008.html#filepos566237"><span><sup>[183]</sup></span></a><span>41:51</span>
<span>Manasseh</span> sounds like and may be derived from the Hebrew for <span>forget.</span></span></p></blockquote>
<blockquote><p id="filepos702297"><span><a href="dummy_split_008.html#filepos566482"><span><sup>[184]</sup></span></a><span>41:52</span>
<span>Ephraim</span> sounds like the Hebrew for <span>twice fruitful.</span></span></p></blockquote>
<p><span><span>Genesis 42</span></span></p><div> </div>
<blockquote><p id="filepos702706"><span><a href="dummy_split_008.html#filepos574605"><span><sup>[185]</sup></span></a><span>42:34</span> Or <span>move about freely</span></span></p></blockquote>
<p><span><span>Genesis 43</span></span></p><div> </div>
<blockquote><p id="filepos703078"><span><a href="dummy_split_008.html#filepos578800"><span><sup>[186]</sup></span></a><span>43:14</span> Hebrew <span>El-Shaddai</span></span></p></blockquote>
<p><span><span>Genesis 45</span></span></p><div> </div>
<blockquote><p id="filepos703447"><span><a href="dummy_split_008.html#filepos591719"><span><sup>[187]</sup></span></a><span>45:7</span> Or <span>save you as a great band of survivors</span></span></p></blockquote>
<blockquote><p id="filepos703720"><span><a href="dummy_split_008.html#filepos594481"><span><sup>[188]</sup></span></a><span>45:22</span> That is, about 7 1/2 pounds or about 3.5 kilograms</span></p></blockquote>
<p><span><span>Genesis 46</span></span></p><div> </div>
<blockquote><p id="filepos704115"><span><a href="dummy_split_008.html#filepos599617"><span><sup>[189]</sup></span></a><span>46:13</span> Samaritan Pentateuch and Syriac (see also <a href="dummy_split_029.html#filepos3242392"><span>1 Chron. 7:1</span></a>); Masoretic Text <span>Puvah</span></span></p></blockquote>
<blockquote><p id="filepos704479"><span><a href="dummy_split_008.html#filepos599711"><span><sup>[190]</sup></span></a><span>46:13</span> Samaritan Pentateuch and some Septuagint manuscripts (see also <a href="dummy_split_015.html#filepos1457138"><span>Num. 26:24</span></a> and <a href="dummy_split_029.html#filepos3242392"><span>1 Chron. 7:1</span></a>); Masoretic Text <span>Iob</span></span></p></blockquote>
<blockquote><p id="filepos704930"><span><a href="dummy_split_008.html#filepos600279"><span><sup>[191]</sup></span></a><span>46:15</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos705187"><span><a href="dummy_split_008.html#filepos600725"><span><sup>[192]</sup></span></a><span>46:16</span> Samaritan Pentateuch and Septuagint (see also <a href="dummy_split_015.html#filepos1453576"><span>Num. 26:15</span></a>); Masoretic Text <span>Ziphion</span></span></p></blockquote>
<blockquote><p id="filepos705555"><span><a href="dummy_split_008.html#filepos602268"><span><sup>[193]</sup></span></a><span>46:20</span> That is, Heliopolis</span></p></blockquote>
<blockquote><p id="filepos705801"><span><a href="dummy_split_008.html#filepos603995"><span><sup>[194]</sup></span></a><span>46:27</span> Hebrew; Septuagint <span>the nine children</span></span></p></blockquote>
<blockquote><p id="filepos706071"><span><a href="dummy_split_008.html#filepos604191"><span><sup>[195]</sup></span></a><span>46:27</span> Hebrew (see also <a href="dummy_split_010.html#filepos716252"><span>Exodus 1:5</span></a> and note); Septuagint (see also <a href="dummy_split_084.html#filepos10254244"><span>Acts 7:14</span></a>) <span>seventy-five</span></span></p></blockquote>
<blockquote><p id="filepos706494"><span><a href="dummy_split_008.html#filepos604687"><span><sup>[196]</sup></span></a><span>46:29</span> Hebrew <span>around him</span></span></p></blockquote>
<p><span><span>Genesis 47</span></span></p><div> </div>
<blockquote><p id="filepos706863"><span><a href="dummy_split_008.html#filepos607654"><span><sup>[197]</sup></span></a><span>47:7</span> Or <span>greeted</span></span></p></blockquote>
<blockquote><p id="filepos707106"><span><a href="dummy_split_008.html#filepos608151"><span><sup>[198]</sup></span></a><span>47:10</span> Or <span>said farewell to</span></span></p></blockquote>
<blockquote><p id="filepos707359"><span><a href="dummy_split_008.html#filepos610912"><span><sup>[199]</sup></span></a><span>47:21</span> Samaritan Pentateuch and Septuagint (see also Vulgate); Masoretic Text <span>and he moved the people into the cities</span></span></p></blockquote>
<blockquote><p id="filepos707703"><span><a href="dummy_split_008.html#filepos613491"><span><sup>[200]</sup></span></a><span>47:31</span> Or <span>Israel bowed down at the head of his bed</span></span></p></blockquote>
<p><span><span>Genesis 48</span></span></p><div> </div>
<blockquote><p id="filepos708098"><span><a href="dummy_split_008.html#filepos614418"><span><sup>[201]</sup></span></a><span>48:3</span> Hebrew <span>El-Shaddai</span></span></p></blockquote>
<blockquote><p id="filepos708348"><span><a href="dummy_split_008.html#filepos615280"><span><sup>[202]</sup></span></a><span>48:7</span> That is, Northwest Mesopotamia</span></p></blockquote>
<blockquote><p id="filepos708604"><span><a href="dummy_split_008.html#filepos620034"><span><sup>[203]</sup></span></a><span>48:20</span> The Hebrew is singular.</span></p></blockquote>
<blockquote><p id="filepos708854"><span><a href="dummy_split_008.html#filepos620705"><span><sup>[204]</sup></span></a><span>48:21</span> The Hebrew is plural.</span></p></blockquote>
<blockquote><p id="filepos709102"><span><a href="dummy_split_008.html#filepos620805"><span><sup>[205]</sup></span></a><span>48:21</span> The Hebrew is plural.</span></p></blockquote>
<blockquote><p id="filepos709350"><span><a href="dummy_split_008.html#filepos620917"><span><sup>[206]</sup></span></a><span>48:21</span> The Hebrew is plural.</span></p></blockquote>
<blockquote><p id="filepos709598"><span><a href="dummy_split_008.html#filepos621067"><span><sup>[207]</sup></span></a><span>48:22</span> The Hebrew for <span>ridge of land</span> is identical with the place name Shechem.</span></p></blockquote>
<p><span><span>Genesis 49</span></span></p><div> </div>
<blockquote><p id="filepos710020"><span><a href="dummy_split_008.html#filepos623546"><span><sup>[208]</sup></span></a><span>49:5</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<blockquote><p id="filepos710299"><span><a href="dummy_split_008.html#filepos625138"><span><sup>[209]</sup></span></a><span>49:8</span>
<span>Judah</span> sounds like and may be derived from the Hebrew for <span>praise.</span></span></p></blockquote>
<blockquote><p id="filepos710603"><span><a href="dummy_split_008.html#filepos626649"><span><sup>[210]</sup></span></a><span>49:10</span> Or <span>from his descendants</span></span></p></blockquote>
<blockquote><p id="filepos710860"><span><a href="dummy_split_008.html#filepos626890"><span><sup>[211]</sup></span></a><span>49:10</span> Or <span>to whom tribute belongs</span>; the meaning of the Hebrew for this phrase is uncertain.</span></p></blockquote>
<blockquote><p id="filepos711177"><span><a href="dummy_split_008.html#filepos628167"><span><sup>[212]</sup></span></a><span>49:12</span> Or <span>will be dull from wine, / his teeth white from milk</span></span></p></blockquote>
<blockquote><p id="filepos711465"><span><a href="dummy_split_008.html#filepos628954"><span><sup>[213]</sup></span></a><span>49:14</span> Or <span>strong</span></span></p></blockquote>
<blockquote><p id="filepos711708"><span><a href="dummy_split_008.html#filepos629207"><span><sup>[214]</sup></span></a><span>49:14</span> Or <span>the campfires</span>; or <span>the saddlebags</span></span></p></blockquote>
<blockquote><p id="filepos711984"><span><a href="dummy_split_008.html#filepos630129"><span><sup>[215]</sup></span></a><span>49:16</span>
<span>Dan</span> here means <span>he provides justice.</span></span></p></blockquote>
<blockquote><p id="filepos712260"><span><a href="dummy_split_008.html#filepos631470"><span><sup>[216]</sup></span></a><span>49:19</span>
<span>Gad</span> sounds like the Hebrew for <span>attack</span> and also for <span>band of raiders.</span></span></p></blockquote>
<blockquote><p id="filepos712575"><span><a href="dummy_split_008.html#filepos632469"><span><sup>[217]</sup></span></a><span>49:21</span> Or <span>free; / he utters beautiful words</span></span></p></blockquote>
<blockquote><p id="filepos712845"><span><a href="dummy_split_008.html#filepos633062"><span><sup>[218]</sup></span></a><span>49:22</span> Or <span>Joseph is a wild colt, / a wild colt near a spring, / a wild donkey on a terraced hill</span></span></p></blockquote>
<blockquote><p id="filepos713168"><span><a href="dummy_split_008.html#filepos633824"><span><sup>[219]</sup></span></a><span>49:23, 24</span> Or <span>archers will attack … will shoot … will remain … will stay</span></span></p></blockquote>
<blockquote><p id="filepos713485"><span><a href="dummy_split_008.html#filepos634616"><span><sup>[220]</sup></span></a><span>49:25</span> Hebrew <span>Shaddai</span></span></p></blockquote>
<blockquote><p id="filepos713733"><span><a href="dummy_split_008.html#filepos635697"><span><sup>[221]</sup></span></a><span>49:26</span> Or <span>of my progenitors, / as great as</span></span></p></blockquote>
<blockquote><p id="filepos714002"><span><a href="dummy_split_008.html#filepos636143"><span><sup>[222]</sup></span></a><span>49:26</span> Or <span>of the one separated from</span></span></p></blockquote>
<blockquote><p id="filepos714264"><span><a href="dummy_split_008.html#filepos637812"><span><sup>[223]</sup></span></a><span>49:32</span> Or <span>the descendants of Heth</span></span></p></blockquote>
<p><span><span>Genesis 50</span></span></p><div> </div>
<blockquote><p id="filepos714642"><span><a href="dummy_split_008.html#filepos639973"><span><sup>[224]</sup></span></a><span>50:9</span> Or <span>charioteers</span></span></p></blockquote>
<blockquote><p id="filepos714889"><span><a href="dummy_split_008.html#filepos640638"><span><sup>[225]</sup></span></a><span>50:11</span>
<span>Abel Mizraim</span> means <span>mourning of the Egyptians.</span></span></p></blockquote>
<blockquote><p id="filepos715175"><span><a href="dummy_split_008.html#filepos643251"><span><sup>[226]</sup></span></a><span>50:23</span> That is, were counted as his</span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_14"></div></body>
</html>
