<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div id="filepos249466">
<div id="calibre_pb_8"></div><p><span><a href="dummy_split_002.html#filepos7110"><span>Alphabetical Order of the Books of the Bible</span></a></span></p><div> </div>
<p><span><span>The books of the New Testament are indicated by italics.</span></span></p><div> </div>
<p><span><span><a href="dummy_split_004.html#filepos214001"><span>Acts</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos186508"><span>Amos</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos85510"><span>1 Chronicles</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos91094"><span>2 Chronicles</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos231527"><span>Colossians</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos222217"><span>1 Corinthians</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos225401"><span>2 Corinthians</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos180774"><span>Daniel</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos50444"><span>Deuteronomy</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos144969"><span>Ecclesiastes</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos229309"><span>Ephesians</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos102482"><span>Esther</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos31245"><span>Exodus</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos171906"><span>Ezekiel</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos97980"><span>Ezra</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos228024"><span>Galatians</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos22015"><span>Genesis</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos191700"><span>Habakkuk</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos193173"><span>Haggai</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos237665"><span>Hebrews</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos183112"><span>Hosea</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos149078"><span>Isaiah</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos240198"><span>James</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos161136"><span>Jeremiah</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos104460"><span>Job</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos185794"><span>Joel</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos210089"><span>John</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos243091"><span>1 John</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244173"><span>2 John</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244539"><span>3 John</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos188653"><span>Jonah</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos56922"><span>Joshua</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos244905"><span>Jude</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos61420"><span>Judges</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos76643"><span>1 Kings</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos80805"><span>2 Kings</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos170782"><span>Lamentations</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos38623"><span>Leviticus</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos205643"><span>Luke</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos196464"><span>Malachi</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos202621"><span>Mark</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos197373"><span>Matthew</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos189550"><span>Micah</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos190981"><span>Nahum</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos99934"><span>Nehemiah</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos43748"><span>Numbers</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos188284"><span>Obadiah</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos241273"><span>1 Peter</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos242362"><span>2 Peter</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos237293"><span>Philemon</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos230594"><span>Philippians</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos139145"><span>Proverbs</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos112066"><span>Psalms</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos245265"><span>Revelation</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos219159"><span>Romans</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos65378"><span>Ruth</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos66269"><span>1 Samuel</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos72093"><span>2 Samuel</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos147391"><span>Song of Songs</span></a></span></p>
<p><span><span><a href="dummy_split_004.html#filepos232454"><span>1 Thessalonians</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos233599"><span>2 Thessalonians</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos234368"><span>1 Timothy</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos235653"><span>2 Timothy</span></a></span></span></p>
<p><span><span><a href="dummy_split_004.html#filepos236574"><span>Titus</span></a></span></span></p>
<p><span><a href="dummy_split_004.html#filepos193718"><span>Zechariah</span></a></span></p>
<p><span><a href="dummy_split_004.html#filepos192434"><span>Zephaniah</span></a></span></p>
</div>
<hr/><div id="calibre_pb_9"></div></body>
</html>
