<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body class="calibre">
<div class="calibre1">
<div id="filepos8732349" class="calibre1">
<p class="calibre2"><span class="calibre3"><a href="dummy_split_002.html#filepos8122" class="calibre9"><span class="calibre10">Obadiah</span></a></span></p><div class="calibre4"> </div>
<div id="filepos8732519" class="calibre1">
<p class="calibre22"><span class="calibre21"><a href="dummy_split_004.html#filepos188464" class="calibre9"><span class="calibre10">Obadiah 1</span></a></span></p><div class="calibre4"> </div>
<div class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Obadiah’s Vision</span></span></p><div class="calibre4"> </div>
<p class="calibre6"><span><sup class="calibre23">1</sup>The vision of Obadiah.</span></p>
<br class="calibre1"/><br class="calibre1"/><p class="calibre6"><span>This is what the Sovereign <span><span class="calibre8">LORD</span></span> says about Edom—</span></p>
<br class="calibre1"/><div title="poetry" class="calibre1">
<blockquote class="calibre28"><p class="calibre25"><span>We have heard a message from the <span><span class="calibre8">LORD</span></span>:</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>An envoy was sent to the nations to say,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>“Rise, let us go against her for battle”—</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">2</sup>“See, I will make you small among the nations;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you will be utterly despised.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">3</sup>The pride of your heart has deceived you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you who live in the clefts of the rocks<a id="filepos8734411" href="#filepos8748379" class="calibre9"><span class="calibre10"><sup class="calibre23">[1]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and make your home on the heights,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>you who say to yourself,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>‘Who can bring me down to the ground?’</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">4</sup>Though you soar like the eagle</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and make your nest among the stars,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>from there I will bring you down,”</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre38"><span>declares the <span><span class="calibre8">LORD</span></span>.</span></p></blockquote>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">5</sup>“If thieves came to you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>if robbers in the night—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>oh, what a disaster awaits you!—</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>would they not steal only as much as they wanted?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>If grape pickers came to you,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>would they not leave a few grapes?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">6</sup>But how Esau will be ransacked,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>his hidden treasures pillaged!</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">7</sup>All your allies will force you to the border;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your friends will deceive and overpower you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>those who eat your bread will set a trap for you,<a id="filepos8737557" href="#filepos8748619" class="calibre9"><span class="calibre10"><sup class="calibre23">[2]</sup></span></a></span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>but you will not detect it.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">8</sup>“In that day,” declares the <span><span class="calibre8">LORD</span></span>,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>“will I not destroy the wise men of Edom,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>those of understanding in the mountains of Esau?</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">9</sup>Your warriors, Teman, will be terrified,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and everyone in Esau’s mountains</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>will be cut down in the slaughter.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">10</sup>Because of the violence against your brother Jacob,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you will be covered with shame;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you will be destroyed forever.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">11</sup>On the day you stood aloof</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>while strangers carried off his wealth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>and foreigners entered his gates</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and cast lots for Jerusalem,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>you were like one of them.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">12</sup>You should not gloat over your brother</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of his misfortune,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>nor rejoice over the people of Judah</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their destruction,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>nor boast so much</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their trouble.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">13</sup>You should not march through the gates of my people</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their disaster,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>nor gloat over them in their calamity</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their disaster,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>nor seize their wealth</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their disaster.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">14</sup>You should not wait at the crossroads</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to cut down their fugitives,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>nor hand over their survivors</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>in the day of their trouble.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">15</sup>“The day of the <span><span class="calibre8">LORD</span></span> is near</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>for all nations.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>As you have done, it will be done to you;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>your deeds will return upon your own head.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">16</sup>Just as you drank on my holy hill,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>so all the nations will drink continually;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>they will drink and drink</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and be as if they had never been.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">17</sup>But on Mount Zion will be deliverance;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>it will be holy,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and Jacob will possess his inheritance.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">18</sup>Jacob will be a fire</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and Joseph a flame;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>Esau will be stubble,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and they will set him on fire and destroy him.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>There will be no survivors</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>from Esau.”</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre38"><span>The <span><span class="calibre8">LORD</span></span> has spoken.</span></p></blockquote>
<br class="calibre1"/><blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">19</sup>People from the Negev will occupy</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the mountains of Esau,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>and people from the foothills will possess</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>the land of the Philistines.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>They will occupy the fields of Ephraim and Samaria,</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>and Benjamin will possess Gilead.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">20</sup>This company of Israelite exiles who are in Canaan</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>will possess the land as far as Zarephath;</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre25"><span>the exiles from Jerusalem who are in Sepharad</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>will possess the towns of the Negev.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre26"><p class="calibre6"><span><sup class="calibre23">21</sup>Deliverers will go up on<a id="filepos8747702" href="#filepos8748897" class="calibre9"><span class="calibre10"><sup class="calibre23">[3]</sup></span></a> Mount Zion</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>to govern the mountains of Esau.</span></p></blockquote><div class="calibre27"> </div>
<blockquote class="calibre28"><p class="calibre29"><span>And the kingdom will be the <span><span class="calibre8">LORD</span></span>’s.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn31" class="calibre1">
<p class="calibre16"><span class="calibre5"><span class="bold">Obadiah 1</span></span></p><div class="calibre4"> </div>
<blockquote class="calibre26"><p id="filepos8748379" class="calibre6"><span class="calibre8"><a href="#filepos8734411" class="calibre9"><span class="calibre10"><sup class="calibre35">[1]</sup></span></a><span class="italic">1:3</span> Or <span class="italic">of Sela</span></span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8748619" class="calibre6"><span class="calibre8"><a href="#filepos8737557" class="calibre9"><span class="calibre10"><sup class="calibre35">[2]</sup></span></a><span class="italic">1:7</span> The meaning of the Hebrew for this clause is uncertain.</span></p></blockquote>
<blockquote class="calibre26"><p id="filepos8748897" class="calibre6"><span class="calibre8"><a href="#filepos8747702" class="calibre9"><span class="calibre10"><sup class="calibre35">[3]</sup></span></a><span class="italic">1:21</span> Or <span class="italic">from</span></span></p></blockquote>
</div>
</div>
</div>  <div class="mbppagebreak" id="calibre_pb_65"></div></body>
</html>
