@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    color: blue
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6%;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    font-size: 1em
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: left;
    text-indent: 0
    }
.calibre14 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4%;
    text-align: justify;
    text-indent: 0
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6%;
    text-align: left;
    text-indent: 0
    }
.calibre17 {
    display: block;
    height: 2%
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    text-align: center;
    text-indent: 0
    }
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: right;
    text-indent: 1em
    }
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4%;
    text-align: center;
    text-indent: 1em
    }
.calibre21 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4%;
    text-align: center;
    text-indent: 0
    }
.calibre23 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre24 {
    display: block;
    margin-left: 3em;
    text-indent: -3em
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -2em
    }
.calibre26 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre27 {
    display: block;
    height: 0
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1em
    }
.calibre3 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4%;
    text-align: left;
    text-indent: 0
    }
.calibre31 {
    font-size: 0.58065em
    }
.calibre32 {
    font-size: 0.45em;
    line-height: normal;
    vertical-align: super
    }
.calibre33 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1em
    }
.calibre34 {
    display: block;
    height: 1em
    }
.calibre35 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre36 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre37 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre38 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 1em
    }
.calibre39 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0%
    }
.calibre4 {
    display: block;
    height: 5%
    }
.calibre40 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0%
    }
.calibre41 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    text-align: center;
    text-indent: 1em
    }
.calibre42 {
    font-size: 0.58065em;
    line-height: normal;
    vertical-align: super
    }
.calibre43 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1em
    }
.calibre44 {
    height: auto;
    width: auto
    }
.calibre45 {
    display: block;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -3%
    }
.calibre46 {
    color: black
    }
.calibre47 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1em
    }
.calibre48 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre49 {
    display: table-row;
    vertical-align: middle
    }
.calibre5 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre50 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre51 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre8 {
    font-size: 0.75em
    }
.calibre9 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }