<div class="clearfix show-grid hidden-print"></div>
<div class="clearfix show-grid hidden-print"></div>
<footer class="hidden-print">
	<nav class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li role="presentation">
				<a target="_blank" href="/about/"><span>About Me</span></a>
			</li>
			<li role="presentation">
				<a target="_blank" href="https://github.com/">
					<i class="fa fa-github-alt fa-lg" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Github</strong></span>
				</a>
			</li>
			<li role="presentation">
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100010823177377">
					<i class="fa fa-facebook fa-lg" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Facebook</strong></span>
				</a>
			</li>
			<li role="presentation">
				<a target="_blank" href="http://weibo.com/MarchGrayYoung/">
					<i class="fa fa-weibo fa-lg" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Sina</strong></span>
				</a>
			</li>
			<li role="presentation">
				<a target="_blank" href="https://plus.google.com/u/0/111891129703746085317/posts">
					<i class="fa fa-google-plus fa-lg" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Google+</strong></span>
				</a>
			</li>
		</ul>
		<div class="clearfix show-grid visible-xs-block"></div>
		<span class="text-muted text-center visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">Copyright&copy; by Marching Gray Young. All Rights Reserved.</span>
	</nav>
	<div class="container-fluid">
		<div class="clearfix show-grid"></div>
		<p id="tip-browser" class="hidden">You are using <img width="40" height="" src="/images/logo-internet-explorer.png" alt="Internet Explorer">, please use <a href="https://www.google.com/chrome/"><img width="36" height="" src="/images/logo-chrome.png" alt="Google Chrome"></a> or <a href="https://www.mozilla.org/en-US/firefox/new/"><img width="" height="40" src="/images/logo-firefox.png" alt="Firefox"></a> to get better experience.</p>
	</div>
</footer>