<footer class="hidden-print">
	<div class="clearfix mb-3 hidden-md-up"></div>
	<div class="container-fluid">
		<span class="text-muted">Copyright&copy; by Marching Gray Young. All Rights Reserved.</span>
	</div>
	<div class="container-fluid">
		<div class="clearfix mb-3"></div>
		<p id="tip-browser" class="hidden">You are using <img width="40" height="" src="/images/logo-internet-explorer.png" alt="Internet Explorer">, please use <a href="https://www.google.com/chrome/"><img width="36" height="" src="/images/logo-chrome.png" alt="Google Chrome"></a> or <a href="https://www.mozilla.org/en-US/firefox/new/"><img width="" height="40" src="/images/logo-firefox.png" alt="Firefox"></a> to get better experience.</p>
	</div>
</footer>