<footer class="hidden-print">
	<div id="subNavbar" class="navbar navbar-inverse">
		<div class="container">
			<ul class="nav nav-pills">
				<li role="presentation"><a href="/">Home</a></li>
				<li class="pull-right" role="presentation">
					<a class="text-primary" target="_blank" href="mailto:windpet@live.cn">Send a Email to Me</a>
				</li>
				<li class="pull-right" role="presentation">
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2195034239&site=qq&menu=yes">QQ<span class="hidden-xs"> 2195034239</span></a>
				</li>
			</ul>
		</div>
	</div>
	<nav class="container">
		<div class="clearfix show-grid visible-xs-block"></div>
		<span class="text-muted text-center visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">Copyright&copy; by Marching Gray Young. All Rights Reserved.</span>
	</nav>
	<div class="container">
		<div class="clearfix show-grid"></div>
		<p id="tip-browser" class="hidden">You are using <img width="40" height="" src="/images/logo-internet-explorer.png" alt="Internet Explorer">, please use <a href="https://www.google.com/chrome/"><img width="36" height="" src="/images/logo-chrome.png" alt="Google Chrome"></a> or <a href="https://www.mozilla.org/en-US/firefox/new/"><img width="" height="40" src="/images/logo-firefox.png" alt="Firefox"></a> to get better experience.</p>
	</div>
</footer>