<header id="header" class="collapse" aria-expanded="false">
	<nav class="navbar">
		<button type="button" class="rounded-circle navbar-toggler collapsed" data-toggle="collapse" data-target="#header" aria-controls="header" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<span class="d-block">GRAY</span>
		</a>
		<ul class="list-inline text-center">
			<li class="list-inline-item">
				<a target="_blank" href="https://github.com/GrayYoung">
					<i class="fa fa-github-alt" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Github</strong></span>
				</a>
			</li>
			<li class="list-inline-item">
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100010823177377">
					<i class="fa fa-facebook" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Facebook</strong></span>
				</a>
			</li>
			<li class="list-inline-item">
				<a target="_blank" href="http://weibo.com/MarchGrayYoung/">
					<i class="fa fa-weibo" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Sina</strong></span>
				</a>
			</li>
			<li class="list-inline-item">
				<a target="_blank" href="https://plus.google.com/u/0/111891129703746085317/posts">
					<i class="fa fa-google-plus" aria-hidden="true"></i> 
					<span class="sr-only"><strong class="text-uppercase">Follow Me on Google+</strong></span>
				</a>
			</li>
		</ul>
		<div class="navbar-collapse collapse show">
			<ul class="navbar-nav">
				{% for item in site.data.navigation %}
				<li class="nav-item">
					{% if false || item.subs %}
					<a href="{{ item.url | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{ item.label }}
					</a>
					<ul class="dropdown-menu">
						{% for sub in item.subs %}
						<li>
							<a href="{{ sub.url | prepend: site.baseurl }}">{{ sub.label }}</a>
						</li>
						{% endfor %}
					</ul>
					{% else %}
						<a href="{{ item.url | prepend: site.baseurl }}">{{ item.label }}</a>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<form id="form-cse-search" class="navbar-form" role="search" action="/search">
				<div class="input-group input-group-sm">
					<input id="input-cse-search" name="query" type="text" required class="form-control" placeholder="">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-inverse">
							<span class="hidden-sm-down">SEARCH</span>
							<i class="fa fa-search hidden-sm-up" aria-label="Search"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	</nav>
</header>