<div class="float-right">
	<a title="Share on Google+" href="https://plus.google.com/share?url={{ include.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fab fa-google-plus fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Share on Google+</span>
	</a>
	<a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ include.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Share on Facebook</span>
	</a>
	<a title="Share on Twitter" href="https://twitter.com/home?status={{ include.url }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Share on Twitter</span>
	</a>
	<a title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ include.url }}&title=&summary=&source=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Share on LinkedIn</span>
	</a>
	<a title="Pin on Pinterest" href="https://pinterest.com/pin/create/button/?url={{ include.url }}&media=&description=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
		<span class="fa-stack fa-lg" aria-hidden="true">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Pin on Pinterest</span>
	</a>
</div>