<div class="carousel slide">
	<div class="carousel-inner" role="listbox">
		{% for slide in site.data.slides %}
		<div class="carousel-item" style="background-color: {{ slide.background.color }}; background-image: {{ slide.background.image }};">
			<div class="container">
				<div class="row">
					<a href="{{ slide.url }}">
						{% if slide.image %}
						<img class="d-block mx-auto" src="{{ slide.image }}" alt="{{ slide.alt }}">
						{% endif %}
						<div class="carousel-caption">{{ slide.title }}</div>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<a class="carousel-control-prev" href="javascript:void(0);" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon fa fa-angle-left fa-5x" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>
	<a class="carousel-control-next" href="javascript:void(0);" role="button" data-slide="next">
		<span class="carousel-control-next-icon fa fa-angle-right fa-5x" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</div>