

.book-article {
	h1 {
		margin-bottom: 3em;
		text-align: center;
	}

	h2 {
		margin-bottom: 2.5em;
		text-align: center;
	}

	h3 {
		margin-bottom: 2em;
		text-align: center;
	}

	h4 {
		margin-bottom: 1.5em;
	}

	h5 {
		margin-bottom: 1em;
	}

	p {
		text-indent: 1em;
	}

	[lang="ZH-CN"] {
		font-family: "SimSun", "宋体";
	}

	p[lang="ZH-CN"], section[lang="ZH-CN"] > p {
		text-indent: 2em;
	}

	blockquote {
		padding: 10px 20px;
		border-left: 5px solid $gray-300;
		background-color: $gray-200;

		> p:last-child {
			margin-bottom: 0;
		}
	}

	> section > section {
		margin-bottom: 4em;
	}

	@include media-breakpoint-up(lg) {
		> .row > .col-md-3 {
			padding-right: 0;

			.sticky-top {
				top: 70px;
				z-index: 1;
				max-height: calc(100vh - 70px);
				overflow-y: auto;
			}

			.nav-pills {
				padding-left: 0.5em;
			}

			.nav-link {
				padding: 0.1em 0;
				border-radius: 0;
				overflow: hidden;
				word-break: keep-all;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: $gray-700;

				&:hover, &:active, &:hover {
					color: theme-color("primary");
					text-decoration: none;
				}

				+ .nav {
					height: 0;
					overflow: hidden;
					transition: height 0.5s;
				}

				&.active {
					border-left: solid 3px theme-color("primary");
					background-color: transparent;
					font-weight: bold;
					color: $gray-900;

					+ .nav {
						height: auto;
						border-left: solid 1px theme-color("primary");
						overflow: visible;
					}
				}
			}

		}
	}
}

.book-cover {
	position: relative;
	width: 800px;
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: 100% auto;

	h2 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		text-align: center;
		text-shadow: 1px 1px 1px theme-color("dark");
		font-weight: bold;
	}
}

#examination {
	font-size: 11pt;
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;

	header {
		> div {
			font-size: 16pt;
		}

		> h1 {
			font-size: 24pt;
		}

		> small {
			font-size: 14pt;
		}
	}

	h2 {
		font-size: 16pt;
	}

	h3, h4, .form-control {
		font-size: 11pt;
	}

	h4 {
		line-height: $input-height-sm;
	}

	input.form-control {
		width: auto;
		border-radius: 0;
		border-width: 0 0 1px 0;
	}

	div.form-control {
		height: auto;
		min-height: $input-height;
	}

	.custom-control-input:checked ~ .custom-control-label::before {
		border-color: theme-color("info");
		background-color: theme-color("info");
	}

	.custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: 0 0 0 $input-btn-focus-width rgba(theme-color("info"), .25);
	}
}