

.book-article {
	h1 {
		margin-bottom: 3em;
		text-align: center;
	}

	h2 {
		margin-bottom: 2.5em;
		text-align: center;
	}

	h3 {
		margin-bottom: 2em;
		text-align: center;
	}

	h4 {
		margin-bottom: 1.5em;
	}

	h5 {
		margin-bottom: 1em;
	}

	p {
		text-indent: 1em;
	}

	> section > section {
		margin-bottom: 4em;
	}

	@include media-breakpoint-up(lg) {
		> .col-lg-9 {
			padding-left: 0;
		}
	
		> .col-lg-3 {
			padding-right: 0;

			.sticky-top {
				top: 70px;
				max-height: calc(100vh - 70px);
				overflow-y: auto;
			}

			.nav-link {
				padding: 0.1em 0 0.1em 1em;
				border-radius: 0;
				overflow: hidden;
				word-break: keep-all;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: $gray-700;

				&:hover, &:active, &:hover {
					color: theme-color("primary");
					text-decoration: none;
				}

				+ .nav {
					height: 0;
					overflow: hidden;
					transition: height 0.5s;
				}

				&.active {
					margin-left: -3px;
					border-left: solid 3px theme-color("primary");
					background-color: transparent;
					font-weight: bold;
					color: $gray-900;

					+ .nav {
						height: auto;
						border-left: solid 1px theme-color("primary");
						overflow: visible;
					}
				}
			}

		}
	}
}

.book-cover {
	position: relative;
	width: 800px;
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: 100% auto;

	h2 {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		text-align: center;
		text-shadow: 1px 1px 1px theme-color("dark");
		font-weight: bold;
	}
}