

article {
	p {
		text-indent: 1em;
	}

	@include media-breakpoint-up(lg) {
		> .col-md-9 {
			padding-left: 0;
	
			+ nav.col-md-3 {
				padding-right: 0;

				& > ul.affix {
					position: fixed !important;
					top: $grid-gutter-width / 2;
				}

				li {
					> a {
						display: block;
						overflow: hidden;
						word-break: keep-all;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: $gray-400;

						&:hover, &:active, &:hover {
							color: theme-color("primary");
							text-decoration: none;
						}
					}

					> ul {
						display: none;
					}

					&.active {
						> a {
							margin-left: -2px;
							border-left: solid 2px theme-color("primary");
							color: $gray-900;
						}

						> ul {
							display: block;
						}
					}
				}

				> ul > li {
					> a {
						padding-left: 1em;
						font-weight: bold;
					}

					> ul > li {
						> a {
							padding-left: 2em;
						}

						> ul > li > a {
							padding-left: 3em;
						}
					}
				}
			}
		}
	}
}