

.list-blog {
	counter-reset: section;

	> li {
		border-right: solid 3px $gray-200;
		margin-bottom: $grid-gutter-width;

		@include media-breakpoint-up(lg) {
			&:nth-child(4n) {
				border-right-width: 0;
			}
		}

		@include media-breakpoint-only(md) {
			&:nth-child(3n) {
				border-right-width: 0;
			}
		}

		@include media-breakpoint-only(sm) {
			&:nth-child(2n) {
				border-right-width: 0;
			}
		}

		@include media-breakpoint-down(sm) {
			border-right-width: 0;
		}
	}

	.heading {
		padding-bottom: 1rem;
		border-bottom: solid 1px $gray-600;

		+ time {
			display: block;
			float: left;
			padding-right: 0.2rem;
			margin-top: -1.5rem;
			background-color: $white;
			font-size: $font-size-sm;
			font-weight: normal;
			color: $gray-600;
		}
	}

	a {
		text-decoration: underline;
	}

	a + a {
		margin-left: 5px;
	}
}

.post-title {
	border-bottom: solid 5px;
	line-height: 0.8;
	font-weight: bold;

	> span {
		display: inline-block;
		transform-origin: bottom left;
		transform: scaleY(1.85);
	}
}

@include media-breakpoint-down(md) {
	.heading-blog {
		margin-left: calc(20% + 20px);
		margin-bottom: $grid-gutter-width * 2;
	}

	.list-blog {
		.media-left {
			width: 20%;
		}
	}
}