.heading-blog {
	margin-left: calc(10% + 20px);
	margin-bottom: $grid-gutter-width * 3;
	font-size: $font-size-base * 4;
}

.list-blog {
	counter-reset: section;

	> li.media {
		position: relative;
		margin-top: 0;

		/* &:before {
			counter-increment: section;
			content: counters(section, ".") " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: $dl-horizontal-offset;
			height: 100%;
			padding-right: 20px;
			border-right: solid 10px $gray-light;
			text-align: right;
			font-size: $font-size-h1;
			font-style: italic;
		} */
	}

	/* > li + li {
		border-top: double 4px $gray-light;
	} */

	.media-left {
		width: 10%;
		padding-right: 20px;
		border-right: solid 5px $gray-light;
	}

	.media-body {
		padding-left: 20px;

		> *:last-child {
			margin-bottom: $grid-gutter-width * 4;
		}
	}

	.media-heading {
		padding-bottom: $grid-gutter-width / 2;
		border-bottom: solid 1px $gray-light;
	}

	time {
		font-size: $font-size-small;
		font-weight: normal;
	}

	a {
		font-weight: bold;
	}

	a + a {
		margin-right: 10px;
	}
}

.post-title {
	border-bottom: solid 5px;
	line-height: 0.55;
	font-size: $font-size-base * 4;
	font-weight: bold;

	> span {
		display: inline-block;
		margin-left: -1em;
		transform: scaleX(0.5);
	}
}

@media (max-width: $grid-float-breakpoint-max) {
	.heading-blog {
		margin-left: calc(20% + 20px);
		margin-bottom: $grid-gutter-width * 2;
	}

	.list-blog {
		.media-left {
			width: 20%;
		}
	}
}