.list-blog {
	> li {
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width / 2;
	}

	> li + li {
		border-top: double 4px $gray-light;
	}

	.media-left {
		width: 10%;
	}

	.media-heading {
		padding-bottom: $grid-gutter-width / 2;
		border-bottom: solid 1px $gray-light;
	}

	time {
		font-size: 1.3em;
	}

	a {
		font-weight: bold;
	}

	a + a {
		margin-right: 10px;
	}
}

@media (max-width: $screen-xs-max) {
	.list-blog {
		.media-left {
			width: 20%;
		}
	}
}