
.A4 {
	position: relative;
	width: $A4-width;
	max-width: 100%;
	background-color: white;

	/* &:before {
		content: "";
		display: block;
		padding-top: percentage($A4-height / $A4-width);
	}

	> .content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	} */
}

.content-fixed {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: hidden;

	> img {
		width: 100%;
	}
}

@include make-grid-rows-content;

@include make-grid-rows(xs);

@media (min-width: $screen-sm-min) {
  @include make-grid-rows(sm);
}

@media (min-width: $screen-md-min) {
  @include make-grid-rows(md);
}

@media (min-width: $screen-lg-min) {
  @include make-grid-rows(lg);
}