//#== Google Custom Search Results

.gsc-webResult.gsc-result {
	margin-bottom: 2em !important;
}

.gs-result .gs-title {
	margin-bottom: 0.5em !important;
}

.gsc-url-bottom {
	display: none !important;
}