

.list-alpha {
	padding-left: 0;
	list-style-position: inside;

	> * {
		> ol {
			padding-top: $grid-gutter-width / 3;
			border-top: solid 1px $gray-400;
			margin-top: $grid-gutter-width / 3;
		}
	}
}

.card-columns {
	column-count: 1;
	column-gap: 0;

	> .card {
		min-height: 300px;

		&:hover .card-img-overlay {
			background-color: rgba(0,0,0,0.5);
			color: white;
			text-shadow: 0 0 2px #000000;
		}
	}

	.p-category, .p-summary {
		margin-bottom: 0;
		font-style: italic;
		font-family: "Freight";
	}

	.p-rating {
		.fa {
			width: 1rem;
		}

		.fa-lg {
			vertical-align: baseline;
		}

		> span:first-child {
			display: inline-block;
			margin-right: 1rem;
			overflow: hidden;

			> span {
				display: inline-block;
				width: 10rem;
			}
		}
	}

	.p-votes {
		vertical-align: super;
		font-family: $font-family-sans-serif;
	}
}

.card-img-overlay {
	color: transparent;
	transition: all 0.5s ease-in-out;

	> .btn {
		position: absolute;
		bottom: 0;
		right: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		font-style: italic;
	}
}