//# Navigation (Header & Footer)

.navbar-collapse.in {
	overflow-y: visible;
}

.nav {
	font-family: $font-family-sans-serif;
}

.navbar-brand {
	letter-spacing: -6px;
	font-weight: bold;
	font-family: "Trade Gothic";
	font-size: 90px;
	color: $text-color;
}

#subNavbar {
	min-height: 30px;

	.nav > li {
		margin-top: 7px;
		margin-bottom: 7px;
		
		&.pull-right + .pull-right {
			border-right: solid 1px $body-bg;
		}

		> a {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 16px;
			font-size: 12px;
			font-style: italic;
			font-weight: bold;
			font-family: $font-family-serif;

			&:not(.text-primary) {
				color: #969789;
			}

			&:hover, &:focus {
				&:not(.text-primary) {
					color: #e4e2dd;
				}
			}
		}
	}

	+ .navbar {
		min-height: 75px;

		.navbar-brand {
			height: 75px;
			line-height: 60px;
		}

		.nav > li {
			height: 75px;

			+ li {
				border-left: dotted 1px $text-color;
			}

			.fa {
				vertical-align: top;
			}

			> a > span {
				max-width: 80px;
				margin-left: 0.5em;
				line-height: 1.2;
				color: $text-color;
			}
		}
	}
}

nav.navbar {
	border-top: dotted 1px $text-color;
	border-bottom: solid 8px $text-color;
	border-left-width: 0;
	border-right-width: 0;
	font-family: $font-family-sans-serif;

	@media (min-width: $grid-float-breakpoint) {
		margin-top: 20px;
	}

	.navbar-brand {
		letter-spacing: -3px;
		font-size: 36px;

		> img {
			height: 30px;
			margin-top: -2px;
		}
	}

	.navbar-toggle {
		padding-left: 0;
		padding-right: 0;

		.icon-bar {
			background-color: $text-color;
		}
	}

	.navbar-form {
		@media (min-width: $grid-float-breakpoint) {
			margin-top: 3px;
		}

		.form-control {
			padding-top: 0;
			padding-bottom: 0;
			height: 22px;
			border-color: $input-border !important;
			box-shadow: 0 1px 1px $gray-darker inset;

			@media (min-width: $screen-tablet) {
				width: 126px;
			}

			&:focus {
				border-color: $brand-primary !important;
				box-shadow: 0 1px 1px $brand-primary inset;
			}
		}

		.input-group-btn {
			padding-left: 6px;
		}

		.btn {
			padding-top: 1px;
			padding-bottom: 1px;
			line-height: 18px;
		}
	}

	.nav > li {
		border-left: solid 1px #9b9893;
		font-weight: bold;

		&.open .fa-caret-down:before {
			content: "\f0d8";
		}

		> a {
			line-height: 1;
			text-transform: uppercase;
		}
	}
}

body > * > footer {
	padding: 2em 0 4em;
	background-color: $text-color;
	color: white;

	&:before {
		content: " ";
		display: block;
		margin-top: -40px;
		margin-bottom: 30px;
		border-top: solid 5px $text-color;
	}

	a {
		color: white;

		&:hover, &:active, &:focus {
			color: $gray-lighter;
			
			> .fa:after {
				content: " ";
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 1.5em;
				height: 1.5em;
				margin-top: -0.75em;
				margin-left: -0.75em;
				border: solid 2px transparent;
				border-radius: 50%;
				animation: focusCircle 700ms ease-in-out 1 both;
			}

			@media (min-width: $grid-float-breakpoint) {
				& > span {
					text-decoration: underline;
				}
			}
		}
	}

	@media (max-width: $grid-float-breakpoint-max) {
		.navbar-nav > li {
			text-align: center;

			& + li {
				float: left;
				width: 25%;
			}
		}
	}
}

@media (max-width: $grid-float-breakpoint-max) {
	#subNavbar {
		&.navbar {
			margin-bottom: 0;
		}

		& + .navbar {
			.navbar-header {
				float: left;
			}
	
			.navbar-nav.navbar-right {
				float: right !important;
			}
	
			.nav > li {
				float: left;
			}
		}
	}

	.navbar .navbar-collapse {
		.nav {
			border-top: solid 8px $text-color;
			margin-top: 0;

			> li {
				border-left-width: 0;
				border-top: solid 1px $gray-darker;
				border-bottom: solid 1px $gray-dark;
	
				&:first-child {
				}
	
				> .dropdown-menu {
					padding-top: 0;
					padding-bottom: 0;
	
					> li {
						border-top: solid 1px $gray-dark;
						border-bottom: solid 1px $gray;
	
						> a, &.dropdown-header {
							padding: 10px 15px;
							line-height: 1;
						}

						> a {
							background-color: $gray-darker;
							color: white;

							&:hover, &:focus {
								background-color: $gray;
							}
						}
					}
				}
	
				> a {
					background-color: black;
					color: white;

					&:hover, &:focus {
						background-color: $gray-darker;
						color: $link-color;
					}

					> .fa {
						float: right;
					}
				}
			}
		}
	}
}