//# Navigation (Header & Footer)


.navbar {
	padding: 0;
}

.navbar-brand {
	padding: ceil($grid-gutter-width-base / 2);
	text-align: center;
	font-family: "Trade Gothic";
	font-weight: bold;
	font-size: 3rem;
	color: $white !important;
}

.nav-item {
	padding: 5px ceil($grid-gutter-width-base / 2);
}