$ph-height: percentage(1 / 3 / ($A4-height / $A4-width));
$pb-break: percentage(1 / 3);

.printing {
	> header {
		position: relative;
		height: $ph-height;

		.fa {
			width: $pb-break;
			height: 100%;
			position: absolute;
			top: 100%;
			left: $pb-break / 2;
			background-color: #69c4bd;
			text-align: center;
			color: white;
			font-size: 13em;
		}

		h2 {
			position: relative;
			display: block;
			padding-top: 5%;
			padding-right: 15px;
			margin-top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-align: right;
			font-weight: bold;
			font-size: 6em;
			color: white;
			box-shadow: inset 1px black;
			background: -moz-linear-gradient(left, #fec536 0%, #fec536 $pb-break, #0087be $pb-break, #0087be 100%);
			background: -webkit-linear-gradient(left, #fec536 0%, #fec536 $pb-break, #0087be $pb-break, #0087be 100%);
			background: -ms-linear-gradient(left, #fec536 0%, #fec536 $pb-break, #0087be $pb-break, #0087be 100%);
			background: linear-gradient(to right, #fec536 0%, #fec536 $pb-break, #0087be $pb-break, #0087be 100%);

			&:before, &:after {
				content: "";
				display: block;
				width: percentage(1 / 3);
				height: 100%;
				position: absolute;
				top: -72.5%;
				left: percentage(1 / 6);
				background-color: #f15441;
				transform: rotate(45deg);
			}
	
			&:after {
				top: auto;
				bottom: -72.5%;
				background-color: #69c4bd;
			}

			> small {
				display: block;
				font-weight: bold;
				font-size: 0.5em;
				color: white;
			}
		}
	}

	> h1 {
		margin-top: 0;
	}

	section > h2 {
		font-weight: bold;
		color: #33807a;
	}

	footer hr {
		border-color: $gray-light;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.text-danger {
		color: #f15441;
	}

	@media (min-width: $screen-tablet) {
		> .col-sm-4 {
			//padding-top: $ph-height * 1.5;
			margin-left: 11.85436071126164%;
		}
	
		> .col-sm-5 {
			//padding-top: $ph-height * 0.5;
			margin-top: -15%;
		}
	}
	
	@media (max-width: $screen-xs-max) {
		& {
			padding: $grid-gutter-width / 2;
		}
	}
}