/*## Respoonsive */


.embed-responsive-1by1125:before {
	padding-top: 112.5%;
}

.embed-responsive-1by2:before {
	padding-top: 200%;
}

.embed-responsive-2by1:before {
	padding-top: 50%;
}

.embed-responsive-2by3:before {
	padding-top: 150%;
}

.embed-responsive-3by1:before {
	padding-top: 33.333333%;
}

.embed-responsive-3by2:before {
	padding-top: 66.666667%;
}

.embed-responsive-3by4:before {
	padding-top: 133.333334%;
}

.embed-responsive-4by1:before {
	padding-top: 25%;
}

.embed-responsive-9by2:before {
	padding-top: 22.2222225%;
}

.embed-responsive-banner {
	@include media-breakpoint-up(xl) {
		&:before {
			padding-top: 400px;
		}
	}

	+ hr {
		border-width: 3px;
		margin: 20px auto 50px;
	}
}

.embed-responsive-item {
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}