/*## Respoonsive */


.ratio-1x1125:before {
	padding-top: 112.5%;
}

.ratio-1x2:before {
	padding-top: 200%;
}

.ratio-2x1:before {
	padding-top: 50%;
}

.ratio-2x3:before {
	padding-top: 150%;
}

.ratio-3x1:before {
	padding-top: 33.333333%;
}

.ratio-3x2:before {
	padding-top: 66.666667%;
}

.ratio-3x4:before {
	padding-top: 133.333334%;
}

.ratio-4x1:before {
	padding-top: 25%;
}

.ratio-9x2:before {
	padding-top: 22.2222225%;
}

.ratio-banner {
	@include media-breakpoint-up(xl) {
		&:before {
			padding-top: 400px;
		}
	}

	+ hr {
		border-width: 3px;
		margin: 20px auto 50px;
	}
}

.ratio-item {
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}