.list-history > li {
	position: relative;
	padding: 15px 0 15px 12.85rem;

	&:before {
		content: " ";
		position: absolute;
		top: 15px;
		left: 8.7rem;
		z-index: 1;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		border: solid 3px $body-bg;
	}

	.dt-duration {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 9.5rem;
		height: 100%;
		padding-top: 15px;
		padding-right: 20px;
		border-right: solid 1px black;
		text-align: right;
		line-height: 18px;

		&:after {
			content: " ";
			position: absolute;
			top: 24px;
			right: -0.75em;
			display: block;
			width: 1.5em;
			height: 1px;
			background-color: black;
		}
	}

	h3 {
		margin-top:-3px;
		line-height: 1;
	}

	.p-category {
		margin-bottom: 0;
		text-transform: uppercase;
		color: $brand-primary;
	}

	.p-description {
		margin-bottom: 0;
		color: $gray;
	}
}

.h-resume {
	.h1 {
		font-size: 5em;
		font-family: "Trade Gothic";
		text-align: center;
		letter-spacing: -5px;
		text-transform: uppercase;

		> small {
			display: block;
			font-size: 0.3em;
			letter-spacing: -1px;
			text-transform: capitalize;
			color: $body-color;
		}

		+ div .dl-horizontal {
			@include media-breakpoint-up(md) {
				padding-top: 10em;
			}

			dt {
				width: 6em;
				line-height: 2.4em;
				text-align: right;
			}

			dd {
				margin-left: 7em;
				line-height: 2.4em;
			}
		}
	}

	> div > div {
		&.col-sm-4 > section > p {
			padding-left: 6px;
			padding-right: 6px;
		}

		> section {
			margin-bottom: 2em;

			> h2 {
				padding-bottom: 0.4em;
				border-bottom: solid 2px black;
				text-indent: 0.25em;
			}
		}
	}

	> hr {
		margin-top: 0;
		border-top: 6px solid black;
	}

	.dl-horizontal {
		dt {
			float: left;
			clear: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.p-skill .dl-horizontal {
	margin-bottom: 0;

	dt {
		width: 7em;
		line-height: 2.4em;

		> small {
			font-size: 0.75em;
			color: $gray;
		}
	}

	dd {
		padding-top: 10px;
		margin-left: 8em;
		line-height: 2.4em;
	}

	.progress {
		height: 14px;
	}

	.table-bordered {
		border-color: $gray;
		border-bottom-width: 0;
		margin-bottom: 0;

		caption {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.4;
			text-align: right;
			color: $gray;
		}

		> thead > tr > th {
			padding: 8px 0;
			border-color: $gray;
			border-bottom-width: 0;
		}
	}
}

.p-contact .dl-horizontal {
	dt {
		width: 7em;
		line-height: 1.8em;
		text-align: left;
	}

	dd {
		margin-left: 8em;
		line-height: 1.8em;
	}
}

@include media-breakpoint-up(md) {
	.h-resume > h2 > img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -250px;
	}

	.p-skill .dl-horizontal {
		dt {
			text-align: right;
		}
	}

	.p-skill, .p-contact {
		.dl-horizontal {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
}

@include media-breakpoint-down(md) {
	.list-history > li {
		padding-left: 8em;

		&:before {
			left: floor(($font-size-base * 6.25));
		}

		.dt-duration {
			width: 7em;
			padding-right: 1em;
		}
	}
}