.list-history > li {
	position: relative;
	padding: 1.5rem 0 1.5rem 12.85rem;

	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}

	&:before {
		@include media-breakpoint-up(md) {
			content: " ";
			position: absolute;
			top: 1.5rem;
			left: 8.75rem;
			z-index: 1;
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			border: solid 3px $body-bg;
		}
	}

	.dt-duration {
		display: block;
		padding-right: 1.5rem;
		padding-bottom: 1rem;
		line-height: 1.5rem;

		@include media-breakpoint-up(md) {
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 1.5rem;
			width: 9.5rem;
			height: 100%;
			border-right: solid 1px black;
			text-align: right;

			&:after {
				content: " ";
				position: absolute;
				top: calc(2.25rem - 1px);
				right: calc(-0.75rem + 3px);
				z-index: 0;
				display: block;
				width: calc(1.5rem - 6px);
				height: 1px;
				background-color: black;
			}
		}
	}

	h3 {
		margin-top:-3px;
		line-height: 1;
	}

	.p-category {
		margin-bottom: 0;
		text-transform: uppercase;
		color: theme-color("primary");
	}

	.p-description {
		color: $gray-700;

		> p {
			margin-bottom: 0.5rem;
			text-indent: 1rem;
		}
	}
}

.h-resume {
	.h1 {
		font-size: 5rem;
		font-family: "Trade Gothic";
		text-align: center;
		letter-spacing: -5px;
		text-transform: uppercase;

		> small {
			display: block;
			font-size: 0.3em;
			letter-spacing: -1px;
			text-transform: capitalize;
			color: $body-color;
		}

		+ div .dl-horizontal {
			dt {
				width: 6rem;
				line-height: 2.4rem;
				text-align: right;
			}

			dd {
				margin-left: 7rem;
				line-height: 2.4rem;
			}
		}
	}

	> div > div {
		&.col-sm-4 > section > p {
			padding-left: 6px;
			padding-right: 6px;
		}

		> section {
			> h2 {
				padding-bottom: 0.4rem;
				border-bottom: solid 2px black;
				text-indent: 0.25rem;
			}
		}
	}

	> hr {
		margin-top: 0;
		border-top: 6px solid black;
	}

	.dl-horizontal {
		clear: both;

		dt {
			float: left;
			clear: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.p-skill .dl-horizontal {
	margin-bottom: 0;

	dt {
		width: 7rem;
		line-height: 2.4rem;

		> small {
			font-size: 0.75rem;
			color: $gray-600;
		}
	}

	dd {
		padding-top: 1rem;
		margin-left: 8rem;
		line-height: 2.4rem;
	}

	.progress {
		height: 1rem;
	}

	.table-bordered {
		border-color: $gray-600;
		border-bottom-width: 0;
		margin-bottom: 0;

		caption {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.4;
			text-align: right;
			color: $gray-600;
		}

		> thead > tr > th {
			padding: 0.5rem 0;
			border-color: $gray-600;
			border-bottom-width: 0;
		}
	}
}

.p-contact .dl-horizontal {
	dt {
		width: 7rem;
		line-height: 1.8rem;
		text-align: left;
	}

	dd {
		margin-left: 8rem;
		line-height: 1.8rem;
	}
}

@include media-breakpoint-up(md) {
	.p-skill .dl-horizontal {
		dt {
			text-align: right;
		}
	}

	.p-skill, .p-contact {
		.dl-horizontal {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
}