--- 
layout: article 
title: Deuteronomy
categories: ["Holy Bible","The Old Testament"] 
pageName: article 
chapterTitle: Deuteronomy 
anchor: dummy_split_002.html#filepos8122 
thumbnail: /images/thumb/tb-bible.jpg
---

<div>
<div id="filepos8570063">
<p><span><a href="dummy_split_002.html#filepos8122"><span>Joel</span></a></span></p><div> </div>
<div id="filepos8570230">
<p><span><a href="dummy_split_004.html#filepos185968"><span>Joel 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>The word of the <span><span>LORD</span></span> that came to Joel son of Pethuel.</span></p>
<p><span><span>An Invasion of Locusts</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>2</sup>Hear this, you elders;</span></p></blockquote><div> </div>
<blockquote><p><span>listen, all who live in the land.</span></p></blockquote><div> </div>
<blockquote><p><span>Has anything like this ever happened in your days</span></p></blockquote><div> </div>
<blockquote><p><span>or in the days of your ancestors?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Tell it to your children,</span></p></blockquote><div> </div>
<blockquote><p><span>and let your children tell it to their children,</span></p></blockquote><div> </div>
<blockquote><p><span>and their children to the next generation.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>What the locust swarm has left</span></p></blockquote><div> </div>
<blockquote><p><span>the great locusts have eaten;</span></p></blockquote><div> </div>
<blockquote><p><span>what the great locusts have left</span></p></blockquote><div> </div>
<blockquote><p><span>the young locusts have eaten;</span></p></blockquote><div> </div>
<blockquote><p><span>what the young locusts have left</span></p></blockquote><div> </div>
<blockquote><p><span>other locusts<a id="filepos8572842" href="#filepos8621655"><span><sup>[1]</sup></span></a> have eaten.</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>Wake up, you drunkards, and weep!</span></p></blockquote><div> </div>
<blockquote><p><span>Wail, all you drinkers of wine;</span></p></blockquote><div> </div>
<blockquote><p><span>wail because of the new wine,</span></p></blockquote><div> </div>
<blockquote><p><span>for it has been snatched from your lips.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>A nation has invaded my land,</span></p></blockquote><div> </div>
<blockquote><p><span>a mighty army without number;</span></p></blockquote><div> </div>
<blockquote><p><span>it has the teeth of a lion,</span></p></blockquote><div> </div>
<blockquote><p><span>the fangs of a lioness.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>It has laid waste my vines</span></p></blockquote><div> </div>
<blockquote><p><span>and ruined my fig trees.</span></p></blockquote><div> </div>
<blockquote><p><span>It has stripped off their bark</span></p></blockquote><div> </div>
<blockquote><p><span>and thrown it away,</span></p></blockquote><div> </div>
<blockquote><p><span>leaving their branches white.</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>Mourn like a virgin in sackcloth</span></p></blockquote><div> </div>
<blockquote><p><span>grieving for the betrothed of her youth.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Grain offerings and drink offerings</span></p></blockquote><div> </div>
<blockquote><p><span>are cut off from the house of the <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p><span>The priests are in mourning,</span></p></blockquote><div> </div>
<blockquote><p><span>those who minister before the <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>The fields are ruined,</span></p></blockquote><div> </div>
<blockquote><p><span>the ground is dried up;</span></p></blockquote><div> </div>
<blockquote><p><span>the grain is destroyed,</span></p></blockquote><div> </div>
<blockquote><p><span>the new wine is dried up,</span></p></blockquote><div> </div>
<blockquote><p><span>the olive oil fails.</span></p></blockquote>
<br/><blockquote><p><span><sup>11</sup>Despair, you farmers,</span></p></blockquote><div> </div>
<blockquote><p><span>wail, you vine growers;</span></p></blockquote><div> </div>
<blockquote><p><span>grieve for the wheat and the barley,</span></p></blockquote><div> </div>
<blockquote><p><span>because the harvest of the field is destroyed.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>The vine is dried up</span></p></blockquote><div> </div>
<blockquote><p><span>and the fig tree is withered;</span></p></blockquote><div> </div>
<blockquote><p><span>the pomegranate, the palm and the apple<a id="filepos8578055" href="#filepos8621958"><span><sup>[2]</sup></span></a> tree—</span></p></blockquote><div> </div>
<blockquote><p><span>all the trees of the field—are dried up.</span></p></blockquote><div> </div>
<blockquote><p><span>Surely the people’s joy</span></p></blockquote><div> </div>
<blockquote><p><span>is withered away.</span></p></blockquote>
</div>
<p><span><span>A Call to Lamentation</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>13</sup>Put on sackcloth, you priests, and mourn;</span></p></blockquote><div> </div>
<blockquote><p><span>wail, you who minister before the altar.</span></p></blockquote><div> </div>
<blockquote><p><span>Come, spend the night in sackcloth,</span></p></blockquote><div> </div>
<blockquote><p><span>you who minister before my God;</span></p></blockquote><div> </div>
<blockquote><p><span>for the grain offerings and drink offerings</span></p></blockquote><div> </div>
<blockquote><p><span>are withheld from the house of your God.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Declare a holy fast;</span></p></blockquote><div> </div>
<blockquote><p><span>call a sacred assembly.</span></p></blockquote><div> </div>
<blockquote><p><span>Summon the elders</span></p></blockquote><div> </div>
<blockquote><p><span>and all who live in the land</span></p></blockquote><div> </div>
<blockquote><p><span>to the house of the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>and cry out to the <span><span>LORD</span></span>.</span></p></blockquote>
<br/><blockquote><p><span><sup>15</sup>Alas for that day!</span></p></blockquote><div> </div>
<blockquote><p><span>For the day of the <span><span>LORD</span></span> is near;</span></p></blockquote><div> </div>
<blockquote><p><span>it will come like destruction from the Almighty.<a id="filepos8581345" href="#filepos8622208"><span><sup>[3]</sup></span></a></span></p></blockquote>
<br/><blockquote><p><span><sup>16</sup>Has not the food been cut off</span></p></blockquote><div> </div>
<blockquote><p><span>before our very eyes—</span></p></blockquote><div> </div>
<blockquote><p><span>joy and gladness</span></p></blockquote><div> </div>
<blockquote><p><span>from the house of our God?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>The seeds are shriveled</span></p></blockquote><div> </div>
<blockquote><p><span>beneath the clods.<a id="filepos8582384" href="#filepos8622453"><span><sup>[4]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>The storehouses are in ruins,</span></p></blockquote><div> </div>
<blockquote><p><span>the granaries have been broken down,</span></p></blockquote><div> </div>
<blockquote><p><span>for the grain has dried up.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>How the cattle moan!</span></p></blockquote><div> </div>
<blockquote><p><span>The herds mill about</span></p></blockquote><div> </div>
<blockquote><p><span>because they have no pasture;</span></p></blockquote><div> </div>
<blockquote><p><span>even the flocks of sheep are suffering.</span></p></blockquote>
<br/><blockquote><p><span><sup>19</sup>To you, <span><span>LORD</span></span>, I call,</span></p></blockquote><div> </div>
<blockquote><p><span>for fire has devoured the pastures in the wilderness</span></p></blockquote><div> </div>
<blockquote><p><span>and flames have burned up all the trees of the field.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>Even the wild animals pant for you;</span></p></blockquote><div> </div>
<blockquote><p><span>the streams of water have dried up</span></p></blockquote><div> </div>
<blockquote><p><span>and fire has devoured the pastures in the wilderness.</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8584751">
<p><span><a href="dummy_split_004.html#filepos186145"><span>Joel 2</span></a></span></p><div> </div>
<div>
<p><span><span>An Army of Locusts</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>Blow the trumpet in Zion;</span></p></blockquote><div> </div>
<blockquote><p><span>sound the alarm on my holy hill.</span></p></blockquote>
<br/><blockquote><p><span>Let all who live in the land tremble,</span></p></blockquote><div> </div>
<blockquote><p><span>for the day of the <span><span>LORD</span></span> is coming.</span></p></blockquote><div> </div>
<blockquote><p><span>It is close at hand—</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>a day of darkness and gloom,</span></p></blockquote><div> </div>
<blockquote><p><span>a day of clouds and blackness.</span></p></blockquote><div> </div>
<blockquote><p><span>Like dawn spreading across the mountains</span></p></blockquote><div> </div>
<blockquote><p><span>a large and mighty army comes,</span></p></blockquote><div> </div>
<blockquote><p><span>such as never was in ancient times</span></p></blockquote><div> </div>
<blockquote><p><span>nor ever will be in ages to come.</span></p></blockquote>
<br/><blockquote><p><span><sup>3</sup>Before them fire devours,</span></p></blockquote><div> </div>
<blockquote><p><span>behind them a flame blazes.</span></p></blockquote><div> </div>
<blockquote><p><span>Before them the land is like the garden of Eden,</span></p></blockquote><div> </div>
<blockquote><p><span>behind them, a desert waste—</span></p></blockquote><div> </div>
<blockquote><p><span>nothing escapes them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>They have the appearance of horses;</span></p></blockquote><div> </div>
<blockquote><p><span>they gallop along like cavalry.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>With a noise like that of chariots</span></p></blockquote><div> </div>
<blockquote><p><span>they leap over the mountaintops,</span></p></blockquote><div> </div>
<blockquote><p><span>like a crackling fire consuming stubble,</span></p></blockquote><div> </div>
<blockquote><p><span>like a mighty army drawn up for battle.</span></p></blockquote>
<br/><blockquote><p><span><sup>6</sup>At the sight of them, nations are in anguish;</span></p></blockquote><div> </div>
<blockquote><p><span>every face turns pale.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>They charge like warriors;</span></p></blockquote><div> </div>
<blockquote><p><span>they scale walls like soldiers.</span></p></blockquote><div> </div>
<blockquote><p><span>They all march in line,</span></p></blockquote><div> </div>
<blockquote><p><span>not swerving from their course.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>They do not jostle each other;</span></p></blockquote><div> </div>
<blockquote><p><span>each marches straight ahead.</span></p></blockquote><div> </div>
<blockquote><p><span>They plunge through defenses</span></p></blockquote><div> </div>
<blockquote><p><span>without breaking ranks.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>They rush upon the city;</span></p></blockquote><div> </div>
<blockquote><p><span>they run along the wall.</span></p></blockquote><div> </div>
<blockquote><p><span>They climb into the houses;</span></p></blockquote><div> </div>
<blockquote><p><span>like thieves they enter through the windows.</span></p></blockquote>
<br/><blockquote><p><span><sup>10</sup>Before them the earth shakes,</span></p></blockquote><div> </div>
<blockquote><p><span>the heavens tremble,</span></p></blockquote><div> </div>
<blockquote><p><span>the sun and moon are darkened,</span></p></blockquote><div> </div>
<blockquote><p><span>and the stars no longer shine.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>The <span><span>LORD</span></span> thunders</span></p></blockquote><div> </div>
<blockquote><p><span>at the head of his army;</span></p></blockquote><div> </div>
<blockquote><p><span>his forces are beyond number,</span></p></blockquote><div> </div>
<blockquote><p><span>and mighty is the army that obeys his command.</span></p></blockquote><div> </div>
<blockquote><p><span>The day of the <span><span>LORD</span></span> is great;</span></p></blockquote><div> </div>
<blockquote><p><span>it is dreadful.</span></p></blockquote><div> </div>
<blockquote><p><span>Who can endure it?</span></p></blockquote>
</div>
<p><span><span>Rend Your Heart</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>12</sup>“Even now,” declares the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>“return to me with all your heart,</span></p></blockquote><div> </div>
<blockquote><p><span>with fasting and weeping and mourning.”</span></p></blockquote>
<br/><blockquote><p><span><sup>13</sup>Rend your heart</span></p></blockquote><div> </div>
<blockquote><p><span>and not your garments.</span></p></blockquote><div> </div>
<blockquote><p><span>Return to the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>for he is gracious and compassionate,</span></p></blockquote><div> </div>
<blockquote><p><span>slow to anger and abounding in love,</span></p></blockquote><div> </div>
<blockquote><p><span>and he relents from sending calamity.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>Who knows? He may turn and relent</span></p></blockquote><div> </div>
<blockquote><p><span>and leave behind a blessing—</span></p></blockquote><div> </div>
<blockquote><p><span>grain offerings and drink offerings</span></p></blockquote><div> </div>
<blockquote><p><span>for the <span><span>LORD</span></span> your God.</span></p></blockquote>
<br/><blockquote><p><span><sup>15</sup>Blow the trumpet in Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>declare a holy fast,</span></p></blockquote><div> </div>
<blockquote><p><span>call a sacred assembly.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>Gather the people,</span></p></blockquote><div> </div>
<blockquote><p><span>consecrate the assembly;</span></p></blockquote><div> </div>
<blockquote><p><span>bring together the elders,</span></p></blockquote><div> </div>
<blockquote><p><span>gather the children,</span></p></blockquote><div> </div>
<blockquote><p><span>those nursing at the breast.</span></p></blockquote><div> </div>
<blockquote><p><span>Let the bridegroom leave his room</span></p></blockquote><div> </div>
<blockquote><p><span>and the bride her chamber.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>Let the priests, who minister before the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>weep between the portico and the altar.</span></p></blockquote><div> </div>
<blockquote><p><span>Let them say, “Spare your people, <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p><span>Do not make your inheritance an object of scorn,</span></p></blockquote><div> </div>
<blockquote><p><span>a byword among the nations.</span></p></blockquote><div> </div>
<blockquote><p><span>Why should they say among the peoples,</span></p></blockquote><div> </div>
<blockquote><p><span>‘Where is their God?’ ”</span></p></blockquote>
</div>
<p><span><span>The <span><span>LORD</span></span>’s Answer</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>18</sup>Then the <span><span>LORD</span></span> was jealous for his land</span></p></blockquote><div> </div>
<blockquote><p><span>and took pity on his people.</span></p></blockquote>
</div>
<br/><p><span><sup>19</sup>The <span><span>LORD</span></span> replied<a id="filepos8598782" href="#filepos8622844"><span><sup>[5]</sup></span></a> to them:</span></p>
<br/><div title="poetry">
<blockquote><p><span>“I am sending you grain, new wine and olive oil,</span></p></blockquote><div> </div>
<blockquote><p><span>enough to satisfy you fully;</span></p></blockquote><div> </div>
<blockquote><p><span>never again will I make you</span></p></blockquote><div> </div>
<blockquote><p><span>an object of scorn to the nations.</span></p></blockquote>
<br/><blockquote><p><span><sup>20</sup>“I will drive the northern horde far from you,</span></p></blockquote><div> </div>
<blockquote><p><span>pushing it into a parched and barren land;</span></p></blockquote><div> </div>
<blockquote><p><span>its eastern ranks will drown in the Dead Sea</span></p></blockquote><div> </div>
<blockquote><p><span>and its western ranks in the Mediterranean Sea.</span></p></blockquote><div> </div>
<blockquote><p><span>And its stench will go up;</span></p></blockquote><div> </div>
<blockquote><p><span>its smell will rise.”</span></p></blockquote>
<br/><blockquote><p><span>Surely he has done great things!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Do not be afraid, land of Judah;</span></p></blockquote><div> </div>
<blockquote><p><span>be glad and rejoice.</span></p></blockquote><div> </div>
<blockquote><p><span>Surely the <span><span>LORD</span></span> has done great things!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>22</sup>Do not be afraid, you wild animals,</span></p></blockquote><div> </div>
<blockquote><p><span>for the pastures in the wilderness are becoming green.</span></p></blockquote><div> </div>
<blockquote><p><span>The trees are bearing their fruit;</span></p></blockquote><div> </div>
<blockquote><p><span>the fig tree and the vine yield their riches.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>Be glad, people of Zion,</span></p></blockquote><div> </div>
<blockquote><p><span>rejoice in the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>for he has given you the autumn rains</span></p></blockquote><div> </div>
<blockquote><p><span>because he is faithful.</span></p></blockquote><div> </div>
<blockquote><p><span>He sends you abundant showers,</span></p></blockquote><div> </div>
<blockquote><p><span>both autumn and spring rains, as before.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>The threshing floors will be filled with grain;</span></p></blockquote><div> </div>
<blockquote><p><span>the vats will overflow with new wine and oil.</span></p></blockquote>
<br/><blockquote><p><span><sup>25</sup>“I will repay you for the years the locusts have eaten—</span></p></blockquote><div> </div>
<blockquote><p><span>the great locust and the young locust,</span></p></blockquote><div> </div>
<blockquote><p><span>the other locusts and the locust swarm<a id="filepos8603870" href="#filepos8623241"><span><sup>[6]</sup></span></a>—</span></p></blockquote><div> </div>
<blockquote><p><span>my great army that I sent among you.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>26</sup>You will have plenty to eat, until you are full,</span></p></blockquote><div> </div>
<blockquote><p><span>and you will praise the name of the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>who has worked wonders for you;</span></p></blockquote><div> </div>
<blockquote><p><span>never again will my people be shamed.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>27</sup>Then you will know that I am in Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>that I am the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>and that there is no other;</span></p></blockquote><div> </div>
<blockquote><p><span>never again will my people be shamed.</span></p></blockquote>
</div>
<p><span><span>The Day of the <span><span>LORD</span></span></span></span></p><div> </div>
<div title="poetry">
<blockquote><p id="filepos8605798"><span><sup>28</sup>“And afterward,</span></p></blockquote><div> </div>
<blockquote><p><span>I will pour out my Spirit on all people.</span></p></blockquote><div> </div>
<blockquote><p><span>Your sons and daughters will prophesy,</span></p></blockquote><div> </div>
<blockquote><p><span>your old men will dream dreams,</span></p></blockquote><div> </div>
<blockquote><p><span>your young men will see visions.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>29</sup>Even on my servants, both men and women,</span></p></blockquote><div> </div>
<blockquote><p><span>I will pour out my Spirit in those days.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>30</sup>I will show wonders in the heavens</span></p></blockquote><div> </div>
<blockquote><p><span>and on the earth,</span></p></blockquote><div> </div>
<blockquote><p><span>blood and fire and billows of smoke.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>31</sup>The sun will be turned to darkness</span></p></blockquote><div> </div>
<blockquote><p><span>and the moon to blood</span></p></blockquote><div> </div>
<blockquote><p><span>before the coming of the great and dreadful day of the <span><span>LORD</span></span>.</span></p></blockquote><div> </div>
<blockquote><p id="filepos8608025"><span><sup>32</sup>And everyone who calls</span></p></blockquote><div> </div>
<blockquote><p><span>on the name of the <span><span>LORD</span></span> will be saved;</span></p></blockquote><div> </div>
<blockquote><p><span>for on Mount Zion and in Jerusalem</span></p></blockquote><div> </div>
<blockquote><p><span>there will be deliverance,</span></p></blockquote><div> </div>
<blockquote><p><span>as the <span><span>LORD</span></span> has said,</span></p></blockquote><div> </div>
<blockquote><p><span>even among the survivors</span></p></blockquote><div> </div>
<blockquote><p><span>whom the <span><span>LORD</span></span> calls.<a id="filepos8609181" href="#filepos8623545"><span><sup>[7]</sup></span></a></span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8609336">
<p><span><a href="dummy_split_004.html#filepos186322"><span>Joel 3</span></a><a id="filepos8609469" href="#filepos8623990"><span><sup>[8]</sup></span></a></span></p><div> </div>
<div>
<div title="poetry">
<blockquote><p id="filepos8609616"><span><sup>1</sup>“In those days and at that time,</span></p></blockquote><div> </div>
<blockquote><p><span>when I restore the fortunes of Judah and Jerusalem,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>I will gather all nations</span></p></blockquote><div> </div>
<blockquote><p><span>and bring them down to the Valley of Jehoshaphat.<a id="filepos8610283" href="#filepos8624309"><span><sup>[9]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>There I will put them on trial</span></p></blockquote><div> </div>
<blockquote><p><span>for what they did to my inheritance, my people Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>because they scattered my people among the nations</span></p></blockquote><div> </div>
<blockquote><p><span>and divided up my land.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>They cast lots for my people</span></p></blockquote><div> </div>
<blockquote><p><span>and traded boys for prostitutes;</span></p></blockquote><div> </div>
<blockquote><p><span>they sold girls for wine to drink.</span></p></blockquote>
</div>
<br/><p><span><sup>4</sup>“Now what have you against me, Tyre and Sidon and all you regions of Philistia? Are you repaying me for something I have done? If you are paying me back, I will swiftly and speedily return on your own heads what you have done. <sup>5</sup>For you took my silver and my gold and carried off my finest treasures to your temples.<a id="filepos8612000" href="#filepos8624687"><span><sup>[10]</sup></span></a>
<sup>6</sup>You sold the people of Judah and Jerusalem to the Greeks, that you might send them far from their homeland.</span></p>
<p><span><sup>7</sup>“See, I am going to rouse them out of the places to which you sold them, and I will return on your own heads what you have done. <sup>8</sup>I will sell your sons and daughters to the people of Judah, and they will sell them to the Sabeans, a nation far away.” The <span><span>LORD</span></span> has spoken.</span></p>
<br/><div title="poetry">
<blockquote><p><span><sup>9</sup>Proclaim this among the nations:</span></p></blockquote><div> </div>
<blockquote><p><span>Prepare for war!</span></p></blockquote><div> </div>
<blockquote><p><span>Rouse the warriors!</span></p></blockquote><div> </div>
<blockquote><p><span>Let all the fighting men draw near and attack.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Beat your plowshares into swords</span></p></blockquote><div> </div>
<blockquote><p><span>and your pruning hooks into spears.</span></p></blockquote><div> </div>
<blockquote><p><span>Let the weakling say,</span></p></blockquote><div> </div>
<blockquote><p><span>“I am strong!”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Come quickly, all you nations from every side,</span></p></blockquote><div> </div>
<blockquote><p><span>and assemble there.</span></p></blockquote>
<br/><blockquote><p><span>Bring down your warriors, <span><span>LORD</span></span>!</span></p></blockquote>
<br/><blockquote><p id="filepos8614546"><span><sup>12</sup>“Let the nations be roused;</span></p></blockquote><div> </div>
<blockquote><p><span>let them advance into the Valley of Jehoshaphat,</span></p></blockquote><div> </div>
<blockquote><p><span>for there I will sit</span></p></blockquote><div> </div>
<blockquote><p><span>to judge all the nations on every side.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Swing the sickle,</span></p></blockquote><div> </div>
<blockquote><p><span>for the harvest is ripe.</span></p></blockquote><div> </div>
<blockquote><p><span>Come, trample the grapes,</span></p></blockquote><div> </div>
<blockquote><p><span>for the winepress is full</span></p></blockquote><div> </div>
<blockquote><p><span>and the vats overflow—</span></p></blockquote><div> </div>
<blockquote><p><span>so great is their wickedness!”</span></p></blockquote>
<br/><blockquote><p><span><sup>14</sup>Multitudes, multitudes</span></p></blockquote><div> </div>
<blockquote><p><span>in the valley of decision!</span></p></blockquote><div> </div>
<blockquote><p><span>For the day of the <span><span>LORD</span></span> is near</span></p></blockquote><div> </div>
<blockquote><p><span>in the valley of decision.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>The sun and moon will be darkened,</span></p></blockquote><div> </div>
<blockquote><p><span>and the stars no longer shine.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>The <span><span>LORD</span></span> will roar from Zion</span></p></blockquote><div> </div>
<blockquote><p><span>and thunder from Jerusalem;</span></p></blockquote><div> </div>
<blockquote><p><span>the earth and the heavens will tremble.</span></p></blockquote><div> </div>
<blockquote><p><span>But the <span><span>LORD</span></span> will be a refuge for his people,</span></p></blockquote><div> </div>
<blockquote><p><span>a stronghold for the people of Israel.</span></p></blockquote>
</div>
<p><span><span>Blessings for God’s People</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>17</sup>“Then you will know that I, the <span><span>LORD</span></span> your God,</span></p></blockquote><div> </div>
<blockquote><p><span>dwell in Zion, my holy hill.</span></p></blockquote><div> </div>
<blockquote><p><span>Jerusalem will be holy;</span></p></blockquote><div> </div>
<blockquote><p><span>never again will foreigners invade her.</span></p></blockquote>
<br/><blockquote><p><span><sup>18</sup>“In that day the mountains will drip new wine,</span></p></blockquote><div> </div>
<blockquote><p><span>and the hills will flow with milk;</span></p></blockquote><div> </div>
<blockquote><p><span>all the ravines of Judah will run with water.</span></p></blockquote><div> </div>
<blockquote><p><span>A fountain will flow out of the <span><span>LORD</span></span>’s house</span></p></blockquote><div> </div>
<blockquote><p><span>and will water the valley of acacias.<a id="filepos8619832" href="#filepos8624928"><span><sup>[11]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>But Egypt will be desolate,</span></p></blockquote><div> </div>
<blockquote><p><span>Edom a desert waste,</span></p></blockquote><div> </div>
<blockquote><p><span>because of violence done to the people of Judah,</span></p></blockquote><div> </div>
<blockquote><p><span>in whose land they shed innocent blood.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>Judah will be inhabited forever</span></p></blockquote><div> </div>
<blockquote><p><span>and Jerusalem through all generations.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Shall I leave their innocent blood unavenged?</span></p></blockquote><div> </div>
<blockquote><p><span>No, I will not.”</span></p></blockquote>
</div>
<br/><p><span>The <span><span>LORD</span></span> dwells in Zion!</span></p>
</div>
</div>
<div title="notes" id="fnn29">
<p><span><span>Joel 1</span></span></p><div> </div>
<blockquote><p id="filepos8621655"><span><a href="#filepos8572842"><span><sup>[1]</sup></span></a><span>1:4</span> The precise meaning of the four Hebrew words used here for locusts is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8621958"><span><a href="#filepos8578055"><span><sup>[2]</sup></span></a><span>1:12</span> Or possibly <span>apricot</span></span></p></blockquote>
<blockquote><p id="filepos8622208"><span><a href="#filepos8581345"><span><sup>[3]</sup></span></a><span>1:15</span> Hebrew <span>Shaddai</span></span></p></blockquote>
<blockquote><p id="filepos8622453"><span><a href="#filepos8582384"><span><sup>[4]</sup></span></a><span>1:17</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Joel 2</span></span></p><div> </div>
<blockquote><p id="filepos8622844"><span><a href="#filepos8598782"><span><sup>[5]</sup></span></a><span>2:18, 19</span> Or <span><span><span>LORD</span></span> will be jealous … / and take pity … / <sup>19</sup>The <span><span>LORD</span></span> will reply</span></span></p></blockquote>
<blockquote><p id="filepos8623241"><span><a href="#filepos8603870"><span><sup>[6]</sup></span></a><span>2:25</span> The precise meaning of the four Hebrew words used here for locusts is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8623545"><span><a href="#filepos8609181"><span><sup>[7]</sup></span></a><span>2:32</span> In Hebrew texts <a href="#filepos8605798"><span>2:28–32</span></a> is numbered 3:1–5.</span></p></blockquote>
<p><span><span>Joel 3</span></span></p><div> </div>
<blockquote><p id="filepos8623990"><span><a href="#filepos8609469"><span><sup>[8]</sup></span></a>In Hebrew texts <a href="#filepos8609616"><span>3:1–21</span></a> is numbered 4:1–21.</span></p></blockquote>
<blockquote><p id="filepos8624309"><span><a href="#filepos8610283"><span><sup>[9]</sup></span></a><span>3:2</span>
<span>Jehoshaphat</span> means <span>the <span><span>LORD</span></span> judges</span>; also in verse <a href="#filepos8614546"><span>12</span></a>.</span></p></blockquote>
<blockquote><p id="filepos8624687"><span><a href="#filepos8612000"><span><sup>[10]</sup></span></a><span>3:5</span> Or <span>palaces</span></span></p></blockquote>
<blockquote><p id="filepos8624928"><span><a href="#filepos8619832"><span><sup>[11]</sup></span></a><span>3:18</span> Or <span>Valley of Shittim</span></span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_63"></div>
