---
layout: withBreadcrumbs
title: Alphabetical Order of the Books of the Bible
categories: "Holy Bible"
pageName: article
thumbnail: /images/thumb/tb-bible.jpg
---

<section class="container">
	<h1><a href="dummy_split_002.html#filepos7110">Alphabetical Order of the Books of the Bible</a></h1>
	<p>The books of the New Testament are indicated by italics.</p>
	<ol class="row list-grid" style="list-style-type: upper-alpha;">
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos214001">Acts</a></li>
				<li><a href="dummy_split_004.html#filepos186508">Amos</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos85510">1 Chronicles</a></li>
				<li><a href="dummy_split_004.html#filepos91094">2 Chronicles</a></li>
				<li><a href="dummy_split_004.html#filepos231527">Colossians</a></li>
				<li><a href="dummy_split_004.html#filepos222217">1 Corinthians</a></li>
				<li><a href="dummy_split_004.html#filepos225401">2 Corinthians</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos180774">Daniel</a></li>
				<li><a href="dummy_split_004.html#filepos50444">Deuteronomy</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos144969">Ecclesiastes</a></li>
				<li><a href="dummy_split_004.html#filepos229309">Ephesians</a></li>
				<li><a href="dummy_split_004.html#filepos102482">Esther</a></li>
				<li><a href="dummy_split_004.html#filepos31245">Exodus</a></li>
				<li><a href="dummy_split_004.html#filepos171906">Ezekiel</a></li>
				<li><a href="dummy_split_004.html#filepos97980">Ezra</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos228024">Galatians</a></li>
				<li><a href="dummy_split_004.html#filepos22015">Genesis</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos191700">Habakkuk</a></li>
				<li><a href="dummy_split_004.html#filepos193173">Haggai</a></li>
				<li><a href="dummy_split_004.html#filepos237665">Hebrews</a></li>
				<li><a href="dummy_split_004.html#filepos183112">Hosea</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos149078">Isaiah</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos240198">James</a></li>
				<li><a href="dummy_split_004.html#filepos161136">Jeremiah</a></li>
				<li><a href="dummy_split_004.html#filepos104460">Job</a></li>
				<li><a href="dummy_split_004.html#filepos185794">Joel</a></li>
				<li><a href="dummy_split_004.html#filepos210089">John</a></li>
				<li><a href="dummy_split_004.html#filepos243091">1 John</a></li>
				<li><a href="dummy_split_004.html#filepos244173">2 John</a></li>
				<li><a href="dummy_split_004.html#filepos244539">3 John</a></li>
				<li><a href="dummy_split_004.html#filepos188653">Jonah</a></li>
				<li><a href="dummy_split_004.html#filepos56922">Joshua</a></li>
				<li><a href="dummy_split_004.html#filepos244905">Jude</a></li>
				<li><a href="dummy_split_004.html#filepos61420">Judges</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos76643">1 Kings</a></li>
				<li><a href="dummy_split_004.html#filepos80805">2 Kings</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos170782">Lamentations</a></li>
				<li><a href="dummy_split_004.html#filepos38623">Leviticus</a></li>
				<li><a href="dummy_split_004.html#filepos205643">Luke</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos196464">Malachi</a></li>
				<li><a href="dummy_split_004.html#filepos202621">Mark</a></li>
				<li><a href="dummy_split_004.html#filepos197373">Matthew</a></li>
				<li><a href="dummy_split_004.html#filepos189550">Micah</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos190981">Nahum</a></li>
				<li><a href="dummy_split_004.html#filepos99934">Nehemiah</a></li>
				<li><a href="dummy_split_004.html#filepos43748">Numbers</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos188284">Obadiah</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos241273">1 Peter</a></li>
				<li><a href="dummy_split_004.html#filepos242362">2 Peter</a></li>
				<li><a href="dummy_split_004.html#filepos237293">Philemon</a></li>
				<li><a href="dummy_split_004.html#filepos230594">Philippians</a></li>
				<li><a href="dummy_split_004.html#filepos139145">Proverbs</a></li>
				<li><a href="dummy_split_004.html#filepos112066">Psalms</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos245265">Revelation</a></li>
				<li><a href="dummy_split_004.html#filepos219159">Romans</a></li>
				<li><a href="dummy_split_004.html#filepos65378">Ruth</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos66269">1 Samuel</a></li>
				<li><a href="dummy_split_004.html#filepos72093">2 Samuel</a></li>
				<li><a href="dummy_split_004.html#filepos147391">Song of Songs</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos232454">1 Thessalonians</a></li>
				<li><a href="dummy_split_004.html#filepos233599">2 Thessalonians</a></li>
				<li><a href="dummy_split_004.html#filepos234368">1 Timothy</a></li>
				<li><a href="dummy_split_004.html#filepos235653">2 Timothy</a></li>
				<li><a href="dummy_split_004.html#filepos236574">Titus</a></li>
			</ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix"></ol>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<ol class="clearfix">
				<li><a href="dummy_split_004.html#filepos193718">Zechariah</a></li>
				<li><a href="dummy_split_004.html#filepos192434">Zephaniah</a></li>
			</ol>
		</li>
	</ol>
</section>