---
layout: withBreadcrumbs
title: Holy Bible
thumbnail: /images/thumb/tb-bible.jpg
---

<div class="container">
	<section class="container-cover" style="background-image: url(cover.jpeg); background-repeat: no-repeat; background-position: bottom center; background-size: 100% auto;">
		<h1 class="text-center" style="padding-bottom: 152.332657%; color: transparent;">Holy Bible <small class="center-block" style="color: transparent;">New International Version</small></h1>
	</section>
</div>
<div id="pagination" class="container hidden-print">
	<hr>
	<nav>
		<ul class="pagination">
			<li> <a href="dummy_split_001.html" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
		</ul>
	</nav>
</div>