--- 
layout: article 
title: Deuteronomy
categories: ["Holy Bible","The Old Testament"] 
pageName: article 
chapterTitle: Deuteronomy 
anchor: dummy_split_002.html#filepos8122 
thumbnail: /images/thumb/tb-bible.jpg
---

<div>
<div id="filepos8853559">
<p><span><a href="dummy_split_002.html#filepos8122"><span>Nahum</span></a></span></p><div> </div>
<div id="filepos8853727">
<p><span><a href="dummy_split_004.html#filepos191157"><span>Nahum 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>A prophecy concerning Nineveh. The book of the vision of Nahum the Elkoshite.</span></p>
<p><span><span>The <span><span>LORD</span></span>’s Anger Against Nineveh</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>2</sup>The <span><span>LORD</span></span> is a jealous and avenging God;</span></p></blockquote><div> </div>
<blockquote><p><span>the <span><span>LORD</span></span> takes vengeance and is filled with wrath.</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span> takes vengeance on his foes</span></p></blockquote><div> </div>
<blockquote><p><span>and vents his wrath against his enemies.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>The <span><span>LORD</span></span> is slow to anger but great in power;</span></p></blockquote><div> </div>
<blockquote><p><span>the <span><span>LORD</span></span> will not leave the guilty unpunished.</span></p></blockquote><div> </div>
<blockquote><p><span>His way is in the whirlwind and the storm,</span></p></blockquote><div> </div>
<blockquote><p><span>and clouds are the dust of his feet.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>He rebukes the sea and dries it up;</span></p></blockquote><div> </div>
<blockquote><p><span>he makes all the rivers run dry.</span></p></blockquote><div> </div>
<blockquote><p><span>Bashan and Carmel wither</span></p></blockquote><div> </div>
<blockquote><p><span>and the blossoms of Lebanon fade.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>5</sup>The mountains quake before him</span></p></blockquote><div> </div>
<blockquote><p><span>and the hills melt away.</span></p></blockquote><div> </div>
<blockquote><p><span>The earth trembles at his presence,</span></p></blockquote><div> </div>
<blockquote><p><span>the world and all who live in it.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>Who can withstand his indignation?</span></p></blockquote><div> </div>
<blockquote><p><span>Who can endure his fierce anger?</span></p></blockquote><div> </div>
<blockquote><p><span>His wrath is poured out like fire;</span></p></blockquote><div> </div>
<blockquote><p><span>the rocks are shattered before him.</span></p></blockquote>
<br/><blockquote><p><span><sup>7</sup>The <span><span>LORD</span></span> is good,</span></p></blockquote><div> </div>
<blockquote><p><span>a refuge in times of trouble.</span></p></blockquote><div> </div>
<blockquote><p><span>He cares for those who trust in him,</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>but with an overwhelming flood</span></p></blockquote><div> </div>
<blockquote><p><span>he will make an end of Nineveh;</span></p></blockquote><div> </div>
<blockquote><p><span>he will pursue his foes into the realm of darkness.</span></p></blockquote>
<br/><blockquote><p><span><sup>9</sup>Whatever they plot against the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>he will bring<a id="filepos8859190" href="#filepos8887698"><span><sup>[1]</sup></span></a> to an end;</span></p></blockquote><div> </div>
<blockquote><p><span>trouble will not come a second time.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>They will be entangled among thorns</span></p></blockquote><div> </div>
<blockquote><p><span>and drunk from their wine;</span></p></blockquote><div> </div>
<blockquote><p><span>they will be consumed like dry stubble.<a id="filepos8859954" href="#filepos8888025"><span><sup>[2]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>From you, Nineveh, has one come forth</span></p></blockquote><div> </div>
<blockquote><p><span>who plots evil against the <span><span>LORD</span></span></span></p></blockquote><div> </div>
<blockquote><p><span>and devises wicked plans.</span></p></blockquote>
</div>
<br/><p><span><sup>12</sup>This is what the <span><span>LORD</span></span> says:</span></p>
<br/><div title="poetry">
<blockquote><p><span>“Although they have allies and are numerous,</span></p></blockquote><div> </div>
<blockquote><p><span>they will be destroyed and pass away.</span></p></blockquote><div> </div>
<blockquote><p><span>Although I have afflicted you, Judah,</span></p></blockquote><div> </div>
<blockquote><p><span>I will afflict you no more.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Now I will break their yoke from your neck</span></p></blockquote><div> </div>
<blockquote><p><span>and tear your shackles away.”</span></p></blockquote>
<br/><blockquote><p><span><sup>14</sup>The <span><span>LORD</span></span> has given a command concerning you, Nineveh:</span></p></blockquote><div> </div>
<blockquote><p><span>“You will have no descendants to bear your name.</span></p></blockquote><div> </div>
<blockquote><p><span>I will destroy the images and idols</span></p></blockquote><div> </div>
<blockquote><p><span>that are in the temple of your gods.</span></p></blockquote><div> </div>
<blockquote><p><span>I will prepare your grave,</span></p></blockquote><div> </div>
<blockquote><p><span>for you are vile.”</span></p></blockquote>
<br/><blockquote><p id="filepos8862911"><span><sup>15</sup>Look, there on the mountains,</span></p></blockquote><div> </div>
<blockquote><p><span>the feet of one who brings good news,</span></p></blockquote><div> </div>
<blockquote><p><span>who proclaims peace!</span></p></blockquote><div> </div>
<blockquote><p><span>Celebrate your festivals, Judah,</span></p></blockquote><div> </div>
<blockquote><p><span>and fulfill your vows.</span></p></blockquote><div> </div>
<blockquote><p><span>No more will the wicked invade you;</span></p></blockquote><div> </div>
<blockquote><p><span>they will be completely destroyed.<a id="filepos8863983" href="#filepos8888303"><span><sup>[3]</sup></span></a></span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8864138">
<p><span><a href="dummy_split_004.html#filepos191335"><span>Nahum 2</span></a><a id="filepos8864272" href="#filepos8888745"><span><sup>[4]</sup></span></a></span></p><div> </div>
<div>
<div title="poetry">
<blockquote><p id="filepos8864419"><span><sup>1</sup>An attacker advances against you, Nineveh.</span></p></blockquote><div> </div>
<blockquote><p><span>Guard the fortress,</span></p></blockquote><div> </div>
<blockquote><p><span>watch the road,</span></p></blockquote><div> </div>
<blockquote><p><span>brace yourselves,</span></p></blockquote><div> </div>
<blockquote><p><span>marshal all your strength!</span></p></blockquote>
<br/><blockquote><p><span><sup>2</sup>The <span><span>LORD</span></span> will restore the splendor of Jacob</span></p></blockquote><div> </div>
<blockquote><p><span>like the splendor of Israel,</span></p></blockquote><div> </div>
<blockquote><p><span>though destroyers have laid them waste</span></p></blockquote><div> </div>
<blockquote><p><span>and have ruined their vines.</span></p></blockquote>
<br/><blockquote><p><span><sup>3</sup>The shields of the soldiers are red;</span></p></blockquote><div> </div>
<blockquote><p><span>the warriors are clad in scarlet.</span></p></blockquote><div> </div>
<blockquote><p><span>The metal on the chariots flashes</span></p></blockquote><div> </div>
<blockquote><p><span>on the day they are made ready;</span></p></blockquote><div> </div>
<blockquote><p><span>the spears of juniper are brandished.<a id="filepos8866688" href="#filepos8889064"><span><sup>[5]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>The chariots storm through the streets,</span></p></blockquote><div> </div>
<blockquote><p><span>rushing back and forth through the squares.</span></p></blockquote><div> </div>
<blockquote><p><span>They look like flaming torches;</span></p></blockquote><div> </div>
<blockquote><p><span>they dart about like lightning.</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>Nineveh summons her picked troops,</span></p></blockquote><div> </div>
<blockquote><p><span>yet they stumble on their way.</span></p></blockquote><div> </div>
<blockquote><p><span>They dash to the city wall;</span></p></blockquote><div> </div>
<blockquote><p><span>the protective shield is put in place.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>The river gates are thrown open</span></p></blockquote><div> </div>
<blockquote><p><span>and the palace collapses.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>It is decreed<a id="filepos8868609" href="#filepos8889362"><span><sup>[6]</sup></span></a> that Nineveh</span></p></blockquote><div> </div>
<blockquote><p><span>be exiled and carried away.</span></p></blockquote><div> </div>
<blockquote><p><span>Her female slaves moan like doves</span></p></blockquote><div> </div>
<blockquote><p><span>and beat on their breasts.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>8</sup>Nineveh is like a pool</span></p></blockquote><div> </div>
<blockquote><p><span>whose water is draining away.</span></p></blockquote><div> </div>
<blockquote><p><span>“Stop! Stop!” they cry,</span></p></blockquote><div> </div>
<blockquote><p><span>but no one turns back.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Plunder the silver!</span></p></blockquote><div> </div>
<blockquote><p><span>Plunder the gold!</span></p></blockquote><div> </div>
<blockquote><p><span>The supply is endless,</span></p></blockquote><div> </div>
<blockquote><p><span>the wealth from all its treasures!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>She is pillaged, plundered, stripped!</span></p></blockquote><div> </div>
<blockquote><p><span>Hearts melt, knees give way,</span></p></blockquote><div> </div>
<blockquote><p><span>bodies tremble, every face grows pale.</span></p></blockquote>
<br/><blockquote><p><span><sup>11</sup>Where now is the lions’ den,</span></p></blockquote><div> </div>
<blockquote><p><span>the place where they fed their young,</span></p></blockquote><div> </div>
<blockquote><p><span>where the lion and lioness went,</span></p></blockquote><div> </div>
<blockquote><p><span>and the cubs, with nothing to fear?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>The lion killed enough for his cubs</span></p></blockquote><div> </div>
<blockquote><p><span>and strangled the prey for his mate,</span></p></blockquote><div> </div>
<blockquote><p><span>filling his lairs with the kill</span></p></blockquote><div> </div>
<blockquote><p><span>and his dens with the prey.</span></p></blockquote>
<br/><blockquote><p><span><sup>13</sup>“I am against you,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span> Almighty.</span></p></blockquote><div> </div>
<blockquote><p><span>“I will burn up your chariots in smoke,</span></p></blockquote><div> </div>
<blockquote><p><span>and the sword will devour your young lions.</span></p></blockquote><div> </div>
<blockquote><p><span>I will leave you no prey on the earth.</span></p></blockquote><div> </div>
<blockquote><p><span>The voices of your messengers</span></p></blockquote><div> </div>
<blockquote><p><span>will no longer be heard.”</span></p></blockquote>
</div>
</div>
</div>
<div id="filepos8873548">
<p><span><a href="dummy_split_004.html#filepos191513"><span>Nahum 3</span></a></span></p><div> </div>
<div>
<p><span><span>Woe to Nineveh</span></span></p><div> </div>
<div title="poetry">
<blockquote><p><span><sup>1</sup>Woe to the city of blood,</span></p></blockquote><div> </div>
<blockquote><p><span>full of lies,</span></p></blockquote><div> </div>
<blockquote><p><span>full of plunder,</span></p></blockquote><div> </div>
<blockquote><p><span>never without victims!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>2</sup>The crack of whips,</span></p></blockquote><div> </div>
<blockquote><p><span>the clatter of wheels,</span></p></blockquote><div> </div>
<blockquote><p><span>galloping horses</span></p></blockquote><div> </div>
<blockquote><p><span>and jolting chariots!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>Charging cavalry,</span></p></blockquote><div> </div>
<blockquote><p><span>flashing swords</span></p></blockquote><div> </div>
<blockquote><p><span>and glittering spears!</span></p></blockquote><div> </div>
<blockquote><p><span>Many casualties,</span></p></blockquote><div> </div>
<blockquote><p><span>piles of dead,</span></p></blockquote><div> </div>
<blockquote><p><span>bodies without number,</span></p></blockquote><div> </div>
<blockquote><p><span>people stumbling over the corpses—</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>all because of the wanton lust of a prostitute,</span></p></blockquote><div> </div>
<blockquote><p><span>alluring, the mistress of sorceries,</span></p></blockquote><div> </div>
<blockquote><p><span>who enslaved nations by her prostitution</span></p></blockquote><div> </div>
<blockquote><p><span>and peoples by her witchcraft.</span></p></blockquote>
<br/><blockquote><p><span><sup>5</sup>“I am against you,” declares the <span><span>LORD</span></span> Almighty.</span></p></blockquote><div> </div>
<blockquote><p><span>“I will lift your skirts over your face.</span></p></blockquote><div> </div>
<blockquote><p><span>I will show the nations your nakedness</span></p></blockquote><div> </div>
<blockquote><p><span>and the kingdoms your shame.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>I will pelt you with filth,</span></p></blockquote><div> </div>
<blockquote><p><span>I will treat you with contempt</span></p></blockquote><div> </div>
<blockquote><p><span>and make you a spectacle.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>All who see you will flee from you and say,</span></p></blockquote><div> </div>
<blockquote><p><span>‘Nineveh is in ruins—who will mourn for her?’</span></p></blockquote><div> </div>
<blockquote><p><span>Where can I find anyone to comfort you?”</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>Are you better than Thebes,</span></p></blockquote><div> </div>
<blockquote><p><span>situated on the Nile,</span></p></blockquote><div> </div>
<blockquote><p><span>with water around her?</span></p></blockquote><div> </div>
<blockquote><p><span>The river was her defense,</span></p></blockquote><div> </div>
<blockquote><p><span>the waters her wall.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Cush<a id="filepos8879492" href="#filepos8889753"><span><sup>[7]</sup></span></a> and Egypt were her boundless strength;</span></p></blockquote><div> </div>
<blockquote><p><span>Put and Libya were among her allies.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Yet she was taken captive</span></p></blockquote><div> </div>
<blockquote><p><span>and went into exile.</span></p></blockquote><div> </div>
<blockquote><p><span>Her infants were dashed to pieces</span></p></blockquote><div> </div>
<blockquote><p><span>at every street corner.</span></p></blockquote><div> </div>
<blockquote><p><span>Lots were cast for her nobles,</span></p></blockquote><div> </div>
<blockquote><p><span>and all her great men were put in chains.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>You too will become drunk;</span></p></blockquote><div> </div>
<blockquote><p><span>you will go into hiding</span></p></blockquote><div> </div>
<blockquote><p><span>and seek refuge from the enemy.</span></p></blockquote>
<br/><blockquote><p><span><sup>12</sup>All your fortresses are like fig trees</span></p></blockquote><div> </div>
<blockquote><p><span>with their first ripe fruit;</span></p></blockquote><div> </div>
<blockquote><p><span>when they are shaken,</span></p></blockquote><div> </div>
<blockquote><p><span>the figs fall into the mouth of the eater.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>Look at your troops—</span></p></blockquote><div> </div>
<blockquote><p><span>they are all weaklings.</span></p></blockquote><div> </div>
<blockquote><p><span>The gates of your land</span></p></blockquote><div> </div>
<blockquote><p><span>are wide open to your enemies;</span></p></blockquote><div> </div>
<blockquote><p><span>fire has consumed the bars of your gates.</span></p></blockquote>
<br/><blockquote><p><span><sup>14</sup>Draw water for the siege,</span></p></blockquote><div> </div>
<blockquote><p><span>strengthen your defenses!</span></p></blockquote><div> </div>
<blockquote><p><span>Work the clay,</span></p></blockquote><div> </div>
<blockquote><p><span>tread the mortar,</span></p></blockquote><div> </div>
<blockquote><p><span>repair the brickwork!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>There the fire will consume you;</span></p></blockquote><div> </div>
<blockquote><p><span>the sword will cut you down—</span></p></blockquote><div> </div>
<blockquote><p><span>they will devour you like a swarm of locusts.</span></p></blockquote><div> </div>
<blockquote><p><span>Multiply like grasshoppers,</span></p></blockquote><div> </div>
<blockquote><p><span>multiply like locusts!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>You have increased the number of your merchants</span></p></blockquote><div> </div>
<blockquote><p><span>till they are more numerous than the stars in the sky,</span></p></blockquote><div> </div>
<blockquote><p><span>but like locusts they strip the land</span></p></blockquote><div> </div>
<blockquote><p><span>and then fly away.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>Your guards are like locusts,</span></p></blockquote><div> </div>
<blockquote><p><span>your officials like swarms of locusts</span></p></blockquote><div> </div>
<blockquote><p><span>that settle in the walls on a cold day—</span></p></blockquote><div> </div>
<blockquote><p><span>but when the sun appears they fly away,</span></p></blockquote><div> </div>
<blockquote><p><span>and no one knows where.</span></p></blockquote>
<br/><blockquote><p><span><sup>18</sup>King of Assyria, your shepherds<a id="filepos8885980" href="#filepos8890006"><span><sup>[8]</sup></span></a> slumber;</span></p></blockquote><div> </div>
<blockquote><p><span>your nobles lie down to rest.</span></p></blockquote><div> </div>
<blockquote><p><span>Your people are scattered on the mountains</span></p></blockquote><div> </div>
<blockquote><p><span>with no one to gather them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>Nothing can heal you;</span></p></blockquote><div> </div>
<blockquote><p><span>your wound is fatal.</span></p></blockquote><div> </div>
<blockquote><p><span>All who hear the news about you</span></p></blockquote><div> </div>
<blockquote><p><span>clap their hands at your fall,</span></p></blockquote><div> </div>
<blockquote><p><span>for who has not felt</span></p></blockquote><div> </div>
<blockquote><p><span>your endless cruelty?</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn34">
<p><span><span>Nahum 1</span></span></p><div> </div>
<blockquote><p id="filepos8887698"><span><a href="#filepos8859190"><span><sup>[1]</sup></span></a><span>1:9</span> Or <span>What do you foes plot against the <span><span>LORD</span></span>? / He will bring it</span></span></p></blockquote>
<blockquote><p id="filepos8888025"><span><a href="#filepos8859954"><span><sup>[2]</sup></span></a><span>1:10</span> The meaning of the Hebrew for this verse is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8888303"><span><a href="#filepos8863983"><span><sup>[3]</sup></span></a><span>1:15</span> In Hebrew texts this verse (<a href="#filepos8862911"><span>1:15</span></a>) is numbered 2:1.</span></p></blockquote>
<p><span><span>Nahum 2</span></span></p><div> </div>
<blockquote><p id="filepos8888745"><span><a href="#filepos8864272"><span><sup>[4]</sup></span></a>In Hebrew texts <a href="#filepos8864419"><span>2:1–13</span></a> is numbered 2:2–14.</span></p></blockquote>
<blockquote><p id="filepos8889064"><span><a href="#filepos8866688"><span><sup>[5]</sup></span></a><span>2:3</span> Hebrew; Septuagint and Syriac <span>ready; / the horsemen rush to and fro</span>.</span></p></blockquote>
<blockquote><p id="filepos8889362"><span><a href="#filepos8868609"><span><sup>[6]</sup></span></a><span>2:7</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Nahum 3</span></span></p><div> </div>
<blockquote><p id="filepos8889753"><span><a href="#filepos8879492"><span><sup>[7]</sup></span></a><span>3:9</span> That is, the upper Nile region</span></p></blockquote>
<blockquote><p id="filepos8890006"><span><a href="#filepos8885980"><span><sup>[8]</sup></span></a><span>3:18</span> That is, rulers</span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_68"></div>
