--- 
layout: article 
title: Deuteronomy
categories: ["Holy Bible","The Old Testament"] 
pageName: article 
chapterTitle: Deuteronomy 
anchor: dummy_split_002.html#filepos8122 
thumbnail: /images/thumb/tb-bible.jpg
---

<div>
<div>
<div>
<div>
<div>
<div title="poetry">
</div>
<blockquote><p id="filepos5989339"><span><sup>10</sup><a id="filepos5989440" href="#filepos6015278"><span><sup>[53]</sup></span></a>A wife of noble character who can find?</span></p></blockquote><div> </div>
<blockquote><p><span>She is worth far more than rubies.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>Her husband has full confidence in her</span></p></blockquote><div> </div>
<blockquote><p><span>and lacks nothing of value.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>She brings him good, not harm,</span></p></blockquote><div> </div>
<blockquote><p><span>all the days of her life.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>She selects wool and flax</span></p></blockquote><div> </div>
<blockquote><p><span>and works with eager hands.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>She is like the merchant ships,</span></p></blockquote><div> </div>
<blockquote><p><span>bringing her food from afar.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>15</sup>She gets up while it is still night;</span></p></blockquote><div> </div>
<blockquote><p><span>she provides food for her family</span></p></blockquote><div> </div>
<blockquote><p><span>and portions for her female servants.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>She considers a field and buys it;</span></p></blockquote><div> </div>
<blockquote><p><span>out of her earnings she plants a vineyard.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>She sets about her work vigorously;</span></p></blockquote><div> </div>
<blockquote><p><span>her arms are strong for her tasks.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>She sees that her trading is profitable,</span></p></blockquote><div> </div>
<blockquote><p><span>and her lamp does not go out at night.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>19</sup>In her hand she holds the distaff</span></p></blockquote><div> </div>
<blockquote><p><span>and grasps the spindle with her fingers.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>She opens her arms to the poor</span></p></blockquote><div> </div>
<blockquote><p><span>and extends her hands to the needy.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>When it snows, she has no fear for her household;</span></p></blockquote><div> </div>
<blockquote><p><span>for all of them are clothed in scarlet.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>22</sup>She makes coverings for her bed;</span></p></blockquote><div> </div>
<blockquote><p><span>she is clothed in fine linen and purple.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>23</sup>Her husband is respected at the city gate,</span></p></blockquote><div> </div>
<blockquote><p><span>where he takes his seat among the elders of the land.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>24</sup>She makes linen garments and sells them,</span></p></blockquote><div> </div>
<blockquote><p><span>and supplies the merchants with sashes.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>25</sup>She is clothed with strength and dignity;</span></p></blockquote><div> </div>
<blockquote><p><span>she can laugh at the days to come.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>26</sup>She speaks with wisdom,</span></p></blockquote><div> </div>
<blockquote><p><span>and faithful instruction is on her tongue.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>27</sup>She watches over the affairs of her household</span></p></blockquote><div> </div>
<blockquote><p><span>and does not eat the bread of idleness.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>28</sup>Her children arise and call her blessed;</span></p></blockquote><div> </div>
<blockquote><p><span>her husband also, and he praises her:</span></p></blockquote><div> </div>
<blockquote><p><span><sup>29</sup>“Many women do noble things,</span></p></blockquote><div> </div>
<blockquote><p><span>but you surpass them all.”</span></p></blockquote><div> </div>
<blockquote><p><span><sup>30</sup>Charm is deceptive, and beauty is fleeting;</span></p></blockquote><div> </div>
<blockquote><p><span>but a woman who fears the <span><span>LORD</span></span> is to be praised.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>31</sup>Honor her for all that her hands have done,</span></p></blockquote><div> </div>
<blockquote><p><span>and let her works bring her praise at the city gate.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn20">
<p><span><span>Proverbs 1</span></span></p><div> </div>
<blockquote><p id="filepos5997530"><span><a href="dummy_split_046.html#filepos5636002"><span><sup>[1]</sup></span></a><span>1:4</span> The Hebrew word rendered <span>simple</span> in Proverbs denotes a person who is gullible, without moral direction and inclined to evil.</span></p></blockquote>
<blockquote><p id="filepos5997883"><span><a href="dummy_split_046.html#filepos5636976"><span><sup>[2]</sup></span></a><span>1:6</span> Or <span>understanding a proverb, namely, a parable, / and the sayings of the wise, their riddles</span></span></p></blockquote>
<blockquote><p id="filepos5998204"><span><a href="dummy_split_046.html#filepos5637439"><span><sup>[3]</sup></span></a><span>1:7</span> The Hebrew words rendered <span>fool</span> in Proverbs, and often elsewhere in the Old Testament, denote a person who is morally deficient.</span></p></blockquote>
<blockquote><p id="filepos5998561"><span><a href="dummy_split_046.html#filepos5642943"><span><sup>[4]</sup></span></a><span>1:21</span> Septuagint; Hebrew <span>/ at noisy street corners</span></span></p></blockquote>
<p><span><span>Proverbs 2</span></span></p><div> </div>
<blockquote><p id="filepos5998954"><span><a href="dummy_split_046.html#filepos5654472"><span><sup>[5]</sup></span></a><span>2:17</span> Or <span>covenant of her God</span></span></p></blockquote>
<p><span><span>Proverbs 3</span></span></p><div> </div>
<blockquote><p id="filepos5999325"><span><a href="dummy_split_046.html#filepos5658974"><span><sup>[6]</sup></span></a><span>3:6</span> Or <span>will direct your paths</span></span></p></blockquote>
<blockquote><p id="filepos5999580"><span><a href="dummy_split_046.html#filepos5661327"><span><sup>[7]</sup></span></a><span>3:12</span> Hebrew; Septuagint <span>loves, / and he chastens everyone he accepts as his child</span></span></p></blockquote>
<p><span><span>Proverbs 4</span></span></p><div> </div>
<blockquote><p id="filepos6000005"><span><a href="dummy_split_046.html#filepos5672686"><span><sup>[8]</sup></span></a><span>4:7</span> Or <span>Wisdom is supreme; therefore get</span></span></p></blockquote>
<blockquote><p id="filepos6000270"><span><a href="dummy_split_046.html#filepos5672934"><span><sup>[9]</sup></span></a><span>4:7</span> Or <span>wisdom. / Whatever else you get</span></span></p></blockquote>
<blockquote><p id="filepos6000534"><span><a href="dummy_split_046.html#filepos5679589"><span><sup>[10]</sup></span></a><span>4:26</span> Or <span>Make level</span></span></p></blockquote>
<p><span><span>Proverbs 5</span></span></p><div> </div>
<blockquote><p id="filepos6000897"><span><a href="dummy_split_046.html#filepos5683674"><span><sup>[11]</sup></span></a><span>5:9</span> Or <span>years</span></span></p></blockquote>
<p><span><span>Proverbs 6</span></span></p><div> </div>
<blockquote><p id="filepos6001254"><span><a href="dummy_split_046.html#filepos5690560"><span><sup>[12]</sup></span></a><span>6:3</span> Or <span>Go and humble yourself,</span></span></p></blockquote>
<p><span><span>Proverbs 7</span></span></p><div> </div>
<blockquote><p id="filepos6001629"><span><a href="dummy_split_046.html#filepos5711377"><span><sup>[13]</sup></span></a><span>7:22</span> Syriac (see also Septuagint); Hebrew <span>fool</span></span></p></blockquote>
<blockquote><p id="filepos6001902"><span><a href="dummy_split_046.html#filepos5711485"><span><sup>[14]</sup></span></a><span>7:22</span> The meaning of the Hebrew for this line is uncertain.</span></p></blockquote>
<p><span><span>Proverbs 8</span></span></p><div> </div>
<blockquote><p id="filepos6002298"><span><a href="dummy_split_046.html#filepos5715544"><span><sup>[15]</sup></span></a><span>8:5</span> Septuagint; Hebrew <span>foolish, instruct your minds</span></span></p></blockquote>
<blockquote><p id="filepos6002576"><span><a href="dummy_split_046.html#filepos5719671"><span><sup>[16]</sup></span></a><span>8:16</span> Some Hebrew manuscripts and Septuagint; other Hebrew manuscripts <span>all righteous rulers</span></span></p></blockquote>
<blockquote><p id="filepos6002893"><span><a href="dummy_split_046.html#filepos5721728"><span><sup>[17]</sup></span></a><span>8:22</span> Or <span>way</span>; or <span>dominion</span></span></p></blockquote>
<blockquote><p id="filepos6003151"><span><a href="dummy_split_046.html#filepos5721826"><span><sup>[18]</sup></span></a><span>8:22</span> Or <span>The <span><span>LORD</span></span> possessed me at the beginning of his work</span>; or <span>The <span><span>LORD</span></span> brought me forth at the beginning of his work</span></span></p></blockquote>
<blockquote><p id="filepos6003574"><span><a href="dummy_split_046.html#filepos5724935"><span><sup>[19]</sup></span></a><span>8:30</span> Or <span>was the artisan</span>; or <span>was a little child</span></span></p></blockquote>
<p><span><span>Proverbs 9</span></span></p><div> </div>
<blockquote><p id="filepos6003972"><span><a href="dummy_split_046.html#filepos5728289"><span><sup>[20]</sup></span></a><span>9:1</span> Septuagint, Syriac and Targum; Hebrew <span>has hewn out</span></span></p></blockquote>
<blockquote><p id="filepos6004253"><span><a href="dummy_split_046.html#filepos5731816"><span><sup>[21]</sup></span></a><span>9:11</span> Septuagint, Syriac and Targum; Hebrew <span>me</span></span></p></blockquote>
<p><span><span>Proverbs 10</span></span></p><div> </div>
<blockquote><p id="filepos6004644"><span><a href="dummy_split_046.html#filepos5737257"><span><sup>[22]</sup></span></a><span>10:6</span> Or <span>righteous, / but the mouth of the wicked conceals violence</span></span></p></blockquote>
<blockquote><p id="filepos6004937"><span><a href="dummy_split_046.html#filepos5737545"><span><sup>[23]</sup></span></a><span>10:7</span> See Gen. <a href="dummy_split_008.html#filepos619833"><span>48:20</span></a>.</span></p></blockquote>
<p><span><span>Proverbs 11</span></span></p><div> </div>
<blockquote><p id="filepos6005349"><span><a href="dummy_split_046.html#filepos5749849"><span><sup>[24]</sup></span></a><span>11:7</span> Two Hebrew manuscripts; most Hebrew manuscripts, Vulgate, Syriac and Targum <span>When the wicked die, their hope perishes; / all they expected from</span></span></p></blockquote>
<p><span><span>Proverbs 12</span></span></p><div> </div>
<blockquote><p id="filepos6005842"><span><a href="dummy_split_046.html#filepos5768836"><span><sup>[25]</sup></span></a><span>12:27</span> The meaning of the Hebrew for this word is uncertain.</span></p></blockquote>
<p><span><span>Proverbs 13</span></span></p><div> </div>
<blockquote><p id="filepos6006240"><span><a href="dummy_split_046.html#filepos5775396"><span><sup>[26]</sup></span></a><span>13:15</span> Septuagint and Syriac; the meaning of the Hebrew for this phrase is uncertain.</span></p></blockquote>
<blockquote><p id="filepos6006544"><span><a href="dummy_split_046.html#filepos5775666"><span><sup>[27]</sup></span></a><span>13:16</span> Or <span>prudent protect themselves through</span></span></p></blockquote>
<p><span><span>Proverbs 14</span></span></p><div> </div>
<blockquote><p id="filepos6006933"><span><a href="dummy_split_046.html#filepos5787559"><span><sup>[28]</sup></span></a><span>14:22</span> Or <span>show</span></span></p></blockquote>
<blockquote><p id="filepos6007173"><span><a href="dummy_split_046.html#filepos5791759"><span><sup>[29]</sup></span></a><span>14:33</span> Hebrew; Septuagint and Syriac <span>discerning / but in the heart of fools she is not known</span></span></p></blockquote>
<p><span><span>Proverbs 15</span></span></p><div> </div>
<blockquote><p id="filepos6007610"><span><a href="dummy_split_046.html#filepos5796685"><span><sup>[30]</sup></span></a><span>15:11</span> Hebrew <span>Abaddon</span></span></p></blockquote>
<p><span><span>Proverbs 16</span></span></p><div> </div>
<blockquote><p id="filepos6007976"><span><a href="dummy_split_047.html#filepos5812855"><span><sup>[31]</sup></span></a><span>16:20</span> Or <span>whoever speaks prudently finds what is good</span></span></p></blockquote>
<blockquote><p id="filepos6008255"><span><a href="dummy_split_047.html#filepos5813512"><span><sup>[32]</sup></span></a><span>16:21</span> Or <span>words make a person persuasive</span></span></p></blockquote>
<blockquote><p id="filepos6008521"><span><a href="dummy_split_047.html#filepos5814331"><span><sup>[33]</sup></span></a><span>16:23</span> Or <span>prudent / and make their lips persuasive</span></span></p></blockquote>
<p><span><span>Proverbs 19</span></span></p><div> </div>
<blockquote><p id="filepos6008916"><span><a href="dummy_split_047.html#filepos5840801"><span><sup>[34]</sup></span></a><span>19:7</span> The meaning of the Hebrew for this sentence is uncertain.</span></p></blockquote>
<blockquote><p id="filepos6009198"><span><a href="dummy_split_047.html#filepos5846523"><span><sup>[35]</sup></span></a><span>19:22</span> Or <span>Greed is a person’s shame</span></span></p></blockquote>
<p><span><span>Proverbs 20</span></span></p><div> </div>
<blockquote><p id="filepos6009584"><span><a href="dummy_split_047.html#filepos5859464"><span><sup>[36]</sup></span></a><span>20:27</span> Or <span>A person’s words are</span></span></p></blockquote>
<p><span><span>Proverbs 21</span></span></p><div> </div>
<blockquote><p id="filepos6009965"><span><a href="dummy_split_047.html#filepos5863365"><span><sup>[37]</sup></span></a><span>21:6</span> Some Hebrew manuscripts, Septuagint and Vulgate; most Hebrew manuscripts <span>vapor for those who seek death</span></span></p></blockquote>
<blockquote><p id="filepos6010300"><span><a href="dummy_split_047.html#filepos5865438"><span><sup>[38]</sup></span></a><span>21:12</span> Or <span>The righteous person</span></span></p></blockquote>
<blockquote><p id="filepos6010556"><span><a href="dummy_split_047.html#filepos5868971"><span><sup>[39]</sup></span></a><span>21:21</span> Or <span>righteousness</span></span></p></blockquote>
<p><span><span>Proverbs 23</span></span></p><div> </div>
<blockquote><p id="filepos6010924"><span><a href="dummy_split_047.html#filepos5885792"><span><sup>[40]</sup></span></a><span>23:1</span> Or <span>who</span></span></p></blockquote>
<blockquote><p id="filepos6011162"><span><a href="dummy_split_047.html#filepos5888418"><span><sup>[41]</sup></span></a><span>23:7</span> Or <span>for as he thinks within himself, / so he is</span>; or <span>for as he puts on a feast, / so he is</span></span></p></blockquote>
<p><span><span>Proverbs 25</span></span></p><div> </div>
<blockquote><p id="filepos6011608"><span><a href="dummy_split_047.html#filepos5918943"><span><sup>[42]</sup></span></a><span>25:7, 8</span> Or <span>nobles / on whom you had set your eyes. / <sup>8</sup>Do not go</span></span></p></blockquote>
<blockquote><p id="filepos6011909"><span><a href="dummy_split_047.html#filepos5920245"><span><sup>[43]</sup></span></a><span>25:11</span> Or possibly <span>apricots</span></span></p></blockquote>
<p><span><span>Proverbs 26</span></span></p><div> </div>
<blockquote><p id="filepos6012281"><span><a href="dummy_split_047.html#filepos5935482"><span><sup>[44]</sup></span></a><span>26:23</span> Hebrew; Septuagint <span>smooth</span></span></p></blockquote>
<p><span><span>Proverbs 27</span></span></p><div> </div>
<blockquote><p id="filepos6012658"><span><a href="dummy_split_047.html#filepos5944858"><span><sup>[45]</sup></span></a><span>27:19</span> Or <span>so others reflect your heart back to you</span></span></p></blockquote>
<blockquote><p id="filepos6012934"><span><a href="dummy_split_047.html#filepos5945121"><span><sup>[46]</sup></span></a><span>27:20</span> Hebrew <span>Abaddon</span></span></p></blockquote>
<p><span><span>Proverbs 28</span></span></p><div> </div>
<blockquote><p id="filepos6013300"><span><a href="dummy_split_047.html#filepos5949237"><span><sup>[47]</sup></span></a><span>28:3</span> Or <span>A poor person</span></span></p></blockquote>
<blockquote><p id="filepos6013548"><span><a href="dummy_split_047.html#filepos5955471"><span><sup>[48]</sup></span></a><span>28:18</span> Syriac (see Septuagint); Hebrew <span>into one</span></span></p></blockquote>
<p><span><span>Proverbs 29</span></span></p><div> </div>
<blockquote><p id="filepos6013940"><span><a href="dummy_split_047.html#filepos5961179"><span><sup>[49]</sup></span></a><span>29:4</span> Or <span>who give</span></span></p></blockquote>
<p><span><span>Proverbs 30</span></span></p><div> </div>
<blockquote><p id="filepos6014302"><span><a href="dummy_split_047.html#filepos5970700"><span><sup>[50]</sup></span></a><span>30:1</span> With a different word division of the Hebrew; Masoretic Text <span>utterance to Ithiel, / to Ithiel and Ukal:</span></span></p></blockquote>
<blockquote><p id="filepos6014637"><span><a href="dummy_split_047.html#filepos5984281"><span><sup>[51]</sup></span></a><span>30:31</span> The meaning of the Hebrew for this phrase is uncertain.</span></p></blockquote>
<p><span><span>Proverbs 31</span></span></p><div> </div>
<blockquote><p id="filepos6015037"><span><a href="dummy_split_047.html#filepos5986480"><span><sup>[52]</sup></span></a><span>31:3</span> Or <span>wealth</span></span></p></blockquote>
<blockquote><p id="filepos6015278"><span><a href="#filepos5989440"><span><sup>[53]</sup></span></a><span>31:10</span> Verses <a href="#filepos5989339"><span>10–31</span></a> are an acrostic poem, the verses of which begin with the successive letters of the Hebrew alphabet.</span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_48"></div>
