<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div id="filepos10963702">
<p><span><a href="dummy_split_002.html#filepos15177"><span>Philemon</span></a></span></p><div> </div>
<div id="filepos10963873">
<p><span><a href="dummy_split_004.html#filepos237475"><span>Philemon 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>Paul, a prisoner of Christ Jesus, and Timothy our brother,</span></p>
<br/><p><span>To Philemon our dear friend and fellow worker— <sup>2</sup>also to Apphia our sister and Archippus our fellow soldier—and to the church that meets in your home:</span></p>
<br/><p><span><sup>3</sup>Grace and peace to you<a id="filepos10964600" href="#filepos10968420"><span><sup>[1]</sup></span></a> from God our Father and the Lord Jesus Christ.</span></p>
<p><span><span>Thanksgiving and Prayer</span></span></p><div> </div>
<p><span><sup>4</sup>I always thank my God as I remember you in my prayers, <sup>5</sup>because I hear about your love for all his holy people and your faith in the Lord Jesus. <sup>6</sup>I pray that your partnership with us in the faith may be effective in deepening your understanding of every good thing we share for the sake of Christ. <sup>7</sup>Your love has given me great joy and encouragement, because you, brother, have refreshed the hearts of the Lord’s people.</span></p>
<p><span><span>Paul’s Plea for Onesimus</span></span></p><div> </div>
<p><span><sup>8</sup>Therefore, although in Christ I could be bold and order you to do what you ought to do, <sup>9</sup>yet I prefer to appeal to you on the basis of love. It is as none other than Paul—an old man and now also a prisoner of Christ Jesus— <sup>10</sup>that I appeal to you for my son Onesimus,<a id="filepos10965982" href="#filepos10968851"><span><sup>[2]</sup></span></a> who became my son while I was in chains. <sup>11</sup>Formerly he was useless to you, but now he has become useful both to you and to me.</span></p>
<p><span><sup>12</sup>I am sending him—who is my very heart—back to you. <sup>13</sup>I would have liked to keep him with me so that he could take your place in helping me while I am in chains for the gospel. <sup>14</sup>But I did not want to do anything without your consent, so that any favor you do would not seem forced but would be voluntary. <sup>15</sup>Perhaps the reason he was separated from you for a little while was that you might have him back forever— <sup>16</sup>no longer as a slave, but better than a slave, as a dear brother. He is very dear to me but even dearer to you, both as a fellow man and as a brother in the Lord.</span></p>
<p><span><sup>17</sup>So if you consider me a partner, welcome him as you would welcome me. <sup>18</sup>If he has done you any wrong or owes you anything, charge it to me. <sup>19</sup>I, Paul, am writing this with my own hand. I will pay it back—not to mention that you owe me your very self. <sup>20</sup>I do wish, brother, that I may have some benefit from you in the Lord; refresh my heart in Christ. <sup>21</sup>Confident of your obedience, I write to you, knowing that you will do even more than I ask.</span></p>
<p id="filepos10967599"><span><sup>22</sup>And one thing more: Prepare a guest room for me, because I hope to be restored to you in answer to your prayers.</span></p>
<br/><br/><p><span><sup>23</sup>Epaphras, my fellow prisoner in Christ Jesus, sends you greetings. <sup>24</sup>And so do Mark, Aristarchus, Demas and Luke, my fellow workers.</span></p>
<p id="filepos10968090"><span><sup>25</sup>The grace of the Lord Jesus Christ be with your spirit.</span></p>
</div>
</div>
<div title="notes" id="fnn57">
<p><span><span>Philemon 1</span></span></p><div> </div>
<blockquote><p id="filepos10968420"><span><a href="#filepos10964600"><span><sup>[1]</sup></span></a><span>1:3</span> The Greek is plural; also in verses <a href="#filepos10967599"><span>22</span></a> and <a href="#filepos10968090"><span>25</span></a>; elsewhere in this letter “you” is singular.</span></p></blockquote>
<blockquote><p id="filepos10968851"><span><a href="#filepos10965982"><span><sup>[2]</sup></span></a><span>1:10</span>
<span>Onesimus</span> means <span>useful.</span></span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_95"></div></body>
</html>
