--- 
layout: article 
title: Deuteronomy
categories: ["Holy Bible","The Old Testament"] 
pageName: article 
chapterTitle: Deuteronomy 
anchor: dummy_split_002.html#filepos8122 
thumbnail: /images/thumb/tb-bible.jpg
---

<div>
<div id="filepos8732349">
<p><span><a href="dummy_split_002.html#filepos8122"><span>Obadiah</span></a></span></p><div> </div>
<div id="filepos8732519">
<p><span><a href="dummy_split_004.html#filepos188464"><span>Obadiah 1</span></a></span></p><div> </div>
<div>
<p><span><span>Obadiah’s Vision</span></span></p><div> </div>
<p><span><sup>1</sup>The vision of Obadiah.</span></p>
<br/><br/><p><span>This is what the Sovereign <span><span>LORD</span></span> says about Edom—</span></p>
<br/><div title="poetry">
<blockquote><p><span>We have heard a message from the <span><span>LORD</span></span>:</span></p></blockquote><div> </div>
<blockquote><p><span>An envoy was sent to the nations to say,</span></p></blockquote><div> </div>
<blockquote><p><span>“Rise, let us go against her for battle”—</span></p></blockquote>
<br/><blockquote><p><span><sup>2</sup>“See, I will make you small among the nations;</span></p></blockquote><div> </div>
<blockquote><p><span>you will be utterly despised.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>3</sup>The pride of your heart has deceived you,</span></p></blockquote><div> </div>
<blockquote><p><span>you who live in the clefts of the rocks<a id="filepos8734411" href="#filepos8748379"><span><sup>[1]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>and make your home on the heights,</span></p></blockquote><div> </div>
<blockquote><p><span>you who say to yourself,</span></p></blockquote><div> </div>
<blockquote><p><span>‘Who can bring me down to the ground?’</span></p></blockquote><div> </div>
<blockquote><p><span><sup>4</sup>Though you soar like the eagle</span></p></blockquote><div> </div>
<blockquote><p><span>and make your nest among the stars,</span></p></blockquote><div> </div>
<blockquote><p><span>from there I will bring you down,”</span></p></blockquote><div> </div>
<blockquote><p><span>declares the <span><span>LORD</span></span>.</span></p></blockquote>
<blockquote><p><span><sup>5</sup>“If thieves came to you,</span></p></blockquote><div> </div>
<blockquote><p><span>if robbers in the night—</span></p></blockquote><div> </div>
<blockquote><p><span>oh, what a disaster awaits you!—</span></p></blockquote><div> </div>
<blockquote><p><span>would they not steal only as much as they wanted?</span></p></blockquote><div> </div>
<blockquote><p><span>If grape pickers came to you,</span></p></blockquote><div> </div>
<blockquote><p><span>would they not leave a few grapes?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>6</sup>But how Esau will be ransacked,</span></p></blockquote><div> </div>
<blockquote><p><span>his hidden treasures pillaged!</span></p></blockquote><div> </div>
<blockquote><p><span><sup>7</sup>All your allies will force you to the border;</span></p></blockquote><div> </div>
<blockquote><p><span>your friends will deceive and overpower you;</span></p></blockquote><div> </div>
<blockquote><p><span>those who eat your bread will set a trap for you,<a id="filepos8737557" href="#filepos8748619"><span><sup>[2]</sup></span></a></span></p></blockquote><div> </div>
<blockquote><p><span>but you will not detect it.</span></p></blockquote>
<br/><blockquote><p><span><sup>8</sup>“In that day,” declares the <span><span>LORD</span></span>,</span></p></blockquote><div> </div>
<blockquote><p><span>“will I not destroy the wise men of Edom,</span></p></blockquote><div> </div>
<blockquote><p><span>those of understanding in the mountains of Esau?</span></p></blockquote><div> </div>
<blockquote><p><span><sup>9</sup>Your warriors, Teman, will be terrified,</span></p></blockquote><div> </div>
<blockquote><p><span>and everyone in Esau’s mountains</span></p></blockquote><div> </div>
<blockquote><p><span>will be cut down in the slaughter.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>10</sup>Because of the violence against your brother Jacob,</span></p></blockquote><div> </div>
<blockquote><p><span>you will be covered with shame;</span></p></blockquote><div> </div>
<blockquote><p><span>you will be destroyed forever.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>11</sup>On the day you stood aloof</span></p></blockquote><div> </div>
<blockquote><p><span>while strangers carried off his wealth</span></p></blockquote><div> </div>
<blockquote><p><span>and foreigners entered his gates</span></p></blockquote><div> </div>
<blockquote><p><span>and cast lots for Jerusalem,</span></p></blockquote><div> </div>
<blockquote><p><span>you were like one of them.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>12</sup>You should not gloat over your brother</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of his misfortune,</span></p></blockquote><div> </div>
<blockquote><p><span>nor rejoice over the people of Judah</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their destruction,</span></p></blockquote><div> </div>
<blockquote><p><span>nor boast so much</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their trouble.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>13</sup>You should not march through the gates of my people</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their disaster,</span></p></blockquote><div> </div>
<blockquote><p><span>nor gloat over them in their calamity</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their disaster,</span></p></blockquote><div> </div>
<blockquote><p><span>nor seize their wealth</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their disaster.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>14</sup>You should not wait at the crossroads</span></p></blockquote><div> </div>
<blockquote><p><span>to cut down their fugitives,</span></p></blockquote><div> </div>
<blockquote><p><span>nor hand over their survivors</span></p></blockquote><div> </div>
<blockquote><p><span>in the day of their trouble.</span></p></blockquote>
<br/><blockquote><p><span><sup>15</sup>“The day of the <span><span>LORD</span></span> is near</span></p></blockquote><div> </div>
<blockquote><p><span>for all nations.</span></p></blockquote><div> </div>
<blockquote><p><span>As you have done, it will be done to you;</span></p></blockquote><div> </div>
<blockquote><p><span>your deeds will return upon your own head.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>16</sup>Just as you drank on my holy hill,</span></p></blockquote><div> </div>
<blockquote><p><span>so all the nations will drink continually;</span></p></blockquote><div> </div>
<blockquote><p><span>they will drink and drink</span></p></blockquote><div> </div>
<blockquote><p><span>and be as if they had never been.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>17</sup>But on Mount Zion will be deliverance;</span></p></blockquote><div> </div>
<blockquote><p><span>it will be holy,</span></p></blockquote><div> </div>
<blockquote><p><span>and Jacob will possess his inheritance.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>18</sup>Jacob will be a fire</span></p></blockquote><div> </div>
<blockquote><p><span>and Joseph a flame;</span></p></blockquote><div> </div>
<blockquote><p><span>Esau will be stubble,</span></p></blockquote><div> </div>
<blockquote><p><span>and they will set him on fire and destroy him.</span></p></blockquote><div> </div>
<blockquote><p><span>There will be no survivors</span></p></blockquote><div> </div>
<blockquote><p><span>from Esau.”</span></p></blockquote><div> </div>
<blockquote><p><span>The <span><span>LORD</span></span> has spoken.</span></p></blockquote>
<br/><blockquote><p><span><sup>19</sup>People from the Negev will occupy</span></p></blockquote><div> </div>
<blockquote><p><span>the mountains of Esau,</span></p></blockquote><div> </div>
<blockquote><p><span>and people from the foothills will possess</span></p></blockquote><div> </div>
<blockquote><p><span>the land of the Philistines.</span></p></blockquote><div> </div>
<blockquote><p><span>They will occupy the fields of Ephraim and Samaria,</span></p></blockquote><div> </div>
<blockquote><p><span>and Benjamin will possess Gilead.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>20</sup>This company of Israelite exiles who are in Canaan</span></p></blockquote><div> </div>
<blockquote><p><span>will possess the land as far as Zarephath;</span></p></blockquote><div> </div>
<blockquote><p><span>the exiles from Jerusalem who are in Sepharad</span></p></blockquote><div> </div>
<blockquote><p><span>will possess the towns of the Negev.</span></p></blockquote><div> </div>
<blockquote><p><span><sup>21</sup>Deliverers will go up on<a id="filepos8747702" href="#filepos8748897"><span><sup>[3]</sup></span></a> Mount Zion</span></p></blockquote><div> </div>
<blockquote><p><span>to govern the mountains of Esau.</span></p></blockquote><div> </div>
<blockquote><p><span>And the kingdom will be the <span><span>LORD</span></span>’s.</span></p></blockquote>
</div>
</div>
</div>
<div title="notes" id="fnn31">
<p><span><span>Obadiah 1</span></span></p><div> </div>
<blockquote><p id="filepos8748379"><span><a href="#filepos8734411"><span><sup>[1]</sup></span></a><span>1:3</span> Or <span>of Sela</span></span></p></blockquote>
<blockquote><p id="filepos8748619"><span><a href="#filepos8737557"><span><sup>[2]</sup></span></a><span>1:7</span> The meaning of the Hebrew for this clause is uncertain.</span></p></blockquote>
<blockquote><p id="filepos8748897"><span><a href="#filepos8747702"><span><sup>[3]</sup></span></a><span>1:21</span> Or <span>from</span></span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_65"></div>
