<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>Holy Bible: New International Version</title>
	<meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/><link href="stylesheet.css" type="text/css" rel="stylesheet"/><style type="text/css">
		@page { margin-bottom: 5.000000pt; margin-top: 5.000000pt; }</style></head>
  <body>
<div>
<div id="filepos11179597">
<p><span><a href="dummy_split_002.html#filepos15177"><span>Jude</span></a></span></p><div> </div>
<div id="filepos11179764">
<p><span><a href="dummy_split_004.html#filepos245079"><span>Jude 1</span></a></span></p><div> </div>
<div>
<p><span><sup>1</sup>Jude, a servant of Jesus Christ and a brother of James,</span></p>
<br/><p><span>To those who have been called, who are loved in God the Father and kept for<a id="filepos11180248" href="#filepos11186270"><span><sup>[1]</sup></span></a> Jesus Christ:</span></p>
<br/><p><span><sup>2</sup>Mercy, peace and love be yours in abundance.</span></p>
<p><span><span>The Sin and Doom of Ungodly People</span></span></p><div> </div>
<p><span><sup>3</sup>Dear friends, although I was very eager to write to you about the salvation we share, I felt compelled to write and urge you to contend for the faith that was once for all entrusted to God’s holy people. <sup>4</sup>For certain individuals whose condemnation was written about<a id="filepos11181043" href="#filepos11186519"><span><sup>[2]</sup></span></a> long ago have secretly slipped in among you. They are ungodly people, who pervert the grace of our God into a license for immorality and deny Jesus Christ our only Sovereign and Lord.</span></p>
<p><span><sup>5</sup>Though you already know all this, I want to remind you that the Lord<a id="filepos11181491" href="#filepos11186800"><span><sup>[3]</sup></span></a> at one time delivered his people out of Egypt, but later destroyed those who did not believe. <sup>6</sup>And the angels who did not keep their positions of authority but abandoned their proper dwelling—these he has kept in darkness, bound with everlasting chains for judgment on the great Day. <sup>7</sup>In a similar way, Sodom and Gomorrah and the surrounding towns gave themselves up to sexual immorality and perversion. They serve as an example of those who suffer the punishment of eternal fire.</span></p>
<p><span><sup>8</sup>In the very same way, on the strength of their dreams these ungodly people pollute their own bodies, reject authority and heap abuse on celestial beings. <sup>9</sup>But even the archangel Michael, when he was disputing with the devil about the body of Moses, did not himself dare to condemn him for slander but said, “The Lord rebuke you!”<a id="filepos11182548" href="#filepos11187058"><span><sup>[4]</sup></span></a>
<sup>10</sup>Yet these people slander whatever they do not understand, and the very things they do understand by instinct—as irrational animals do—will destroy them.</span></p>
<p><span><sup>11</sup>Woe to them! They have taken the way of Cain; they have rushed for profit into Balaam’s error; they have been destroyed in Korah’s rebellion.</span></p>
<p><span><sup>12</sup>These people are blemishes at your love feasts, eating with you without the slightest qualm—shepherds who feed only themselves. They are clouds without rain, blown along by the wind; autumn trees, without fruit and uprooted—twice dead. <sup>13</sup>They are wild waves of the sea, foaming up their shame; wandering stars, for whom blackest darkness has been reserved forever.</span></p>
<p><span><sup>14</sup>Enoch, the seventh from Adam, prophesied about them: “See, the Lord is coming with thousands upon thousands of his holy ones <sup>15</sup>to judge everyone, and to convict all of them of all the ungodly acts they have committed in their ungodliness, and of all the defiant words ungodly sinners have spoken against him.”<a id="filepos11184019" href="#filepos11187413"><span><sup>[5]</sup></span></a>
<sup>16</sup>These people are grumblers and faultfinders; they follow their own evil desires; they boast about themselves and flatter others for their own advantage.</span></p>
<p><span><span>A Call to Persevere</span></span></p><div> </div>
<p><span><sup>17</sup>But, dear friends, remember what the apostles of our Lord Jesus Christ foretold. <sup>18</sup>They said to you, “In the last times there will be scoffers who will follow their own ungodly desires.” <sup>19</sup>These are the people who divide you, who follow mere natural instincts and do not have the Spirit.</span></p>
<p><span><sup>20</sup>But you, dear friends, by building yourselves up in your most holy faith and praying in the Holy Spirit, <sup>21</sup>keep yourselves in God’s love as you wait for the mercy of our Lord Jesus Christ to bring you to eternal life.</span></p>
<p><span><sup>22</sup>Be merciful to those who doubt; <sup>23</sup>save others by snatching them from the fire; to others show mercy, mixed with fear—hating even the clothing stained by corrupted flesh.<a id="filepos11185474" href="#filepos11187758"><span><sup>[6]</sup></span></a></span></p>
<p><span><span>Doxology</span></span></p><div> </div>
<p><span><sup>24</sup>To him who is able to keep you from stumbling and to present you before his glorious presence without fault and with great joy— <sup>25</sup>to the only God our Savior be glory, majesty, power and authority, through Jesus Christ our Lord, before all ages, now and forevermore! Amen.</span></p>
</div>
</div>
<div title="notes" id="fnn65">
<p><span><span>Jude 1</span></span></p><div> </div>
<blockquote><p id="filepos11186270"><span><a href="#filepos11180248"><span><sup>[1]</sup></span></a><span>1:1</span> Or <span>by</span>; or <span>in</span></span></p></blockquote>
<blockquote><p id="filepos11186519"><span><a href="#filepos11181043"><span><sup>[2]</sup></span></a><span>1:4</span> Or <span>individuals who were marked out for condemnation</span></span></p></blockquote>
<blockquote><p id="filepos11186800"><span><a href="#filepos11181491"><span><sup>[3]</sup></span></a><span>1:5</span> Some early manuscripts <span>Jesus</span></span></p></blockquote>
<blockquote><p id="filepos11187058"><span><a href="#filepos11182548"><span><sup>[4]</sup></span></a><span>1:9</span> Jude is alluding to the Jewish <span>Testament of Moses</span> (approximately the first century <span><span>A.D.</span></span>).</span></p></blockquote>
<blockquote><p id="filepos11187413"><span><a href="#filepos11184019"><span><sup>[5]</sup></span></a><span>1:14, 15</span> From the Jewish <span>First Book of Enoch</span> (approximately the first century <span><span>B.C.</span></span>)</span></p></blockquote>
<blockquote><p id="filepos11187758"><span><a href="#filepos11185474"><span><sup>[6]</sup></span></a><span>1:22, 23</span> The Greek manuscripts of these verses vary at several points.</span></p></blockquote>
</div>
</div>
</div>  <div id="calibre_pb_103"></div></body>
</html>
