<!DOCTYPE html>
<html lang="en" manifest="/Marching.manifest">
	{% include head.html %}
<body>
	{% include header.html %}

	<main id="containerMain" role="main">
		<div id="progressBar" class="progress loading active d-print-none">
			<div class="progress-bar" role="progressbar"></div>
			<div class="progress-bar" role="progressbar"></div>
			<div class="progress-bar" role="progressbar"></div>
			<div class="progress-bar" role="progressbar"></div>
		</div>
		{{ content }}
		<div class="mb-4 clearfix d-print-none"></div>
	</main>

	{% include footer.html %}
</body>
</html>