---
layout: withBreadcrumbs
pageName: examination
---

<article id="examination" class="container-fluid invisible">
	<header class="text-center">
		<div class="mb-3">四川省{{ page.period }}高等教育自学考试</div>
		<h1 class="mb-3">
			{{ page.title }} &nbsp;&nbsp;&nbsp;&nbsp; 试卷
			<a class="d-print-none mx-2" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="显示所有答案">
				<i class="fa fa-question-circle"></i>
			</a>
		</h1>
		<small class="d-block mb-1">（课程代码 &nbsp;&nbsp; {{page.courseID}}）</small>
	</header>
	<p class="mb-5">{{page.description}}</p>
	{% assign sectionCounter = 0 %}
	{% assign topicNOs = '一,二,三,四,五,六,七,八,九,十' | split: ',' %}
	{% assign topicCounter = 0 %}
	{% assign counter = 1 %}
	<form>
		{% for section in page.sections %}
		<section class="mb-5">
			<h2 class="text-center mb-5">第{{ topicNOs[sectionCounter] }}部分{{ section.title }}</h2>
			{% for topic in section.topics %}
			<section class="mb-3">
				<h3 class="row no-gutters mb-3">
					<span class="col" style="flex-grow: 0;">{{topicNOs[topicCounter]}}、</span>
					<span class="col">
						{{ topic.title }}
						<a class="d-print-none mx-2" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="显示本组题答案">
							<i class="fa fa-question-circle"></i>
						</a>
					</span>
				</h3>
				<div class="clearfix"></div>
				<ul class="list-unstyled pl-4">
					{% for quetion in topic.quetions %}
					<li class="mb-3" data-type="{{ quetion.type }}">
						<h4 class="row no-gutters">
							<span class="col" style="flex-grow: 0;">{{ counter }}、</span>
							<span class="col">
								{% if quetion.type == 'text' %}
								{% capture input %}
								<div class="embed-responsive d-inline-block align-middle">
									<input class="form-control form-control-sm embed-responsive-item" type="text" />
									<div class="collapse">
										<div class="form-control border-info text-nowrap text-info">{{quetion.answer}}</div>
									</div>
								</div>
								{% endcapture %}
								{{ quetion.title | replace: '________', input }}
								{% else %}
								{{ quetion.title }}
								{% endif %}
								<a class="d-print-none mx-2" href="#collapse{{ counter }}" role="button" aria-expanded="false" aria-controls="collapse{{ counter }}" data-toggle="collapse" data-toggle="tooltip" data-placement="top" title="显示本题答案"><i class="fa fa-question-circle"></i></a>
								{% if quetion.type == 'yesOrNo' %}
								<div class="custom-control custom-control-inline custom-checkbox align-text-top mr-1">
									<input type="checkbox" class="custom-control-input" id="checkbox{{ counter }}" value="{{ quetion.isTrue }}" />
									<label class="custom-control-label" for="checkbox{{ counter }}">&nbsp;</label>
								</div>
								<div class="embed-responsive d-inline-block align-middle">
									<input id="input{{ counter }}" class="form-control form-control-sm embed-responsive-item" type="text" />
									<div class="collapse" id="collapse{{ counter }}">
										<div class="form-control border-info text-nowrap text-info">{{ quetion.answer }}</div>
									</div>
								</div>
								{% endif %}
							</span>
						</h4>
						<div class="clearfix"></div>
						<div class="pl-4">
							{% if quetion.type == 'radio' %}
							<ul class="row list-unstyled" style="list-style-type: upper-alpha; list-style-position: inside;">
								{% for option in quetion.options %}
								<li class="col-12 col-sm-6 col-lg-3">
									<div class="custom-control custom-control-inline custom-radio align-text-top mr-0">
										<input name="radio{{ counter }}" type="radio" class="custom-control-input" id="radio{{ counter }}{{ forloop.index }}" value="{{ option.isTrue }}" />
										<label class="custom-control-label" for="radio{{ counter }}{{ forloop.index }}">{{ option.answer }}</label>
									</div>
								</li>
								{% endfor %}
							</ul>
							{% elsif quetion.type == 'textarea' %}
							<div class="embed-responsive">
								<textarea class="form-control embed-responsive-item" rows="4"></textarea>
								<div class="collapse" id="collapse{{ counter }}">
									<div class="form-control form-control-sm border-info text-info">{{ quetion.answer }}</div>
								</div>
							</div>
							{% else %}
							{% endif %}
						</div>
					</li>
					{% assign counter = counter | plus: 1 %}
					{% endfor %}
				</ul>
			</section>
			{% assign topicCounter = topicCounter | plus: 1 %}
			{% endfor %}
		</section>
		{% assign sectionCounter = sectionCounter | plus: 1 %}
		{% endfor %}
	</form>
</article>